
<div class="page-body"> <!--TOP BAR MENU PANEL START -->

    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">View User Information</h1>
            <p class="description">View All Users Information</p>
        </div>
    </div>
    <!--PAGE TITLE END -->

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li ui-sref="admin.user-list({status:'active'})" class="{{viewUser.viewType=='active'?'active':''}}">
                    <a href="" data-toggle="tab">
                        <span class="visible-xs"><i class="fa-user">+</i></span> <span class="hidden-xs">Active Users</span> 
                    </a>
                </li>
                <li ui-sref="admin.user-list({status:'inactive'})" class="{{viewUser.viewType=='inactive'?'active':''}}">
                    <a href="" data-toggle="tab">
                        <span class="visible-xs"><i class="fa-user">x</i></span> <span class="hidden-xs">Inactive Users</span> 
                    </a>
                </li>
                <li ui-sref="admin.user-list({status:'all'})" class="{{viewUser.viewType=='all'?'active':''}}">
                    <a href="" data-toggle="tab">
                        <span class="visible-xs"><i class="fa fa-users"></i></span> <span class="hidden-xs">All Users</span> 
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="padding-bottom:0px;">
                <div id="home" class="tab-pane active">
                    <form class="form-horizontal">

                        <div class="panel-body">                        
                            <div class="panel-body pad_top0 pad0">
                                <div class="row">                            
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-6 pull-left">
                                            <label class="col-sm-3 control-label pull-left" style="min-width:110px;"><span style="float:left;">Show Entries</span></label>
                                            <div style="width:70px; float:left;">
                                                <select class="form-control input-sm" ng-model="viewUser.searchParams.limit">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12 pull-right">
                                            <input type="search" class="form-control input-sm" ng-model="viewUser.searchParams.name" placeholder="Search by [Name,User name]" ng-change="viewUser.applySearch()">
                                        </div> 

                                    </div>
                                </div>
                                <div class="row">  </div>
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="table-responsive scroll">

                                        <table id="example-1" ng-if="viewUser.employeeList.length" class="table table-striped table-bordered  table table-small-font" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th width="25%" ng-class="viewUser.applySortingClass('lName')" ng-click="viewUser.applySorting('lName')">Name & Position
                                                    </th>
                                                    <th width="15%" ng-class="viewUser.applySortingClass('username')" ng-click="viewUser.applySorting('username')">Username
                                                    </th>
                                                    <th width="15%" >Phone
                                                    </th>
                                                    <th width="25%">Address</th>
                                                    <!--<th width="15%">Languages Spoken</th>-->
                                                    <th width="20%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr pagination-id="drinksPagination" dir-paginate="emp in viewUser.employeeList| itemsPerPage: viewUser.searchParams.limit" 
                                                    total-items="totalRecords"
                                                    current-page="viewUser.searchParams.pageNo">
                                                    <th> 
                                            <div class="user_panel" ng-click="viewUser.openEditModal(emp, 'modal-5')" style="cursor: pointer">
                                                <div ng-if="emp.employee.profileImage != null && emp.employee.profileImage != ''" class="user_img"> 
                                                    <img alt="user" class="img-cirlce img-responsive" imageonload="hideDefaultImage" src="assets/images/user-5.png" ng-src="{{(emp.employee.profileImage != null && emp.employee.profileImage != '') ? (amazonPublicUrl + viewUser.companyCode + '/' + emp.employee.profileImage) : ('assets/images/user-5.png')}}"> 
                                                    <img alt="user" class="img-cirlce img-responsive" ng-hide="hideDefaultImage" src="assets/images/loading.gif"/>
                                                </div>
                                                <div ng-if="emp.employee.profileImage == null || emp.employee.profileImage == ''" class="user_img"> 
                                                    <img alt="user" class="img-cirlce img-responsive" src="assets/images/user-5.png"> 
                                                </div>
                                                <div class="emp_user_hd">
                                                    <div class="emp_user_name">{{emp.employee.lName}}, {{emp.employee.fName}} {{emp.employee.middleInitial}}</div>
                                                    <p>{{emp.role}} <span ng-if="positions[emp.employee.companyPositionId]!=null">- {{positions[emp.employee.companyPositionId]}}</span></p>
                                                </div>
                                            </div>
                                            </th>
                                            <td>{{emp.username}}</td>
                                            <td>{{emp.employee.phone| tel}}</td>
                                            <td>
                                                <div>{{emp.employee.address1}}</div> <div ng-if="emp.employee.address2 != null">{{emp.employee.address2}}</div> {{emp.employee.city}}, {{emp.employee.state}}, {{emp.employee.zipcode}}
                                            </td>
                                            <!--<td>{{viewUser.getLanguagesFromCode(emp.employee.languageSpoken)}}</td>-->
                                            <td>
                                                <div class="center" ng-if="currentUser.userName != emp.username">
                                                    <a class="btn icon-left fa fa-pencil edit_button" href="" ng-if="hasAccess('EDIT_USER')" ng-click="viewUser.edit(emp)" tooltip="Edit"><span class="ed_b"></span></a> 
                                                    <a class="btn icon-left fa fa-trash-o delete_button" ng-if="hasAccess('DELETE_USER')" href="" ng-click="viewUser.openDeleteModal(emp, 'deleteModel')" tooltip="Delete"><span class="ed_b"></span></a>
                                                    <a class="btn icon-left fa fa-ban deactivate_bt" href="" ng-if="emp.status == 'a' && hasAccess('DEACTIVATE_USER')" ng-click="viewUser.openActivateDeactivateModal(emp, 'activateDeactivateModel', 'deactivate')" tooltip="Deactivate"><span class="ed_b"></span></a>
                                                    <a class="btn icon-left fa fa-check edit_button" href="" ng-if="emp.status == 'i' && hasAccess('ACTIVATE_USER')" ng-click="viewUser.openActivateDeactivateModal(emp, 'activateDeactivateModel', 'activate')" tooltip="Activate"><span class="ed_b"></span></a>                                                    
                                                </div>
                                            </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <script type="text/javascript">
                                        // This JavaScript Will Replace Checkboxes in dropdown toggles
                                        jQuery(document).ready(function ($)
                                        {
                                            setTimeout(function ()
                                            {
                                                $(".checkbox-row input").addClass('cbr');
                                                cbr_replace();
                                            }, 0);
                                        });
                                    </script>

                                </div>
                                <div ng-show="viewUser.employeeList.length">
                                    <div id="paginationButtons" class="text-right">
                                        <dir-pagination-controls boundary-links="true" 
                                                                 max-size="9"
                                                                 template-url="app/tpls/dirPagination.tpl.html" pagination-id="drinksPagination" on-page-change="viewUser.pageChanged(newPageNumber)"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modal-5">
    <div class="modal-body">
    <div class="row">
    <div class="user_panel col-md-12">
    <div class="user_img"> 
    <img alt="user" class="img-cirlce img-responsive" src="assets/images/user-5.png" ng-src="{{(selectUserModel.user.employee.profileImage!=null && selectUserModel.user.employee.profileImage!='') ?(amazonPublicUrl+selectUserModel.companyCode+'/'+selectUserModel.user.employee.profileImage):('assets/images/user-5.png')}}"> </div>
    <div class="emp_user_hd">
    <div class="emp_user_name">{{selectUserModel.user.employee.lName}}, {{selectUserModel.user.employee.fName}} {{selectUserModel.user.employee.middleInitial}}</div>
    <p>{{positions[selectUserModel.user.employee.companyPositionId]}}</p>
    </div>
    <button type="button" class="close" ng-click="selectUserModel.close();" aria-hidden="true">&times;</button>
    </div>

    </div>
    <hr/>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Position</strong></label>
    <div class="col-md-7">
    {{positions[selectUserModel.user.employee.companyPositionId]}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Phone Number</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.phone | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row" ng-if="selectUserModel.user.employee.phone2!=null">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Phone 2</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.phone2 | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row" ng-if="selectUserModel.user.employee.emergencyContactName!=null">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Emergency Contact Name</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.emergencyContactName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row" ng-if="selectUserModel.user.employee.emergencyContactNumber!=null">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Emergency Contact Number</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.emergencyContactNumber | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Address</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.address1}}<div ng-if="selectUserModel.user.employee.address2 != null">{{selectUserModel.user.employee.address2}}</div><div>  {{selectUserModel.user.employee.city}}, {{selectUserModel.user.employee.state}}, {{selectUserModel.user.employee.zipcode}}</div>
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Date Of Birth</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.dateOfBirth|date :dateFormat}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Social Security Number</strong></label>
    <div class="col-md-7">
    {{selectUserModel.user.employee.ssn | ssn}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="form-group">
    <label for="field-1" class="control-label col-md-5"><strong>Languages Spoken</strong></label>
    <div class="col-md-7">
    <span ng-if="selectUserModel.user.employee.languageSpoken== null || selectUserModel.user.employee.languageSpoken.length==0">N/A</span>
    <span ng-repeat="language in selectUserModel.user.employee.languageSpoken">{{languages[language]}}
    <label ng-if="$index<selectUserModel.user.employee.languageSpoken.length-1">, </label>
    </span>
    </div>
    </div>	

    </div>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="selectUserModel.close();">Close</button>
    </div>
</script>
<script type="text/ng-template" id="deleteModel">
    <div class="modal-header">		
    <h4 class="modal-title">{{deleteUserModel.user.employee.lName}} {{deleteUserModel.user.employee.fName}} {{deleteUserModel.user.employee.middleInitial}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to delete this User?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="deleteUserModel.delete(deleteUserModel.user);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="deleteUserModel.dismiss();">No</button>
    </div>
</script>
<script type="text/ng-template" id="activateDeactivateModel">
    <div class="modal-header">		
    <h4 class="modal-title">{{activateModal.user.employee.lName}} {{activateModal.user.employee.fName}} {{activateModal.user.employee.middleInitial}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to {{activateModal.action}} this User?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="activateModal.confirm(activateModal.user);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="activateModal.dismiss();">No</button>
    </div>
</script>
