
<div class="login-container login-page login-light" ng-controller='loginCtrlr'>
    <div class="row" style="max-width:500px; margin:auto;">
        <div class="col-sm-12"> 
            <script type="text/javascript">
                        jQuery(document).ready(function ($)
                        {
                            // Reveal Login form
                            setTimeout(function () {
                                $(".fade-in-effect").addClass('in');
                            }, 1);
                            $("form#forgotPassword .form-group:has(.form-control):first .form-control").focus();

                        });
            </script> 
            <!-- Errors container -->
            <div class="errors-container"> </div>
            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" id="forgotPassword" name='login' class="login-form fade-in-effect validate" ng-submit='forgotPwd.submitHandler();'>
                <div class="login-header"> <a href="#" class="logo"> <img src="assets/images/logo-white-bg@2x.png" alt="" width="80"/> <span>forgot password</span> </a>
                    <p>Dear user, Enter your username to get your password!</p>
                </div>
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Enter your username" name="username" ng-keyup="$event.keyCode == 13 && forgotPwd.submitHandler()" id="username" data-validate="required" data-message-required="Please enter Username." autocomplete="off" ng-model='forgotPwd.username'/>
                </div>
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Enter your company code" name="companyCode" ng-keyup="$event.keyCode == 13 && forgotPwd.submitHandler()" id="companyCode" data-validate="required" data-message-required="Please enter Company code." autocomplete="off" ng-model='forgotPwd.companyCode'/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary  btn-block text-left" > <i class="fa-refresh"></i> Reset Password </button>
                </div>
                <div class="login-footer"> <a ui-sref="login">Login!</a>                  
                </div>
            </form>
            <!-- External login --> 
        </div>
    </div>
</div>