<div class="row" ng-init="addEmployee.tab1DataInit()">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" id="add_employee_form" name="add_employee_form" role="form" ng-submit="addEmployee.saveEmployee()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="user_p">
                                <img alt="user" class="img-cirlce img-responsive" src="assets/images/user-5.png"/>
                            </div>
                            <div class="user_p_hd">
                                <h1>
                                    Jack Gates
                                </h1>
                                <p>
                                    Administrator
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <button class="btn btn-info green_bt pull-right" type="submit">
                                Save Changes
                            </button>
                            <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                Reset To Default
                            </button>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            First Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="FirstName" type="text" ng-model="addEmployee.employee.fName"
                                   data-validate="required" data-message-required="Please enter First Name."/>

                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-29">
                            Middle Initial
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-29" name="MiddleInitial" type="text" ng-model="addEmployee.employee.middleInitial"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Last Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="LastName" type="text" ng-model="addEmployee.employee.lName"
                                   data-validate="required" data-message-required="Please enter Last Name."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Social Security #
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="SocialSecurity" type="text" ng-model="addEmployee.employee.socialSecurity"
                                   data-validate="required" data-message-required="Please enter Social Security."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Date Of Birth
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="DateOfBirth" type="text" ng-model="addEmployee.employee.dateOfBirth"
                                       data-validate="required,date" data-message-required="Please enter Date of Birth."/>
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Phone
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Phone" type="text" data-validate="required,number,minlength[10]" ng-model="addEmployee.employee.phone"
                                   data-message-required="Please enter Phone Number." data-message-minlength="This field must be 10 digits" data-message-maxlength="This field must be 10 digits"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Email
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Email" type="email" ng-model="addEmployee.employee.email"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Address 1
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Address1" type="text" ng-model="addEmployee.employee.address1"
                                   data-validate="required" data-message-required="Please enter Address 1"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Address 2
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Address2" type="text" ng-model="addEmployee.employee.address2"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            City
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="City" type="text" ng-model="addEmployee.employee.city"
                                   data-validate="required" data-message-required="Please enter City."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            State
                        </label>
                        <div class="col-sm-9">
                            <script type="text/javascript">
                                // jQuery(document).ready(function($)
                                //            {
                                //              $("#sboxit-1").selectBoxIt().on('open', function()
                                //              {
                                //                // Adding Custom Scrollbar
                                //                $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                                //              });
                                //            });
                            </script>
                            <select class="form-control" id="sboxit-1" name="State" ng-model="addEmployee.employee.state"
                                    data-validate="required" data-message-required="Please enter State.">
                                <option value="">
                                    Select
                                </option>
                                <option value="1">
                                    1
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Zip Code
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="ZipCode" type="text" ng-model="addEmployee.employee.zipcode"
                                   data-validate="required" data-message-required="Please enter Zip Code."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Payroll ID
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="PayrollID" type="text" ng-model="addEmployee.employee.payrollId"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Position
                        </label>
                        <div class="col-sm-9">
                            <div class="form-block">
                                <label>
                                    <input checked="" class="cbr" id="Position" name="Position" value="Personal Care" type="radio" ng-model="addEmployee.employee.position">
                                    Personal Care
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input class="cbr" name="Position" type="radio" value="Nursing Care" ng-model="addEmployee.employee.position">
                                    Nursing Care
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="PT" type="radio" ng-model="addEmployee.employee.position">
                                    PT
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="OT" type="radio" ng-model="addEmployee.employee.position">
                                    OT
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="NUT" type="radio" ng-model="addEmployee.employee.position">
                                    NUT
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="ST" type="radio" ng-model="addEmployee.employee.position">
                                    ST
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="Admin" type="radio" ng-model="addEmployee.employee.position">
                                    Admin
                                    </input>
                                </label>
                                <br/>
                                <label>
                                    <input checked="" class="cbr" name="Position" value="Market Rep." type="radio" ng-model="addEmployee.employee.position"/>
                                    Market Rep.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"  ng-if="addPatient.editMode">
                    </div>
                    <div class="row"  ng-if="addPatient.editMode">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" ng-click="addEmployee.navigateToTab($event, 'tab2')">
                                Next »
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FORM WIZARD WITH VALIDATION END HERE-->
<script type="text/javascript">
    // validate
    var form_clean;
    customJqueryValidation();
    jQuery(document).ready(function($) {
        setTimeout(function() {
            $(".fade-in-effect").addClass('in');

        }, 1);
        //to set an variable to check dirtiness of form.
//        setTimeout(function() {
//        // serialize clean form
//            $(function() {
//                form_clean = $("form").serialize();
//            });
//        }, 500);

//        // Validation
//        $("#add_employee_tab_1_form").validate({
//            rules: {City: {required: true},
//                FirstName: {required: true},
//                Phone: {required: true},
//                LastName: {required: true},
//// Address2: {required: true},
//                ZipCode: {required: true},
//                DateOfBirth: {required: true, ontimedate: true},
//                State: {required: true},
//                Address1: {required: true},
//                SocialSecurity: {required: true},
//// Email: {required: true, email: true},
//// PayrollID: {required: true},
//            },
//            messages: {City: {required: 'Please enter City.'},
//                FirstName: {required: 'Please enter First Name.'},
//                Phone: {required: 'Please enter Phone.'},
//                LastName: {required: 'Please enter Last Name.'},
//                Address2: {required: 'Please enter Address 2.'},
//                ZipCode: {required: 'Please enter Zip Code.'},
//                DateOfBirth: {required: 'Please enter Date Of Birth.'},
//                State: {required: 'Please select State.'},
//                Address1: {required: 'Please enter Address 1.'},
//                SocialSecurity: {required: 'Please enter Social Security #.'},
//                Email: {required: 'Please enter Email.'},
//                PayrollID: {required: 'Please enter Payroll ID.'},
//            },
//            errorPlacement: function(error, element) {
//                if (element.attr("name") == "DateOfBirth") {
//                    error.insertAfter($(element).parent());
//                } else {
//                    error.insertAfter(element);
//                }
//            },
//        });// validate

    });// ready 
</script>
