<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal validate" id="add_employee_form" name="add_employee_form" role="form"  onended="onFormSubmit()" ng-submit="addEmployee.saveEmployee()">
                    <div class="row">
                        <div class="col-sm-12 pull-right">
                            <button class="btn btn-info green_bt pull-right" type="submit">
                                Save Changes
                            </button>
                            <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                Reset To Default
                            </button>
                            <a class="btn btn-info btn-single pull-right" href="javascript:;" onclick="showAjaxModal();">
                                View Document
                            </a>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Application
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Application" type="file"
                                   data-validate="required" data-message-required="Please upload Application."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            License Or Certificate Expiration Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="LicenseOrCertificateExpirationDate" type="text"/>
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            I-9 Eligibility
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="I9Eligibility" type="file" fileread="addEmployee.employee.i9Eligibility"
                                   data-validate="required" data-message-required="Please upload I-9 Eligibility."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            I-9 Eligibility Expiration Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="I9EligibilityExpirationDate" type="text" ng-model="addEmployee.employee.I9EligibilityExpirationDate"
                                       data-validate="required" data-message-required="Please enter I-9 Eligibility Expiration Date."/>
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            W-4 or I9
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="W2" type="file"
                                   data-validate="required" data-message-required="Please upload W-4 or I9."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            References
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="References" type="file"
                                   data-message-required="Please upload References."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Physical
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" name="Physical" type="file" fileread="addEmployee.employee.physical"
                                   data-message-required="Please upload Physical."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Physical Expiration Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="PhysicalExpirationDate" type="text"
                                       onblur="setValidationMessage(this)" itemid="Physical Expiration Date"/>
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            TB Testing
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <label class="cbr-inline">
                                    <input value="OPPD" name="TBTesting" type="radio" class="cbr" ng-model="addEmployee.employee.tbTesting"/>
                                    PPD
                                </label>
                                <label class="cbr-inline">
                                    <input name="TBTesting" value="OCXR" type="radio" class="cbr" ng-model="addEmployee.employee.tbTesting"/>
                                    CXR
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            TB Testing Expiration Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="TBTestingExpirationDate" type="text" itemid="TB Testing Expiration Date"
                                       onblur="setValidationMessage(this)" />
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <!-- <div class="form-group">
                              <div class="col-lg-12">
                                <button class="btn btn-info green_bt pull-right" style="min-width:140px;" type="button">Add New Physical </button>
                              </div>
                              
                            </div>
                            <div class="form-group-separator"></div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Start Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="StartDate" type="text"
                                       data-validate="required,date" data-message-required="Please enter Start Date">
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            End Date
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control datepicker" data-format="mm/dd/yyyy" name="EndDate" type="text"
                                       data-validate="date" data-message-required="Please enter End Date">
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal 7 (Ajax Modal)-->
<div class="modal fade" id="modal-7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    View Document
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add_employee_tab_3_form" name="add_employee_tab_3_form" role="form">
                    <div class="row">
                        <div style="width:100%; float:left;">
                            <div class="col-sm-12">
                                <strong>
                                    You Have Uploaded 2 Rates. Click below to review.
                                </strong>
                                <br>
                                </br>
                            </div>
                            <div class="col-sm-12 ">
                                <table cellspacing="0" class="table table-small-font table-bordered table-striped" style="margin-top:15px;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                References.Zip
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                References.Zip
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showAjaxModal()
    {
        jQuery('#modal-7').modal('show', {backdrop: 'static'});

        setTimeout(function()
        {
            jQuery.ajax({
                url: "data/ajax-content.txt",
                success: function(response)
                {
                    jQuery('#modal-7 .modal-body').html(response);
                }
            });
        }, 800); // just an example
    }
</script>
<script type="text/javascript">
    function setValidationMessage(element) {
        var elementName = element.getAttribute("name") + "-error";
        var itemId = element.getAttribute("itemid");
        $("#" + elementName).text('Please enter ' + itemId + '.');
    }
    function onFormSubmit() {
        alert(1)
        $("#TBTestingExpirationDate-error").text('Please enter TB Testing Expiration Date.');
        $("#PhysicalExpirationDate-error").text('Please enter Physical Expiration Date.');
    }
    // validate
    customJqueryValidation();
    jQuery(document).ready(function($) {
        setTimeout(function() {
            $(".fade-in-effect").addClass('in');
        }, 1);
    });// ready 
</script>
