<div class="row" ng-init="addEmployee.tab2DataInit()">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal validate" id="add_employee_form" name="add_employee_form" role="form" ng-submit="addEmployee.saveEmployee()">
                    <div class="row">
                        <div class="col-sm-12 pull-right">
                            <button class="btn btn-info green_bt pull-right" type="submit">
                                Save Changes
                            </button>
                            <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                Reset To Default
                            </button>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tax Status</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <label class="cbr-inline">
                                    <input type="radio" name="TaxStatus" value='W-2' class="cbr" ng-model="addEmployee.employee.taxStatus">
                                    W-2 </label>
                                <label class="cbr-inline">
                                    <input type="radio" name="TaxStatus"  value='1099' class="cbr" ng-model="addEmployee.employee.taxStatus">
                                    1099 </label>

                            </div>
                        </div>
                    </div><div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Wages</label>
                        <div class="col-sm-10 col-md-3">
                            <div class="input-group">
                                <label class="cbr-inline" >
                                    <input type="radio" name="Wages" value='H' class="cbr" ng-model="addEmployee.employee.wages">
                                    Hourly </label>
                                <label class="cbr-inline">
                                    <input type="radio" name="Wages" value='S' class="cbr" ng-model="addEmployee.employee.wages">
                                    Salary </label>

                            </div>
                        </div>
                        <label class="col-sm-2 col-md-2 control-label" ng-show="addEmployee.employee.wages === 'S'">Salary</label>
                        <div class="col-sm-10 col-md-5" ng-show="addEmployee.employee.wages === 'S'">
                            <input class="form-control" name="Salary" type="text" ng-model="addEmployee.employee.salary"
                                   data-validate="{{addEmployee.employee.wages==='S'?'number,required':''}}" data-message-required="Please enter Salary.">
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Rate 1
                        </label>
                        <div class="col-sm-10">
                            <div class="col-sm-3">
                                <input class="form-control" name="Rate1" type="text" ng-model="addEmployee.employee.employeeCareRatesList.rate1.rate"
                                       data-validate="number,required" data-message-required="Please enter Rate 1.">
                                </input>
                            </div>
                            <div class="col-sm-6">
                                <script type="text/javascript">
                                    jQuery(document).ready(function($)
                                    {
                                        $("#rate1").multiSelect({
                                            afterInit: function()
                                            {
                                                // Add alternative scrollbar to list
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                                            },
                                            afterSelect: function()
                                            {
                                                // Update scrollbar size
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                                            }
                                        });
                                    });
                                </script>
                                <select class="form-control" id="rate1" multiple="multiple" name="my-select[]" ng-model="addEmployee.employee.employeeCareRatesList.rate1.careTypes">
                                    <option value=1>
                                        Silky Door
                                    </option>
                                    <option value="2">
                                        The Absent Twilight
                                    </option>
                                    <option value="3">
                                        Tales of Flames
                                    </option>
                                    <option value="4" ng-selected="{{addEmployee.employee.wages !== 'S'}}">
                                        The Princess's Dream
                                    </option>
                                    <option value="5">
                                        The Fairy of the Wind
                                    </option>
                                    <option value="6">
                                        Children in the Boy
                                    </option>
                                    <option value="7">
                                        Frozen Savior
                                    </option>
                                    <option value="8">
                                        The Missing Thorns
                                    </option>
                                    <option value="9">
                                        Healing of Serpent
                                    </option>
                                    <option value="10">
                                        The Voyagers's Girlfriend
                                    </option>
                                    <option value="11">
                                        The Nothing of the Gate
                                    </option>
                                    <option value="12">
                                        Healing in the Scent
                                    </option>
                                    <option value="13">
                                        Final Twins
                                    </option>
                                    <option value="14">
                                        The Willing Rose
                                    </option>
                                    <option value="15">
                                        Thorn of Emperor
                                    </option>
                                    <option value="16">
                                        The Predator's Pirates
                                    </option>
                                    <option value="17">
                                        The Lord of the Girl
                                    </option>
                                    <option value="18">
                                        Flowers in the Spirit
                                    </option>
                                    <option value="19">
                                        Healing in the Silence
                                    </option>
                                    <option value="20">
                                        Planet of Bridges
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Rate 2
                        </label>
                        <div class="col-sm-10">
                            <div class="col-sm-3">
                                <input class="form-control" name="Rate2" type="text" ng-model="addEmployee.employee.employeeCareRatesList.rate2.rate"
                                       data-validate="number,required" data-message-required="Please enter Rate 2.">
                                </input>
                            </div>
                            <div class="col-sm-6">
                                <script type="text/javascript">
                                    jQuery(document).ready(function($)
                                    {
                                        $("#rate2").multiSelect({
                                            afterInit: function()
                                            {
                                                // Add alternative scrollbar to list
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                                            },
                                            afterSelect: function()
                                            {
                                                // Update scrollbar size
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                                            }
                                        });
                                    });
                                </script>
                                <select class="form-control" id="rate2" multiple="multiple" name="my-select[]" ng-model="addEmployee.employee.employeeCareRatesList.rate2.careTypes">
                                    <option value="1">
                                        Silky Door
                                    </option>
                                    <option value="2">
                                        The Absent Twilight
                                    </option>
                                    <option value="3">
                                        Tales of Flames
                                    </option>
                                    <option value="4">
                                        The Princess's Dream
                                    </option>
                                    <option value="5">
                                        The Fairy of the Wind
                                    </option>
                                    <option value="6">
                                        Children in the Boy
                                    </option>
                                    <option value="7">
                                        Frozen Savior
                                    </option>
                                    <option value="8">
                                        The Missing Thorns
                                    </option>
                                    <option value="9">
                                        Healing of Serpent
                                    </option>
                                    <option value="10">
                                        The Voyagers's Girlfriend
                                    </option>
                                    <option value="11">
                                        The Nothing of the Gate
                                    </option>
                                    <option value="12">
                                        Healing in the Scent
                                    </option>
                                    <option value="13">
                                        Final Twins
                                    </option>
                                    <option value="14">
                                        The Willing Rose
                                    </option>
                                    <option value="15">
                                        Thorn of Emperor
                                    </option>
                                    <option value="16">
                                        The Predator's Pirates
                                    </option>
                                    <option value="17">
                                        The Lord of the Girl
                                    </option>
                                    <option  value="18">
                                        Flowers in the Spirit
                                    </option>
                                    <option value="19">
                                        Healing in the Silence
                                    </option>
                                    <option value="20">
                                        Planet of Bridges
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            OT Rate
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="OTRate" type="text" ng-model="addEmployee.employee.employeeCareRatesList.otRate"
                                   data-validate="number,required" data-message-required="Please enter OT Rate.">
                            </input>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            HD Rate
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="HDRate" type="text" ng-model="addEmployee.employee.employeeCareRatesList.hdRate"
                                   data-validate="number,required" data-message-required="Please enter HD Rate.">
                            </input>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" ng-click="addEmployee.navigateToTab($event, 'tab3')">
                                Next »
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FORM WIZARD WITH VALIDATION END HERE-->
<script type="text/javascript">
// validate
    var form_clean;
    customJqueryValidation();
    jQuery(document).ready(function($) {
        setTimeout(function() {
            $(".fade-in-effect").addClass('in');

        }, 1);
        //to set an variable to check dirtiness of form.
//        setTimeout(function() {
//        // serialize clean form
//            $(function() {
//                form_clean = $("form").serialize();
//            });
//        }, 500);
////
////
////        // Validation
////        $("#add_employee_tab_2_form").validate({
////            rules: {//Rate2: {required: true},
////                Rate1: {required: true},
////                OTHDRate: {required: true},
////            },
////            messages: {Rate2: {required: 'Please enter Rate 2.'},
////                Rate1: {required: 'Please enter Rate 1.'},
////                OTHDRate: {required: 'Please enter OT/HD Rate.'},
////            },
////            errorPlacement: function(error, element) {
////                if (element.attr("name") == "DateofBirth") {
////                    error.insertAfter($(element).parent());
////                } else {
////                    error.insertAfter(element);
////                }
////            },
////        });// validate
//
    });// ready 
</script>
