
<div class="page-body"> 

    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">Payroll History</h1>
            <p class="description">Review Past Payroll Sessions</p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <div class="row">
                            <div class="col-sm-12 pad0">
                                <div class="col-sm-7 pull-right wd_full">
                                    <div class="col-sm-6 pad0 wd_full">
                                        <div class="form-group">
                                            <label for="field-91" class="col-sm-3 control-label">From</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="field-91" class="form-control datepicker" data-format="mm/dd/yyyy">
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pad0">
                                        <div class="form-group">
                                            <label for="field-92" class="col-sm-3 control-label">To</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="field-92" class="form-control datepicker" data-format="mm/dd/yyyy">
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="panel-body pad_top0">
                    <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped" ng-if="payrollHist.historyList.length" datatable-setup >
                                <thead>
                                    <tr>
                                        <th colspan="1" rowspan="1" tabindex="0">Batch No.</th>
                                        <th colspan="1" rowspan="1" tabindex="0">Date Processed</th>
                                        <th colspan="1" rowspan="1" tabindex="0">Gross Pay</th>
                                        <th colspan="1" rowspan="1" tabindex="0">Total Employees</th>
                                        <th colspan="1" rowspan="1" tabindex="0">Total Hours</th>
                                        <th data-priority="6">Pay Period</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="history in payrollHist.historyList">
                                        <th>{{history.batchNo}}</th>
                                        <td>{{history.dateProcessed |date :dateFormat}}</td>
                                        <td> ${{history.grossPay}}</td>
                                        <td>{{history.totalEmployees}}</td>
                                        <td>{{history.totalHours}}</td>
                                        <td>{{history.payPeriod}}</td>
                                    </tr>

                                    <tr>
                                        <th>13025</th>
                                        <td>2008/11/28 </td>
                                        <td> $10.00 </td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>2008/11/28 To 2008/ 11/ 29</td>
                                    </tr>

                                    <tr>
                                        <th>13025</th>
                                        <td>2008/11/28 </td>
                                        <td> $10.00 </td>
                                        <td>10</td>
                                        <td>20</td>
                                        <td>2008/11/28 To 2008/ 11/ 29</td>
                                    </tr>

                                    <tr>
                                        <th>13025</th>
                                        <td>2008/11/28 </td>
                                        <td> $10.00 </td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>2008/11/28 To 2008/ 11/ 29</td>
                                    </tr>

                                    <tr>
                                        <th>13025</th>
                                        <td>2008/11/28 </td>
                                        <td> $10.00 </td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>2008/11/28 To 2008/ 11/ 29</td>
                                    </tr>

                                    <tr>
                                        <th>13025</th>
                                        <td>2008/11/28 </td>
                                        <td> $10.00 </td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>2008/11/28 To 2008/ 11/ 29</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <script type="text/javascript">
                            // This JavaScript Will Replace Checkboxes in dropdown toggles
                            jQuery(document).ready(function($)
                            {
                                setTimeout(function()
                                {
                                    $(".checkbox-row input").addClass('cbr');
                                    cbr_replace();
                                }, 0);
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>