<script type="text/ng-template" id="menu-item-link-tpl">
	<i ng-if="item.icon" class="{{item.icon}}"></i>
	<span class="title">{{item.title}}</span>			
	<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
	<span ng-if="hasNotifications(item.notification) && hasAccess(item.notification) && currentUser.complaintNotification  != 0" class="notification pull-right">{{getNotificationNumber(item.notification)}}</span>
</script>

<script type="text/ng-template" id="menu-items-tpl">
	<li ng-if="!isAdminPortal" ng-show="hasAccess(item.feature)" ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'" ng-class="{'hide':layoutOptions.sidebar.isCollapsed}"></ul>
	</li>
        <li ng-if="isAdminPortal" ng-show="hasAccess(item.feature)" ng-repeat="item in adminMenuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		
            <a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'" ng-class="{'hide':layoutOptions.sidebar.isCollapsed}"></ul>
	</li>
</script>
<script type="text/ng-template" id="menu-items-recursive-tpl">
	<li ng-repeat="item in subItems" ng-if='hasAccess(item.feature)' ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>
<ul id="main-menu" class="main-menu" ng-class="{'mobile-is-visible': layoutOptions.sidebar.isMenuOpenMobile}" ng-include="'menu-items-tpl'">
</ul>