
<nav class="navbar user-info-navbar" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}" ng-click="mobileUserInfoToggle()" role="navigation"><!-- User Info, Notifications and Menu Bar -->

 <!-- Left links for user info navbar -->
  <ul class="user-info-menu left-links list-inline list-unstyled">
    <li class="hidden-sm hidden-xs"> <a href="" ng-click="sidebarToggle()"> <i class="fa-bars"></i> </a> </li>
  </ul>

 <!-- Right links for user info navbar -->
  <ul class="user-info-menu right-links list-inline list-unstyled">
    <li class="dropdown user-profile open"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="openMenu($event)"> <img src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" /> <span> {{currentUser.userName}} <i class="fa-angle-down"></i> </span> </a>
    <div ng-show="showMenu">
      <ul class="dropdown-menu user-profile-menu list-unstyled" style="display:block;">
        <li class="last" ng-if="!isAdminPortal"> <a ui-sref="admin.dashboard" > <i class="fa-sign-in"></i> Go to admin portal </a> </li>
        <li class="last" ng-if="isAdminPortal"> <a ui-sref="app.dashboard" > <i class="fa-sign-in"></i> Go to user portal </a> </li>
        <li class="last"> <a href="" ng-click="logout()"> <i class="fa-lock"></i> Logout </a> </li>
      </ul>
    </div>
    </li>
  </ul>

</nav>