<div class="page-title full-width ng-scope" ng-if="layoutOptions.pageTitles" title="Calendar" description="Events management calendar">
    <div class="title-env">
        <h1 class="title ng-binding">Calendar</h1>
        <p class="description ng-binding">Events management calendar</p>
    </div>
</div>

<div style="background:white;">

    <div class="mwl-toolbar">
        <div class="mwl-left input-group btn-date-group">
            <button type="button" class="btn btn-default btn-sm btn-date"  ng-click="calendar.showDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            <h2>{{ calendar.calendarTitle}}</h2>
            <datepicker ng-model="calendar.calendarDay" show-weeks="true" class="well well-sm overly-datepicker" ng-class="{'show':calendar.isOpen,'hide':!calendar.isOpen}"></datepicker>

        </div>
        <div class="mwl-right">
            <div class="mwl-button-group">
                <button type="button" class="mwl-month-button mwl-button mwl-state-default" ng-click="calendar.changeToMonth()" ng-class="{'mwl-state-active': calendar.calendarView == 'month'}">month</button>
                <button type="button" class="mwl-agendaWeek-button mwl-button mwl-state-default" ng-click="calendar.changeToWeek()" ng-class="{'mwl-state-active': calendar.calendarView == 'week'}">week</button>
            </div>
            <div class="mwl-button-group">
                <button type="button" class="mwl-prev-button mwl-button mwl-state-default mwl-corner-left" mwl-date-modifier date="calendar.calendarDay" decrement="calendar.calendarView"><span class="mwl-icon mwl-icon-prev fa-angle-left" ></span></button>
                <button type="button" class="mwl-next-button mwl-button mwl-state-default mwl-corner-right" mwl-date-modifier date="calendar.calendarDay" increment="calendar.calendarView"><span class="mwl-icon mwl-icon-next fa-angle-right"></span></button>
            </div>
        </div>
        <div class="mwl-center"></div>
        <div class="mwl-clear"></div>
    </div>


    <div class="mwl-panel-search" ng-if="calendar.calendarView == 'month'">
        <div class="mwl-left">
            <h2>Karl Pierre <small>Designation</small></h2>
        </div>
        <div class="mwl-right col-md-4">
            <div>
                <div class="input-group input-group-minimal">
                    <input type="email" class="form-control" placeholder="Search for something…">
                    <span class="input-group-addon">
                        <i class="linecons-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="mwl-panel-filter row" ng-if="calendar.calendarView == 'week'">
        <div class="row">
            <div class="col-md-4">
                <label>Employees</label>
                <script type="text/javascript">
                    jQuery(document).ready(function ($)
                    {
                        setTimeout(function () {
                            $("#sboxit-2").select2({
                                // minimumResultsForSearch: -1,
                                placeholder: 'Select Employee...',
                                // minimumInputLength: 1,
                                // placeholder: 'Search',
                            }).on('select2-open', function ()
                            {
                                // Adding Custom Scrollbar
                                $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                            });
                        }, 200);
                    });</script>
                <select class="form-control" name ="sboxit-2" id="sboxit-2" ng-model="calendar.searchParams.employeeIds" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in calendar.employeeList track by emp.id' ng-change="calendar.applySearch()">
                    <option value="" selected hidden />
                </select>
            </div>
            <div class="col-md-4">
                <label>Position</label>
                <select class="form-control" ng-model="searchParams.positionIds" ng-options='position.id as position.position for position in calendar.positions track by position.id' ng-change="calendar.applySearch()">
                </select>
            </div>
            <div class="col-md-4">
                <label>Languages</label>
                <select class="form-control" ng-model="searchParams.languages" ng-change="applySearch()" ng-options="key as value for (key,value) in languages">
                    <option>Language1</option>
                    <option>Language2</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>From</label>
                <select class="form-control">
                    <option>From</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>To</label>
                <select class="form-control">
                    <option>To</option>
                </select>
            </div>
            <div class="col-md-4 filter-checkbox">
                <div class="col-md-6">
                    <label>Live In</label>
                    <input type="checkbox" name="livein">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <mwl-calendar
        events="calendar.events"
        view="calendar.calendarView"
        view-title="calendar.calendarTitle"
        current-day="calendar.calendarDay"
        on-event-click="eventClicked(calendarEvent)"
        on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
        on-edit-event-click="eventEdited(calendarEvent)"
        on-delete-event-click="eventDeleted(calendarEvent)"
        auto-open="true"
        day-view-start="06:00"
        day-view-end="22:00"
        day-view-split="30"
        cell-modifier="modifyCell(calendarCell)"
        hours="calendar.hours"
        total-items="calendar.totalRecords"
        current-page="calendar.pageNo">
    </mwl-calendar>
    <div ng-if="calendar.calendarView == 'week'">
        <div id="paginationButtons" class="text-right">
            <dir-pagination-controls boundary-links="true" 
                                     max-size="9"
                                     template-url="app/tpls/dirPagination.tpl.html" pagination-id="drinksPagination" on-page-change="calendar.pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
