<div class="page-title full-width ng-scope" ng-if="layoutOptions.pageTitles" title="Calendar" description="Events management calendar">
    <div class="title-env">
        <h1 class="title ng-binding">Calendar</h1>
        <p class="description ng-binding">Events management calendar</p>
    </div>
</div>

<div style="background:white;">

    <div class="mwl-toolbar">
        <div class="mwl-left input-group btn-date-group">
            <button type="button" class="btn btn-default btn-sm btn-date"  ng-click="calendar.showDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            <h2>{{ calendar.calendarTitle}}</h2>
            <datepicker ng-model="calendar.calendarDay" show-weeks="true" class="well well-sm overly-datepicker" ng-class="{'show':calendar.isOpen,'hide':!calendar.isOpen}"></datepicker>

        </div>
        <div class="mwl-right">
            <div class="mwl-button-group">
                <button type="button" class="mwl-month-button mwl-button mwl-state-default" ng-click="calendar.changeToMonth()" ng-class="{'mwl-state-active': calendar.calendarView == 'month'}">month</button>
                <button type="button" class="mwl-agendaWeek-button mwl-button mwl-state-default" ng-click="calendar.changeToWeek()" ng-class="{'mwl-state-active': calendar.calendarView == 'week'}">week</button>
            </div>
            <div class="mwl-button-group">
                <button type="button" class="mwl-prev-button mwl-button mwl-state-default mwl-corner-left"><span class="mwl-icon mwl-icon-prev fa-angle-left" mwl-date-modifier date="calendar.calendarDay" decrement="calendar.calendarView"></span></button>
                <button type="button" class="mwl-next-button mwl-button mwl-state-default mwl-corner-right" mwl-date-modifier date="calendar.calendarDay" increment="calendar.calendarView"><span class="mwl-icon mwl-icon-next fa-angle-right"></span></button>
            </div>
        </div>
        <div class="mwl-center"></div>
        <div class="mwl-clear"></div>
    </div>


    <div class="mwl-panel-search" ng-if="calendar.calendarView == 'month'">
        <div class="mwl-left">
            <h2>Karl Pierre <small>Designation</small></h2>
        </div>
        <div class="mwl-right col-md-4">
            <div>
                <div class="input-group input-group-minimal">
                    <input type="email" class="form-control" placeholder="Search for something…">
                    <span class="input-group-addon">
                        <i class="linecons-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <mwl-calendar
        events="calendar.events"
        view="calendar.calendarView"
        view-title="calendar.calendarTitle"
        current-day="calendar.calendarDay"
        on-event-click="eventClicked(calendarEvent)"
        on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
        on-edit-event-click="eventEdited(calendarEvent)"
        on-delete-event-click="eventDeleted(calendarEvent)"
        auto-open="true"
        day-view-start="06:00"
        day-view-end="22:00"
        day-view-split="30"
        cell-modifier="modifyCell(calendarCell)">
    </mwl-calendar>
</div>