<div>
    <div class="modal-header">	
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="dispatchConfirmForm" id="dispatchConfirmForm" >
            <div class="form-group">
                <label class="col-sm-2 control-label">Care</label>

                <div class="col-sm-6">
                    <select class='form-control' ng-model='dispatchConfirm.careType' ng-options="care.id as care.careTypeTitle for care in dispatchConfirm.careTypes">
                        <option value=''>Select care type</option>
                    </select> 
                </div>
            </div>
            <div class='form-group-separator'></div>
            Are you sure you want to send dispatch message to filtered employees?
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="dispatchConfirm.ok();">Yes</button>
        <button type="button" class="btn btn-red" ng-click="dispatchConfirm.cancel();">No</button>
    </div>
</div>
