<div class="page-title full-width" ng-if="layoutOptions.pageTitles" title="Calendar" description="Events management calendar">
    <div class="title-env">
        <h1 class="title">Employee Calendar</h1>
        <p class="description">Events management calendar</p>
    </div>
</div>

<div style="background:white;">
    <div class="mwl-toolbar">
        <div class="mwl-left input-group btn-date-group" style="padding-top:5px;">
            <button type="button" class="btn btn-default btn-sm btn-date"  ng-click="calendar.showDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            <h2>{{ calendar.calendarTitle}}</h2>
            <datepicker ng-model="calendar.calendarDay" show-weeks="true" class="well well-sm overly-datepicker" ng-class="{
                    'show'
                    :calendar.isOpen, 'hide':!calendar.isOpen}"></datepicker>
        </div>
        <div class="mwl-right">
            <a href="" ng-click="openModalCalendar(null, 'calendar-modal', 'lg', 'static');" class="btn btn-primary btn-single btn-sm" style="">Add New Event</a>
            <div class="mwl-button-group">
                <button type="button" class="mwl-month-button mwl-button mwl-state-default" ng-click="calendar.changeToMonth()" ng-class="{
                        'mwl-state-active'
                        : calendar.calendarView == 'month'}">month</button>
                <button type="button" class="mwl-agendaWeek-button mwl-button mwl-state-default" ng-click="calendar.changeToWeek()" ng-class="{
                        'mwl-state-active'
                        : calendar.calendarView == 'week'}">week</button>
            </div>
            <div class="mwl-button-group">
                <button type="button" class="mwl-prev-button mwl-button mwl-state-default mwl-corner-left" mwl-date-modifier date="calendar.calendarDay" decrement="calendar.calendarView"><span class="mwl-icon mwl-icon-prev fa-angle-left" ></span></button>
                <button type="button" class="mwl-next-button mwl-button mwl-state-default mwl-corner-right" mwl-date-modifier date="calendar.calendarDay" increment="calendar.calendarView"><span class="mwl-icon mwl-icon-next fa-angle-right"></span></button>
            </div>
        </div>
        <div class="mwl-center"></div>
        <div class="mwl-clear"></div>
    </div>

    <div class="mwl-panel-filter">
        <div class="mwl-panel-search" ng-if="calendar.calendarView == 'month'">
            <div class="row">
                <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                    <div class="mwl-left">
                        <h2>{{calendar.viewEmployee.lName}}, {{calendar.viewEmployee.fName}} <small>{{calendar.positionMap[calendar.viewEmployee.companyPositionId]}}</small></h2>
                    </div>
                    <div class="col-md-4 pull-right" style="padding-right:0px;">
                        <div>
                            <div class="input-group input-group-minimal">
                                <input type="email" class="form-control" placeholder="Search for something…">
                                <span class="input-group-addon">
                                    <i class="linecons-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mwl-panel-filter row" ng-if="calendar.calendarView == 'week'">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Employees</label>
                    <script type="text/javascript">
                                jQuery(document).ready(function ($)
                        {
                        setTimeout(function () {
                        $("#employeeIds").select2({
                        // minimumResultsForSearch: -1,
                        placeholder: 'Select Employee...',
                                // minimumInputLength: 1,
                                // placeholder: 'Search',
                        }).on('select2-open', function ()
                        {
                        // Adding Custom Scrollbar
                        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                        });
                        }, 200);
                        });</script>
                    <select multiple class="form-control" name ="employeeIds" id="employeeIds" ng-model="calendar.searchParams.employeeIds" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in calendar.employeeList'>
                        <option value="" selected hidden />
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Position</label>
                    <script type="text/javascript">
                                jQuery(document).ready(function ($)
                        {
                        setTimeout(function () {
                        $("#positions").select2({
                        placeholder: 'Select Position...',
                        }).on('select2-open', function ()
                        {
                        // Adding Custom Scrollbar
                        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                        });
                        }, 200);
                        });</script>
                    <select multiple class="form-control" name ="positions" id="positions" ng-model="calendar.searchParams.positionIds" ng-options='position.id as position.position for position in calendar.positions'>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Languages</label>
                    <script type="text/javascript">
                                jQuery(document).ready(function ($)
                        {
                        setTimeout(function () {
                        $("#languages").select2({
                        placeholder: 'Select Language...',
                        }).on('select2-open', function ()
                        {
                        // Adding Custom Scrollbar
                        $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                        });
                        }, 200);
                        });</script>
                    <select multiple name ="languages" id="languages" class="form-control" ng-model="calendar.searchParams.languages" ng-options="key as value for (key,value) in languages">
                    </select>
                </div>
            </div>
            <div class="row" ng-if="calendar.calendarView == 'week'">
                <div class="col-md-4">
                    <label>From</label>
                    <div class="input-group">
                        <input type="text" id="field-68" name='fromDate' class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="calendar.searchParams.availableStartDate" max-date="calendar.searchParams.availableEndDate">
                        <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>To</label>
                    <div class="input-group">
                        <input type="text" id="field-69" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="calendar.searchParams.availableEndDate" min-date="calendar.searchParams.availableStartDate">
                        <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-4 filter-checkbox row">
                    <div class="col-md-6">
                        <label>Live In</label>
                        <input type="checkbox" name="livein" ng-model="calendar.searchParams.forLiveIn">
                    </div>
                    <div class="col-md-3" style="padding-top:20px;">
                        <button class="btn btn-single btn-white btn-block-xs pull-right" type="button" ng-click="calendar.resetFilters()">Reset Filters</button>
                    </div>
                    <div class="col-md-3" style="padding-top:20px;">
                        <button type="button" class="btn btn-success pull-right"  ng-click="calendar.applySearch()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{calendar.count}}
    <mwl-calendar
        events="calendar.events"
        view="calendar.calendarView"
        view-title="calendar.calendarTitle"
        current-day="calendar.calendarDay"
        on-event-click="eventClicked(calendarEvent)"
        on-link-click="onListClick(list)"
        list="calendar.employee_list"
        total-items="calendar.totalRecords",
        current-page="calendar.pageNo">
    </mwl-calendar>
    <div ng-if="calendar.calendarView == 'week'">
        <div id="paginationButtons" class="text-right">
            <pagination boundary-links="true" 
                        max-size="9"
                        totalItems = "totalRecords"
                        ng-model="calendar.pageNo"
                        ng-change="calendar.pageChanged(newPageNumber)">
            </pagination>
        </div>
    </div>
</div>


<!-- Employee Modal : it's like 3 different modal code inside main modal--> 
<script type="text/ng-template" id="calendar-modal">
<div class="modal-header">
    <button type="button" class="close" ng-click="employeePopup.close();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        <span ng-if="employeePopup.isNew && employeePopup.calendarView == 'week'">Add Event</span>
        <span ng-if="!employeePopup.isNew || employeePopup.calendarView == 'month'">{{employeePopup.employee.lName}}, {{employeePopup.employee.fName}}</span>
    </h4>
</div>
<div>
    <img alt="user" class="img-cirlce img-responsive" ng-show="employeePopup.showLoadingImage" src="assets/images/loading.gif"/>
</div>
<form class="form-horizontal" role="form" name="popuptest" id="popuptest" >
    <div class="form-group">
        <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Availability</label>
        <div ng-if="employeePopup.isNew" style="margin-top:15px;">
            <div class="col-sm-2">
                <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee)">
                    <input type="radio" name="radio-3" class="cbr cbr-primary" ng-model="employeePopup.data.eventType" value="S">
                    Schedule
                </label>
            </div>
            <div class="col-sm-2">
                <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee)">
                    <input type="radio" name="radio-3" class="cbr cbr-primary" ng-model="employeePopup.data.eventType" value="A">
                    Available
                </label>
            </div>
            <div class="col-sm-2">
                <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee)">
                    <input type="radio" name="radio-3" class="cbr cbr-primary" ng-model="employeePopup.data.eventType" value="U">
                    Unavailable
                </label>
            </div>
        </div>
        <div ng-if="!employeePopup.isNew" style="margin-top:15px;">
            <div class="col-sm-2" style="margin-top:7px;">
                {{employeePopup.eventTypes[employeePopup.data.eventType]}}
            </div>
        </div>
    </div>  
</form>

<!-- available-->
<div ng-if="employeePopup.data.eventType == 'A'">
    <form class="form-horizontal validate" role="form" name="popupemployeea" id="popupemployeea" >
        <div class="modal-body">
            <div class="form-group" ng-show="employeePopup.calendarView == 'week' && employeePopup.isNew">
                <div class="form-group-separator"></div>
                <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Employee</label>
                <div class="col-sm-10">
                    <select class="form-control" style="margin-top:15px;" name ="eventEmployeeIds" id="eventEmployeeIds" ng-model="employeePopup.data.employeeId" ng-change="employeePopup.employeeChanged(employeePopup.data.employeeId)" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in employeePopup.employeeList' data-message-required="Please select employee." ng-required="employeePopup.calendarView == 'week'" data-validate="required">
                        <option value="" selected hidden />
                    </select>
                </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Date</label>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" class="form-control datepicker" ng-disabled="!employeePopup.isNew" name="fromDate" data-format="mm/dd/yyyy" ng-model="employeePopup.data.startDate" min-date="todayDate" max-date="employeePopup.data.endDate" data-validate="required,date"  data-message-required="Please select From Date." ng-required="employeePopup.data.eventType == 'A'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" id="toDate" class="form-control datepicker" ng-disabled="!employeePopup.isNew" name='toDate' data-format="mm/dd/yyyy" ng-model="employeePopup.data.endDate" min-date="employeePopup.data.startDate" data-validate="required,date"  data-message-required="Please select To Date." ng-required="employeePopup.data.eventType == 'A'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Time</label>
                <div class="col-sm-3">
                    <div class="input-group input-group-minimal">
                        <input class="form-control punch-time-input" ng-model='employeePopup.data.startTime' id="startTime" name="startTime" type="text" data-validate='required,time' data-message-required='Please enter start Time.' ng-required="employeePopup.data.eventType == 'A'"/>

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-clock"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
                <div class="col-sm-3">
                    <div class="input-group input-group-minimal">
                        <input class="form-control punch-time-input" ng-model='employeePopup.data.endTime' id="endTime" name="endTime" type="text" data-validate='required,time' data-message-required='Please enter end Time.' ng-required="employeePopup.data.eventType == 'A'"/>

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-clock"></i></a>
                        </div>
                    </div>
                </div>
                <label class="col-sm-3 control-label" style="text-align:left;">
                    {{employeePopup.data.startTime| timecount : employeePopup.data.endTime}}
                </label>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Note</label>
                <div class="col-sm-10">
                    <textarea class="form-control" cols="5" id="note" name="note" placeholder="Enter note for this scheduled event." ng-model="employeePopup.data.note"></textarea>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <div class="form-block">
                        <label class="no-padding-left checkbox" style="padding-top:0px;">
                            <input type="checkbox" class="cbr" id="livein" name="livein" ng-model="employeePopup.data.forLiveIn" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            Available for Live In
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group" style="margin-bottom:0;">
                <label class="col-sm-2 control-label" for="field-2">Repeat</label>
                <div ng-if="employeePopup.isNew">
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="D">
                            Daily
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="W">
                            Weekly
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" checked ng-model="employeePopup.data.recurranceType" value="N">
                            None
                        </label>
                    </div>
                </div>
                <div ng-if="!employeePopup.isNew">
                    <div class="col-sm-2">
                        {{employeePopup.recurranceTypes[employeePopup.data.recurranceType]}}
                    </div>
                </div>
            </div>
            <div class="form-group-separator" ng-if="!employeePopup.isNew"></div>

            <div class="form-group" ng-if="!employeePopup.isNew" style="margin-bottom:0px;">
                <label class="col-sm-2 control-label" for="field-2" style="padding-top:7px;">Apply To</label>
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="DOW">
                            Day Of Week
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SEQ">
                            Sequence
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SINGLE">
                            Single
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-red" ng-show="!employeePopup.isNew" ng-click="employeePopup.deleteSchedule()">Delete</button>
            <button type="button" class="btn btn-white" ng-click="employeePopup.close();">Close</button>
            <button type="submit" class="btn btn-success" ng-click="employeePopup.save();">Save changes</button>
        </div>
    </form>
</div>

<!-- schedule-->
<div ng-if="employeePopup.data.eventType == 'S'">
    <form class="form-horizontal validate" role="form" name="popupemployees" id="popupemployees" >
        <div class="modal-body">
            <div class="form-group" ng-show="employeePopup.calendarView == 'week' && employeePopup.isNew">
                <div class="form-group-separator"></div>
                <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Employee</label>
                <div class="col-sm-10">
                    <select class="form-control" style="margin-top:15px;" name ="eventEmployeeIds" id="eventEmployeeIds" ng-model="employeePopup.data.employeeId" ng-change="employeePopup.employeeChanged(employeePopup.data.employeeId)" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in employeePopup.employeeList' data-message-required="Please select employee." ng-required="employeePopup.calendarView == 'week'" data-validate="required">
                        <option value="" selected hidden />
                    </select>
                </div>
            </div>
            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Care</label>

                <div class="col-sm-10">
                    <select class="form-control" id="care" name="care" ng-model="employeePopup.data.companyCareTypeId" data-validate="required" data-message-required="Please select care." ng-options="care.id as care.careTypeTitle for care in employeePopup.careTypes" ng-change="employeePopup.retrievePatientBasedOnCare()" ng-required="employeePopup.data.eventType == 'S'">
                        <option value="">Select the care</option>
                    </select>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Patient</label>
                <div class="col-sm-10">
                    <select class="form-control" id="patient" name="patient" ng-model="employeePopup.data.patientId" data-validate="required"  data-message-required="Please select the patient." ng-options="patient.id as (patient.fName+' '+patient.middleInitial) for patient in employeePopup.carePatientMap[employeePopup.data.companyCareTypeId]" ng-required="employeePopup.data.eventType == 'S'">
                        <option value="">Select the patient</option>
                    </select>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Date</label>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" class="form-control datepicker" ng-disabled="!employeePopup.isNew" name="fromDate1" data-format="mm/dd/yyyy" ng-model="employeePopup.data.startDate" min-date="todayDate" max-date="employeePopup.data.endDate" data-validate="required,date"  data-message-required="Please select From Date." ng-required="employeePopup.data.eventType == 'S'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" ng-disabled="!employeePopup.isNew" class="form-control datepicker" name='toDate1' data-format="mm/dd/yyyy" ng-model="employeePopup.data.endDate" min-date="employeePopup.data.startDate" data-validate="required,date"  data-message-required="Please select To Date." ng-required="employeePopup.data.eventType == 'S'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Time</label>
                <div class="col-sm-3">
                    <div class="input-group input-group-minimal">
                        <input class="form-control  punch-time-input" ng-model='employeePopup.data.startTime' id="startTime1" name="startTime1" type="text" data-validate='required,time' data-message-required='Please enter start Time.'  ng-required="employeePopup.data.eventType == 'S'"/>

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-clock"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
                <div class="col-sm-3">
                    <div class="input-group input-group-minimal">
                        <input class="form-control  punch-time-input" ng-model='employeePopup.data.endTime' id="endTime1" name="endTime2" type="text" data-validate='required,time' data-message-required='Please enter end Time.' ng-required="employeePopup.data.eventType == 'S'"/>

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-clock"></i></a>
                        </div>
                    </div>
                </div>
                <label class="col-sm-3 control-label" style="text-align:left;">
                    {{employeePopup.data.startTime| timecount : employeePopup.data.endTime}}
                </label>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Note</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="note" cols="5" id="note" placeholder="Enter note for this scheduled event." ng-model="employeePopup.data.note"></textarea>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group" style="margin-bottom:0;">
                <label class="col-sm-2 control-label" for="field-1">Repeat</label>
                <div ng-if="employeePopup.isNew">

                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="D">
                            Daily
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="W">
                            Weekly
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="N">
                            None
                        </label>
                    </div>
                </div>
                <div ng-if="!employeePopup.isNew">
                    <div class="col-sm-2">
                        {{employeePopup.recurranceTypes[employeePopup.data.recurranceType]}}
                    </div>
                </div>
            </div>
            <div class="form-group-separator" ng-if="!employeePopup.isNew"></div>

            <div class="form-group" ng-if="!employeePopup.isNew" style="margin-bottom:0;">
                <label class="col-sm-2 control-label" for="field-2">Apply To</label>
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="DOW">
                            Day Of Week
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SEQ">
                            Sequence
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SINGLE">
                            Single
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-red" ng-show="!employeePopup.isNew" ng-click="employeePopup.deleteSchedule()">Delete</button>
            <button type="button" class="btn btn-white" ng-click="employeePopup.close();">Close</button>
            <button type="submit" class="btn btn-success" ng-click="employeePopup.save();">Save changes</button>
        </div>
    </form>
</div>

<!-- unavailable-->
<div ng-if="employeePopup.data.eventType == 'U'">
    <form class="form-horizontal validate" role="form" name="popupemployeeu" id="popupemployeeu" >
        <div class="modal-body">
            <div class="form-group" ng-show="employeePopup.calendarView == 'week' && employeePopup.isNew">
                <div class="form-group-separator"></div>
                <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Employee</label>
                <div class="col-sm-10">
                    <select class="form-control" style="margin-top:15px;" name ="eventEmployeeIds" id="eventEmployeeIds" ng-model="employeePopup.data.employeeId" ng-change="employeePopup.employeeChanged(employeePopup.data.employeeId)" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in employeePopup.employeeList' data-message-required="Please select employee." ng-required="employeePopup.calendarView == 'week'" data-validate="required">
                        <option value="" selected hidden />
                    </select>
                </div>
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Reason</label>

                <div class="col-sm-10">
                    <select class="form-control" id="reason" name="reason" ng-model="employeePopup.data.reason" data-validate="required"  data-message-required="Please select the reason." ng-options="reason for reason in employeePopup.reasons" ng-required="employeePopup.data.eventType == 'U'">
                        <option value="">Select the reason</option>
                    </select>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Paid per Hrs.</label>

                <div class="col-sm-2" style="width:10%;padding-right:0;">
                    <label class="no-padding-left checkbox" >
                        <input type="checkbox" class="cbr" id="paid" name="paid" ng-model="employeePopup.data.isPaid">
                        Paid
                    </label>
                </div>
                <div class="col-sm-2" style="margin-top:-5px;" ng-show="employeePopup.data.isPaid">
                    <input type="text" class="form-control" numbers-only="true" id="hours" name="hours" ng-model="employeePopup.data.noOfHours" placeholder="Hours" data-validate="required" data-message-required="Please enter hours." ng-required="employeePopup.data.eventType == 'U' && employeePopup.data.isPaid" ng-change="employeePopup.setHoursError()" ng-blur="employeePopup.setHoursError()">
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Date</label>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" class="form-control datepicker" name="fromDate2" data-format="mm/dd/yyyy" ng-model="employeePopup.data.startDate" min-date="todayDate" max-date="employeePopup.data.endDate" data-validate="required,date"  data-message-required="Please select From Date." ng-required="employeePopup.data.eventType == 'U'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
                <div class="col-sm-4">
                    <div class="input-group" style="z-index:1060">
                        <input type="text" id="toDate2" class="form-control datepicker" name='toDate2' data-format="mm/dd/yyyy" ng-model="employeePopup.data.endDate" min-date="employeePopup.data.startDate" data-validate="required,date"  data-message-required="Please select To Date." ng-required="employeePopup.data.eventType == 'U'">

                        <div class="input-group-addon">
                            <a href=""><i class="linecons-calendar"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-2">Note</label>
                <div class="col-sm-10">
                    <textarea class="form-control" cols="5" id="note" name="note" ng-model="employeePopup.data.note" placeholder="Enter note for this scheduled event."></textarea>
                </div>
            </div>
    
    <div class="form-group-separator"></div>

            <div class="form-group" style="margin-bottom:0;">
                <label class="col-sm-2 control-label" for="field-2">Repeat</label>
                <div ng-if="employeePopup.isNew">
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="D">
                            Daily
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="employeePopup.data.recurranceType" value="W">
                            Weekly
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-4" class="cbr cbr-primary" checked ng-model="employeePopup.data.recurranceType" value="N">
                            None
                        </label>
                    </div>
                </div>
                <div ng-if="!employeePopup.isNew">
                    <div class="col-sm-2">
                        {{employeePopup.recurranceTypes[employeePopup.data.recurranceType]}}
                    </div>
                </div>
            </div>
            <div class="form-group-separator" ng-if="!employeePopup.isNew"></div>

            <div class="form-group" ng-if="!employeePopup.isNew" style="margin-bottom:0px;">
                <label class="col-sm-2 control-label" for="field-2" style="padding-top:7px;">Apply To</label>
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="DOW">
                            Day Of Week
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SEQ">
                            Sequence
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="cbr-inline" ng-click="employeePopup.changed(popupemployee, 'repeat')">
                            <input type="radio" name="radio-7" class="cbr cbr-primary" ng-model="employeePopup.data.applyTo" value="SINGLE">
                            Single
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-red" ng-show="!employeePopup.isNew" ng-click="employeePopup.deleteSchedule()">Delete</button>
            <button type="button" class="btn btn-white" ng-click="employeePopup.close();">Close</button>
            <button type="submit" class="btn btn-success" ng-click="employeePopup.save();">Save changes</button>
        </div>

    </form>
</div>        
</script>