<div class="page-title full-width" ng-if="layoutOptions.pageTitles" title="Calendar" description="Events management calendar">
    <div class="title-env">
        <h1 class="title">Patient Calendar</h1>
        <p class="description">Events management calendar</p>
    </div>
</div>

<div style="background:white;">

    <div class="mwl-toolbar">
        <div class="mwl-left input-group btn-date-group">
            <button type="button" class="btn btn-default btn-sm btn-date"  ng-click="patientcalendar.showDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            <h2>{{ patientcalendar.calendarTitle}}</h2>
            <datepicker ng-model="patientcalendar.calendarDay" show-weeks="true" class="well well-sm overly-datepicker" ng-class="{'show':patientcalendar.isOpen,'hide':!patientcalendar.isOpen}"></datepicker>
        </div>
        <div class="mwl-right">
            <div class="mwl-button-group">
                <button type="button" class="mwl-month-button mwl-button mwl-state-default" ng-click="patientcalendar.changeToMonth()" ng-class="{'mwl-state-active': patientcalendar.calendarView == 'month'}">month</button>
                <button type="button" class="mwl-agendaWeek-button mwl-button mwl-state-default" ng-click="patientcalendar.changeToWeek()" ng-class="{'mwl-state-active': patientcalendar.calendarView == 'week'}">week</button>
            </div>
            <div class="mwl-button-group">
                <button type="button" class="mwl-prev-button mwl-button mwl-state-default mwl-corner-left" mwl-date-modifier date="patientcalendar.calendarDay" decrement="patientcalendar.calendarView"><span class="mwl-icon mwl-icon-prev fa-angle-left" ></span></button>
                <button type="button" class="mwl-next-button mwl-button mwl-state-default mwl-corner-right" mwl-date-modifier date="patientcalendar.calendarDay" increment="patientcalendar.calendarView"><span class="mwl-icon mwl-icon-next fa-angle-right"></span></button>
            </div>
        </div>
        <div class="mwl-center"></div>
        <div class="mwl-clear"></div>
    </div>

    <div class="mwl-panel-filter">

        <div class="mwl-panel-search" ng-if="patientcalendar.calendarView == 'month'">
            <div class="row">
                <div class="col-md-10">
                    <div class="mwl-left">
                        <h2>Karl Pierre <small>Designation</small></h2>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div>
                            <div class="input-group input-group-minimal">
                                <input type="email" class="form-control" placeholder="Search for something…">
                                <span class="input-group-addon">
                                    <i class="linecons-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>           
                </div>
                <a href="" ng-click="patientcalendar.openModalPatient(null, 'patient-modal', 'lg', 'static');" class="btn btn-primary btn-single btn-sm pull-right" style="margin-right: 10px">Add New Event</a>
            </div>
        </div>
        <div class="mwl-panel-filter row" ng-if="patientcalendar.calendarView == 'week'">
            <div class="row">
                <a href="" ng-click="patientcalendar.openModalPatient(null, 'patient-modal', 'lg', 'static');" class="btn btn-primary btn-single btn-sm pull-right" style="margin-right: 10px">Add New Event</a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Patients</label>
                    <script type="text/javascript">
                        jQuery(document).ready(function ($)
                        {
                            setTimeout(function () {
                                $("#patientIds").select2({
                                    // minimumResultsForSearch: -1,
                                    placeholder: 'Select Patient...',
                                    // minimumInputLength: 1,
                                    // placeholder: 'Search',
                                }).on('select2-open', function ()
                                {
                                    // Adding Custom Scrollbar
                                    $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                                });
                            }, 200);
                        });</script>
                    <select multiple class="form-control" name ="patientIds" id="patientIds" ng-model="patientcalendar.searchParams.patientIds" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in patientcalendar.patientList'>
                        <option value="" selected hidden />
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Care Coordinators</label>
                    <script type="text/javascript">
                        jQuery(document).ready(function ($)
                        {
                            setTimeout(function () {
                                $("#sboxit-2").select2({
                                    //                                                        minimumResultsForSearch: -1,
                                    placeholder: 'Select Coordinator...',
                                    //                                                        minimumInputLength: 1,
                                    //                                                        placeholder: 'Search',
                                }).on('select2-open', function ()
                                {
                                    // Adding Custom Scrollbar
                                    $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                                });
                            }, 200);

                        });
                    </script>
                    <select class="form-control" name ="sboxit-2" id="sboxit-2" ng-model="patientcalendar.searchParams.coordinatorIds" ng-options='emp.id as (emp.label) for emp in patientcalendar.employeeCoordinateList track by emp.id'>
                        <option value="" selected hidden />
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Languages</label>
                    <script type="text/javascript">
                        jQuery(document).ready(function ($)
                        {
                            setTimeout(function () {
                                $("#languages").select2({
                                    placeholder: 'Select Language...',
                                }).on('select2-open', function ()
                                {
                                    // Adding Custom Scrollbar
                                    $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                                });
                            }, 200);
                        });</script>
                    <select multiple name ="languages" id="languages" class="form-control" ng-model="patientcalendar.searchParams.languages" ng-options="key as value for (key,value) in languages">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>From</label>
                    <div class="input-group">
                        <input type="text" id="field-68" name='fromDate' class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="patientcalendar.searchParams.availableStartDate" max-date="patientcalendar.searchParams.availableEndDate">
                        <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>To</label>
                    <div class="input-group">
                        <input type="text" id="field-69" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="patientcalendar.searchParams.availableEndDate" min-date="patientcalendar.searchParams.availableStartDate">
                        <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-4 filter-checkbox">
                    <div class="col-md-6">
                        <label>Live In</label>
                        <input type="checkbox" name="livein" ng-model="patientcalendar.searchParams.forLiveIn">
                    </div>
                    <div class="col-md-6">

                        <button type="button" class="btn btn-success pull-right"  ng-click="patientcalendar.applySearch()">Submit</button>
                        <button class="btn btn-single btn-white btn-block-xs pull-right" type="button" ng-click="patientcalendar.resetFilters()">Reset Filters</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Patient Modal-->
        <script type="text/ng-template" id="patient-modal" >
            <div class="modal-header">
            <button type="button" class="close" ng-click="patientPopup.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
            <span ng-if="patientPopup.isNew && patientPopup.calendarView == 'week'">Add Event</span>
            <span ng-if="!patientPopup.isNew || patientPopup.calendarView == 'month'">{{patientPopup.patient.lName}}, {{patientPopup.patient.fName}}</span>
            </h4>
            <h6>{{patientPopup.patient.dob|date :dateFormat}}</h6>
            </div>
            <form class="form-horizontal" role="form" name="popuptest" id="popuptest" >
            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Availability</label>
            <div  ng-if="patientPopup.isNew" style="margin-top:15px;">

            <div class="col-sm-2">
            <label class="cbr-inline" ng-click="patientPopup.changed()">
            <input type="radio" name="radio-3" class="cbr cbr-primary" ng-model="patientPopup.data.eventType" value="S">
            Schedule
            </label>
            </div>
            <div class="col-sm-2">
            <label class="cbr-inline" ng-click="patientPopup.changed()">
            <input type="radio" name="radio-3" class="cbr cbr-primary" ng-model="patientPopup.data.eventType" value="U">
            Unavailable
            </label>
            </div>
            </div>
            <div  ng-if="!patientPopup.isNew" style="margin-top:15px;">
            <div class="col-sm-2">
            {{patientPopup.eventTypes[patientPopup.data.eventType]}}
            </div>
            </div>
            </div>
            </form>
            <!-- schedule-->
            <div ng-if="patientPopup.data.eventType == 'S'">
            <form class="form-horizontal validate" role="form" name="popuppatients" id="popuppatients" >
            <div class="modal-body">
        <div class="form-group" ng-show="patientPopup.calendarView == 'week'">
                           <div class="form-group-separator"></div>
 <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Patient</label>
            <div class="col-sm-10">
            <select class="form-control" style="margin-top:15px;" name ="eventPatientIds" id="eventPatientIds" ng-model="patientPopup.data.patientId" ng-change="patientPopup.patientChanged(patientPopup.data.patientId)" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in patientPopup.patientList' data-message-required="Please select patient." ng-required="patientPopup.calendarView == 'week'" data-validate="required">
            <option value="" selected hidden />
            </select>
            </div>
            </div>

            <div class="form-group-separator"></div>
            <div class="form-group">
            <label class="col-sm-2 control-label">Care</label>

            <div class="col-sm-10">
            <select class="form-control" id="care" name="care" ng-model="patientPopup.data.companyCareTypeId" data-message-required="Please select care." ng-options="care.id as care.companyCaretypeId.careTypeTitle for care in patientPopup.careTypes" ng-change="patientPopup.retrieveEmployeeBasedOnCare()">
            <option value="">Select the care</option>
            </select>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label">Employee</label>

            <div class="col-sm-10">
            <select class="form-control" id="employee" name="employee" ng-model="patientPopup.data.employeeId" data-message-required="Please select employee." ng-options="employee.id as (employee.fName+' '+employee.middleInitial) for employee in patientPopup.employees">
            <option value="">Select the employee</option>
            </select>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-2">Date</label>
            <div class="col-sm-4">
            <div class="input-group" style="z-index:1060">
            <input type="text" class="form-control datepicker" ng-disabled="!patientPopup.isNew" id="fromDate3" name="fromDate3" data-format="D, dd MM yyyy" ng-model="patientPopup.data.startDate" max-date="patientPopup.data.endDate" data-validate="required,date"  data-message-required="Please select From Date." required>

            <div class="input-group-addon">
            <a href=""><i class="linecons-calendar"></i></a>
            </div>
            </div>
            </div>
            <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
            <div class="col-sm-4">
            <div class="input-group" style="z-index:1060">
            <input type="text" class="form-control datepicker" ng-disabled="!patientPopup.isNew" id="toDate3" name="toDate3" data-format="D, dd MM yyyy" ng-model="patientPopup.data.endDate" min-date="patientPopup.data.startDate" data-validate="required,date"  data-message-required="Please select To Date." required>

            <div class="input-group-addon">
            <a href=""><i class="linecons-calendar"></i></a>
            </div>
            </div>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-2">Time</label>
            <div class="col-sm-3">
            <div class="input-group input-group-minimal">
            <input class="form-control punch-time-input" ng-disabled="!patientPopup.isNew" ng-model='patientPopup.data.startTime' id="startTime3" name="startTime3" type="text" data-validate='required,time' data-message-required='Please enter start Time.'/>

            <div class="input-group-addon">
            <a href=""><i class="linecons-clock"></i></a>
            </div>
            </div>
            </div>
            <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
            <div class="col-sm-3">
            <div class="input-group input-group-minimal">
            <input class="form-control punch-time-input" ng-disabled="!patientPopup.isNew" ng-model="patientPopup.data.endTime" id="endTime3" name="endTime3" type="text" data-validate='required,time' data-message-required='Please enter end Time.'/>

            <div class="input-group-addon">
            <a href=""><i class="linecons-clock"></i></a>
            </div>
            </div>
            </div>
            <div class="col-sm-3">
            {{patientPopup.data.startTime| timecount : patientPopup.data.endTime}}
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-3">

            <div class="form-block">
            <label class="no-padding-left checkbox" >
            <input type="checkbox" class="cbr" id="livein" name="livein" ng-model="patientPopup.data.forLiveIn">
            Available for Live In
            </label>
            </div>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-2">Note</label>
            <div class="col-sm-10">
            <textarea class="form-control" ng-model="patientPopup.data.note" cols="5" id="note" name="note" placeholder="Enter note for this scheduled event."></textarea>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1" style="padding-top:0;">Repeat</label>
            <div  ng-if="patientPopup.isNew">
            <div class="col-sm-2">
            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="D">
            Daily
            </div>
            <div class="col-sm-2">
            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="W">
            Weekly
            </div>
            <div class="col-sm-2">
            <input type="radio" name="radio-5" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="N">
            None
            </div>
            </div>
            <div  ng-if="!patientPopup.isNew">
            <div class="col-sm-2">
            {{patientPopup.recurranceTypes[patientPopup.data.recurranceType]}}
            </div>
            </div>
            </div>
            </div>  
            <div class="form-group-separator" ng-if="!patientPopup.isNew"></div>

            <div class="form-group" ng-if="!patientPopup.isNew">
            <label class="col-sm-2 control-label" for="field-2" style="padding-top:0;">Apply To</label>
            <div>
            <div class="col-sm-2">
            <label class="cbr-inline" ng-click="patientPopup.changed(popuppatient, 'repeat')">
            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="patientPopup.data.applyTo" value="DOW">
            Down
            </label>
            </div>
            <div class="col-sm-2">
            <label class="cbr-inline" ng-click="patientPopup.changed(popuppatient, 'repeat')">
            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="patientPopup.data.applyTo" value="SEQ">
            Sequence
            </label>
            </div>
            <div class="col-sm-2">
            <label class="cbr-inline" ng-click="patientPopup.changed(popuppatient, 'repeat')">
            <input type="radio" name="radio-8" class="cbr cbr-primary" ng-model="patientPopup.data.applyTo" value="SINGLE">
            Single
            </label>
            </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="patientPopup.close();">Close</button>
            <button type="submit" class="btn btn-success" ng-click="patientPopup.save();">Save changes</button>
            </div>
            </form>
            </div>

            <!-- unavailable-->
            <div  ng-if="patientPopup.data.eventType == 'U'">
            <form class="form-horizontal validate" role="form" name="popuppatientu" id="popuppatientu" >
            <div class="modal-body">
           <div class="form-group" ng-show="patientPopup.calendarView == 'week'">
                           <div class="form-group-separator"></div>
 <label class="col-sm-2 control-label" for="field-1" style="margin-top:15px;">Patient</label>
            <div class="col-sm-10">
            <select class="form-control" style="margin-top:15px;" name ="eventPatientIds" id="eventPatientIds" ng-model="patientPopup.data.patientId" ng-change="patientPopup.patientChanged(patientPopup.data.patientId)" ng-options='emp.id as (emp.lName+", "+emp.fName+" "+emp.middleInitial) for emp in patientPopup.patientList' data-message-required="Please select patient." ng-required="patientPopup.calendarView == 'week'" data-validate="required">
            <option value="" selected hidden />
            </select>
            </div>
            </div>

            <div class="form-group-separator"></div>
            <div class="form-group">
            <label class="col-sm-2 control-label">Reason</label>

            <div class="col-sm-10">
            <select class="form-control" id="reason" name="reason" ng-model="patientPopup.data.reason" data-validate="required"  data-message-required="Please select the reason." ng-options="reason for reason in patientPopup.reasons">
            <option value="">Select the reason</option>
            </select>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-2">Date</label>
            <div class="col-sm-4">
            <div class="input-group" style="z-index:1060">
            <input type="text" id="fromDate" class="form-control datepicker" name="fromDate" data-format="D, dd MM yyyy" ng-model="patientPopup.data.startDate" max-date="patientPopup.data.endDate" data-validate="required,date"  data-message-required="Please select From Date." required>

            <div class="input-group-addon">
            <a href=""><i class="linecons-calendar"></i></a>
            </div>
            </div>
            </div>
            <div class="col-sm-1"><label class="col-sm-3 control-label">To</label></div>
            <div class="col-sm-4">
            <div class="input-group" style="z-index:1060">
            <input type="text" id="toDate" class="form-control datepicker" name="toDate" data-format="D, dd MM yyyy" ng-model="patientPopup.data.endDate" min-date="patientPopup.data.startDate" data-validate="required,date"  data-message-required="Please select To Date." required>

            <div class="input-group-addon">
            <a href=""><i class="linecons-calendar"></i></a>
            </div>
            </div>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-2">Note</label>
            <div class="col-sm-10">
            <textarea class="form-control" ng-model="patientPopup.data.note" cols="5" id="note" name="note" placeholder="Enter note for this scheduled event."></textarea>
            </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="field-1" style="padding-top:0;">Repeat</label>
            <div  ng-if="patientPopup.isNew" >
            <div class="col-sm-2">
            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="D">
            Daily
            </div>
            <div class="col-sm-2">
            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="W">
            Weekly
            </div>
            <div class="col-sm-2">
            <input type="radio" name="radio-4" class="cbr cbr-primary" ng-model="patientPopup.data.recurranceType" value="N">
            None
            </div>
            </div>
            <div  ng-if="!patientPopup.isNew" >
            <div class="col-sm-2">
            {{patientPopup.recurranceTypes[patientPopup.data.recurranceType]}}
            </div>
            </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="patientPopup.close();">Close</button>
            <button type="submit" class="btn btn-success" ng-click="patientPopup.save();">Save changes</button>
            </div>
            </form>
            </div>
        </script>

    </div>

    <mwl-calendar
        events="patientcalendar.events"
        view="patientcalendar.calendarView"
        view-title="patientcalendar.calendarTitle"
        current-day="patientcalendar.calendarDay"
        on-event-click="eventClicked(calendarEvent)"
        list="patientcalendar.patient_list"
        total-items="patientcalendar.totalRecords",
        current-page="patientcalendar.pageNo">
    </mwl-calendar>
    <div ng-if="patientcalendar.calendarView == 'week'">
        <div id="paginationButtons" class="text-right">
            <dir-pagination-controls boundary-links="true" 
                                     max-size="9"
                                     template-url="app/tpls/dirPagination.tpl.html" pagination-id="drinksPagination" on-page-change="patientcalendar.pageChanged(newPageNumber)"></dir-pagination-controls>

        </div>
    </div>
</div>
