<form class="form-horizontal validate" role="form" name="dispatchResponse.DispatchResponseForm" id="DispatchResponseForm" >     
    <div class="modal-header">
        <h4 class="modal-title">Response Details</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Status</label>
            <div class="col-sm-8">
                <select class="form-control" name ="status" id="status" ng-model="dispatchResponse.responseStatus" data-validate="required" required data-message-required="Please select Discharge Reason." ng-init="dispatchResponse.reason = 'loa'" >
                    <option value="Interested" selected>Interested</option>
                    <option value="Not Interested">Not Interested</option>
                    <option value="Not Sure">Not Sure</option>
                </select>
            </div>
        </div>
        <div class="form-group-separator"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Message</label>
            <div class="col-sm-8">
                <textarea class="form-control" id="responseMessage" name="responseMessage" ng-model="dispatchResponse.responseMessage" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="dispatchResponse.save();">Save</button>
        <button type="button" class="btn btn-red" ng-click="dispatchResponse.close();">Cancel</button>
    </div>
</form>