/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}


.green_bt{ background-color:#72a230; border:1px solid#72a230; margin-right:5px; width:120px !important;}
.green_bt:hover{ background-color:#82b240; border:1px solid#5f8628;}

.gray_bt{ background-color:#fff; color:#000; border:1px solid#dddddd; margin-right:5px; margin-bottom:10px !important; width:120px !important; }
.gray_bt:hover{ background-color:#dddddd; color:#000; border:1px solid#dddddd;}

.purple_bt{ background-color:#7c50bb; color:#fff; border:1px solid#3c0f7b; margin-right:5px; margin-bottom:10px !important; width:120px !important; }
.purple_bt:hover{ background-color:#6c40ab; color:#fff; border:1px solid#3c0f7b;}

.edit_bt{ background-color:#e4a347; color:#fff; border:1px solid#e4a347; /*margin-right:5px;*/ margin-bottom:10px !important; width:120px !important; }
.edit_bt:hover{ background-color:#f0ad4e; color:#fff; border:1px solid#c18a3c;}

.delet_bt{ background-color:#d9534f; color:#fff; border:1px solid#d9534f; margin-right:5px; margin-bottom:10px !important; width:120px !important; }
.delet_bt:hover{ background-color:#c84a46; color:#fff; border:1px solid#aa3d3a;}

.process_bt{width:120px !important; margin-bottom:5px !important;}


.map_panel{ width:100%; float:left; margin-bottom:10px; height:247px;}
.map_panel img{ width:100%; float:left; }

.map_s_input{ width:100%; float:left;}
.width100{ width:100%;}

.time_to{ min-width:220px;}


.user_p{ width:60px; height:60px; float:left; border-radius:50px; margin-right:20px; margin-bottom:10px;}
.user_p img{ width:100%; height:100%;}
.user_p_hd{ width:auto; font-size:22px; float:left;}
.user_p_hd h1{ width:100%; font-size:22px; float:left; margin-top:5px; margin-bottom:5px;}
.user_p_hd p{ width:100%; font-size:15px; float:left; margin-top:0px;}



@media screen and (max-width:320px) {
.green_bt{ width:100%; margin-right:0px !important; }
.gray_bt{ width:100%; margin-left:0px !important; margin-right:0px !important;}
.time_sh_bt_buttons{ width:auto !important; float:left !important;}


}




/*UPDATES ON 17-3-2015*/
.insurance_p{ max-width:300px; float:right;}
.pad0{ padding:0px !important;}
.pad_top0{ padding-top:0px !important;}

.lf_panel{ float:left;}

.ed_b{ padding-left:5px; font-family:Arial, Helvetica, sans-serif;}
.icon_size{ font-size:14px;}

.edit_button{ color:#62ba27; font-size:14px; padding:5px 0 0px 0px;}
.edit_button:hover{ color:#428118;}
.delete_button{ color:#f00; font-size:14px; padding:5px 0 0px 0px;}
.delete_button:hover{color:#a71010;}
.view_task_button{ color:#7084e7; font-size:14px; padding:5px 0 0px 0px;}
.view_task_button:hover{ color:#0e44a7;}

.download_bt{ color:#525252; font-size:14px; padding:5px 0 0px 0px;}
.download_bt:hover{ color:#000000;}

.deactivate_bt{ color:#2c41ac; font-size:14px; padding:5px 0 0px 0px;}
.deactivate_bt:hover{ color:#1b2c80;}


/*UPDATES ON 19-3-2015*/
@media screen and (min-width:768px) {
	.insurance_pd{ padding-left:9px !important;}
}


.user_panel{ min-width:250px; float:left;}
.user_img{ width:40px; float:left; border-radius:100px;}

.emp_user_hd{ width:auto; font-size:22px; float:left; margin-left:10px;}
.emp_user_name{ width:100%; font-size:15px; float:left; font-weight:bold; margin-top:3px; margin-bottom:2px;}

.emp_user_hd h1{ width:100%; font-size:15px; float:left; font-weight:bold; margin-top:3px; margin-bottom:2px;}
.emp_user_hd p{ width:100%; font-size:12px; float:left; margin-top:0px; font-weight:normal;}



/*UPDATES ON 20-3-2015*/
.green_dot{ width:7px; height:7px; background-color:#72a230; float:left; border-radius:100px; margin:5px 5px  0 0;}
.red_dot{ width:7px; height:7px; background-color:#F00; float:left; border-radius:100px; margin:5px 5px  0 0;}
.black_dot{ width:7px; height:7px; background-color:#474747; float:left; border-radius:100px; margin:5px 5px  0 0;}

.gps_green{ width:15px; height:7px; float:left; background-color:#72a230; border-radius:5px; margin-right:5px; margin-top:5px;}
.gps_red{ width:15px; height:7px; float:left; background-color:#F00; border-radius:5px; margin-right:5px; margin-top:5px;}
.gps_black{ width:15px; height:7px; float:left; background-color:#474747; border-radius:5px; margin-right:5px; margin-top:5px;}

.d_act_user{background-color:#f6f7fb !important;}

.total{ color:#4c4e4f; font-weight:bold; font-size:12px;}
.border0{ border:0px !important;}
.bottom_nav_panel{ width:170px; margin:auto;}
.discharge_user{background-color:#fff6f6 !important;}
.time_sh_bt_buttons{ width:260px; margin:auto;}

.file{ font-size:15px; padding:0px !important;}
.green_dot{ width:7px; height:7px; background-color:#7c50bb; float:left; border-radius:100px; margin:5px 5px  0 0;}

.input30{ width:30px !important; padding: 6px 5px !important;}

.width800{ width:800px !important;}

@media screen and (max-width:768px) {
.wd_full{ width:100% !important;}
.width800{ width:auto!important;}
}

@media screen and (min-width:1300px) {
.scroll{ overflow:hidden !important; border:0px !important;}
}


div.dataTables_filter label{ float:right;}

div.dataTables_paginate { float:right;}
.pagination{ margin:0px; padding:0px;}

.timesheet_pg{}
.timesheet_pg .pagination, .dataTables_info{ display:none !important;}
.pad_bt0{ padding-bottom:0px;}


/*#example-1_wrapper .col-xs-6{ width:100%;}
div.dataTables_length label{ width:100% !important;}
*/
.pad_rg0{ padding-right:0px !important;}




/*NEW CSS ON 20-4-2015*/
.p_bt_margin{ margin-right:53px;}
.mar_rg5{ margin-right:5px !important;}

.user_av_hd{ width:auto; font-size:22px; float:left;}
.user_av_hd h1{ width:100%; font-size:22px; margin-top:10px; margin-bottom:0px !important;}
.user_av_hd p{ width:100%; font-size:15px; float:left; margin-top:0px;}
.pad_lf0{ padding-left:0px !important;}

.border0{border:0px !important;}
.mar_bt0{ margin-bottom:5px !important;}




.search_hide .dataTables_length{display:none !important;}
.search_hide #example-1_filter{display:none !important;}

.pad_lf0{ padding-left:0px !important;}



/*CSS CREATED ON 24-4-2015*/
.tb_width{float:left; width:70px; margin-top:-16px;}
.wd98{float:left; width:98px; margin-top:-16px;}
.wd130{float:left; width:130px; margin-top:-16px;}
.wd110{float:left; width:110px; margin-top:-16px;}
.wd60{float:left; width:60px; margin-top:-16px;}
.wd50{float:left; width:50px; margin-top:-16px;}
.wd80{float:left; width:80px; margin-top:-16px;}
.wd250{float:left; width:300px; margin-top:-16px;}

/*
.dataTables_wrapper .table thead>tr .sorting_desc:before{   content: '\f0dd';
  float: le; width:10px;}
  */
  
 /* form input and label */
.form-group label {color: #4C4D4C;}
.form-group input {color: #4C4D4C;}
.form-group select {color: #4C4D4C;}
.form-group textarea {color: #4C4D4C;}
.cbr-replaced.cbr-radio.cbr-checked .cbr-state span{ background-color: #4C4D4C;}

/*Start By Saurabh Agrawal 20150417 */
span.validate-has-error { color: #cc3f44; display: block; font-size: 12px; padding-top: 5px; }
/*End By Saurabh Agrawal 20150417 */

/* JQuery validation style */
input.error { border: 1px solid #CC3F44; }
select.error { border: 1px solid #CC3F44; }
select.error option{ color: #CC3F44;}
label.error { color: #CC3F44; display: block; font-size: 12px; padding-top: 5px;  }

/* valign center */
.table > tbody > tr > td, .table > tbody > tr > th {vertical-align: middle;}