<div class="page-body">
    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">
                Manage Access
            </h1>
            <p class="description">
                Set User Access
            </p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal validate" id="manage_access_form" name="manage_role_form" role="form">
                        <div class="row">
                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-info green_bt pull-right" type="submit" ng-click="manageAccess.saveSettings()">
                                    Save Changes
                                </button>
                                <button class="btn btn-info btn-single gray_bt pull-right" type="button" ng-click="manageAccess.resetPayroll()">
                                    Reset To Default
                                </button>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                User
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="manageAccess.roleObj.payrollProvider" id="payrollProvider" name="payrollProvider">
                                    <option value="">
                                        Select
                                    </option>
                                    <option value="ADP - Work Force Now">
                                        ADP - Work Force Now
                                    </option>
                                    <option value="ADP - Run">
                                        ADP - Run
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Role
                            </label>
                            <div class="col-sm-9 form-control-static">
                                Admin
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Access
                            </label>
                            <div class="col-sm-9">
                                <script type="text/javascript">
                                    jQuery(document).ready(function ($)
                                    {
                                        $("#multi-select").multiSelect({
                                            afterInit: function ()
                                            {
                                                // Add alternative scrollbar to list
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                                            },
                                            afterSelect: function ()
                                            {
                                                // Update scrollbar size
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                                            }
                                        });
                                    });
                                </script>
                                <select class="form-control" id="multi-select" ng-model="manageAccess.roleObj.accessList" ng-options="access.name for access in manageAccess.accessList track by access.name" multiple="multiple" name="AccessList" data-validate="required"  data-message-required="Please select Access.">                                    
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 7 (Ajax Modal)-->
<div class="modal fade" id="modal-7"  data-keyboard="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title">
                    Holiday Rate
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="payroll_settings_form" name="payroll_settings_form" role="form">
                    <div class="row">
                        <div style="width:100%; float:left;">
                            <div class="col-sm-12">
                                <strong>
                                    You Have Selected 2 Rates
                                </strong>
                                <br>
                                </br>
                            </div>
                            <div class="col-sm-12 ">
                                <table cellspacing="0" class="table table-small-font table-bordered table-striped" style="margin-top:15px;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                Silky Door
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                The Absent Twilight
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Imported styles on this page -->
<!--BOTTOM SCRIPTS START -->
<script type="text/javascript">
    function setValidationMessage(element) {
        var elementName = element.getAttribute("name") + "-error";
        var itemId = element.getAttribute("itemid");
        $("#" + elementName).text('Please enter ' + itemId + '.');
    }
    function showAjaxModal()
    {
        jQuery('#modal-7').modal('show', {backdrop: 'static'});

        setTimeout(function ()
        {
            jQuery.ajax({
                url: "data/ajax-content.txt",
                success: function (response)
                {
                    jQuery('#modal-7 .modal-body').html(response);
                }
            });
        }, 800); // just an example
    }
</script>
<script type="text/ng-template" id="modal-5">
    <form class="validate form-horizontal" name="holidayRateForm" id="holiday_rate_form" >
    <div class="modal-header">
    <button type="button" class="close" ng-click="holidayRateModal.cancel();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Select Date For {{holidayRateModal.holiday.name}}</h4>
    </div>
    <div class="modal-body">

    <div class="row">
    <div class="form-group">
    <div class="col-sm-8 col-sm-offset-3">
    <div id="holidayDate" style="margin-left:25px"></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group">

    <div class="col-sm-9 col-sm-offset-3">
    <label class="checkbox-inline">
    <input type="checkbox" ng-model="holidayRateModal.holiday.isRepeatAnnually">
    Indicates holiday date repeats annually. 
    </label>
    </div>

    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="holidayRateModal.cancel();">Close</button>
    <button type="button" class="btn btn-red" ng-show="holidayRateModal.showRemove" ng-click="holidayRateModal.remove();">Remove</button>
    <button type="submit" class="btn btn-success" ng-click="holidayRateModal.save();">Save</button>
    </div>
    </form>
</script>

