<div class="page-body"> 
    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">View Employee Time Sheets</h1>
            <p class="description">View Employees Punchin/Punchout Records </p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4 pad_lf0" style="margin-top:-15px;">
                                    <div class="user_p mar_bt0"><img src="assets/images/user-5.png" class="img-cirlce img-responsive" alt="user"></div>
                                    <div class="user_av_hd">
                                        <h1>{{empTimesheet.selectedEmployee.fName + ' ' + empTimesheet.selectedEmployee.lName}}</h1>
                                        <p>{{empTimesheet.selectedEmployee.position}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-7 pull-right pad0 wd_full">
                                    <div class="form-group ">
                                        <label class="col-sm-3 control-label">Employee Name</label>
                                        <div class="col-sm-9">
                                            <!--                                            <script type="text/javascript">
                                                                                            jQuery(document).ready(function($)
                                                                                            {
                                                                                                $("#sboxit-2").selectBoxIt().on('open', function()
                                                                                                {
                                                                                                    // Adding Custom Scrollbar
                                                                                                    $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                                                                                                });
                                                                                            });
                                                                                        </script>-->
                                            <select class="form-control" id="sboxit-2" ng-model="empTimesheet.emp" ng-options='emp as (emp.fName+" "+emp.lName) for emp in empTimesheet.employeeList' ng-change="empTimesheet.selectEmployee(empTimesheet.emp)">
                                            </select>
                                            <!--<input type="text" class="form-control" ng-model="empTimesheet.searchValue" ng-change="empTimesheet.filterTimesheet()">-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pad0">
                                <div class="form-group col-sm-5 pull-left">
                                    <label class="col-sm-4 control-label pull-left" style="min-width:110px;"><span style="float:left;">Show Entries</span></label>
                                    <div style="width:70px; float:left;">
                                        <select class="form-control" ng-model="empTimesheet.viewRecords" ng-change="empTimesheet.changeViewRecords()">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 pull-right wd_full pad0">
                                    <div class="col-sm-6 pad0 wd_full">
                                        <div class="form-group">
                                            <label for="field-68" class="col-sm-3 control-label">From</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="field-68" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="empTimesheet.fromDate" ng-change="empTimesheet.filterTimesheet()" max-date="empTimesheet.toDate">
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <div class="form-group">
                                            <label for="field-69" class="col-sm-3 control-label">To</label>
                                            <div class="col-sm-9 pad_lf0">
                                                <div class="input-group">
                                                    <input type="text" id="field-69" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="empTimesheet.toDate" ng-change="empTimesheet.filterTimesheet()" min-date="empTimesheet.fromDate">
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pad0">
                                <div class="col-sm-6 pull-right">
                                    <button type="button" class="btn btn-info green_bt pull-right" style="width:auto;">Review</button>
                                    <button type="button" class="btn btn-info btn-single process_bt pull-right mar_rg5">Manual Punch</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pad0">
                            <div class="table-responsive scroll search_hide" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true"> 
                                <table id="example-1" class="table table-striped table-bordered table table-small-font table-bordered table-striped" ng-if="empTimesheet.timesheetList.length" datatable-setup cellspacing="0" datatable-obj="empTimesheet.datatableObj">
                                    <thead>
                                        <tr>
                                            <th width="13%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap><span style="padding-right:10px;">Date</span></th>
                                            <th width="13%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap><span style="padding-right:10px;">Time In</span></th>
                                            <th width="13%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap><span style="padding-right:10px;">Time Out</span></th>
                                            <th width="13%" colspan="1" rowspan="1" aria-controls="example-1" aria-label="Name: activate to sort column ascending"  aria-sort="ascending" tabindex="0" nowrap><span style="padding-right:10px;">Hours</span></th>

                                            <th width="26%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap><span style="padding-right:10px;">Patient Name</span></th>
                                            <th width="22%" data-priority="6" nowrap><span style="padding-right:10px;">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="timesheet in empTimesheet.timesheetList">
                                            <th>
                                                {{timesheet.punchInTime|date :dateFormat}}
                                            </th>
                                            <td>
                                                <div class="green_dot"></div>
                                                {{timesheet.punchInTime|date :timeFormat}}
                                            </td>
                                            <td>
                                                <div class="green_dot"></div>
                                                {{timesheet.punchOutTime|date :timeFormat}}
                                            </td>
                                            <td>
                                                {{timesheet.punchInTime|duration:timesheet.punchOutTime}}
                                            </td>
                                            <td>
                                                {{timesheet.patientId.FName + " " + timesheet.patientId.LName}}
                                            </td>
                                            <td>
                                                <div style="float:left; min-width:170px;">
                                                    <a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                    <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                    <a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <!--                                        <tr>
                                                                                    <th>11/28/2008</th>
                                                                                    <td><div class="green_dot"></div>
                                                                                        09:20 AM</td>
                                                                                    <td><div class="red_dot"></div>
                                                                                        06:00 PM</td>
                                                                                    <td>09:00</td>
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;">
                                                                                            <a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>11/28/2008</th>
                                                                                    <td><div class="black_dot"></div>
                                                                                        09:00 AM</td>
                                                                                    <td><div class="black_dot"></div>
                                                                                        06:30 PM</td>
                                                                                    <td>09:00</td>
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;">
                                                                                            <a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>11/28/2008</th>
                                                                                    <td><div class="green_dot"></div>
                                                                                        09:00 AM</td>
                                                                                    <td><div class="green_dot"></div>
                                                                                        06:00 PM</td>
                                                                                    <td>09:00</td>
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;">
                                                                                            <a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>11/28/2008</th>
                                                                                    <td> 09:00 AM</td>
                                                                                    <td> 06:00 PM</td>
                                                                                    <td>09:00</td>
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;">
                                                                                            <a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                </tr>-->
                                    </tbody>
                                </table>
                                <table width="100%"  class="table table-small-font table-bordered table-striped" cellspacing="0">
                                    <tbody>
                                        <tr style="border:0px !important;">
                                            <td width="25%"  class="border0 total" align="right">Total</td>
                                            <td width="25%"  class="border0 total" align="left">00:00 HRS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <!--                <div class="panel-body pad_top0">
                                    <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><script type="text/javascript">
                                        // This JavaScript Will Replace Checkboxes in dropdown toggles
                                        jQuery(document).ready(function($)
                                        {
                                            setTimeout(function()
                                            {
                                                $(".checkbox-row input").addClass('cbr');
                                                cbr_replace();
                                            }, 0);
                                        });
                                        </script>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="time_sh_bt_buttons">
                                                    <button style="width:auto;" class="btn btn-info green_bt pull-left" type="button">&laquo; Previous</button>
                                                    <button style="width:auto;" class="btn btn-info green_bt pull-left" type="button">Next &raquo;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
            </div>
        </div>
    </div>
</div>