<div class="page-body">
    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">
                Manual Punch
            </h1>
            <p class="description">
                Make A Manual Punch Record In Case Of Missed Punches
            </p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <!-- FORM WIZARD WITH VALIDATION START HERE-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal validate" id="manual_punch_form" name="manual_punch_form" role="form" ng-submit='manualPunch.saveManualAttendance()'>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-info green_bt pull-right" type="submit">
                                    Save Changes
                                </button>
                                <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                    Reset To Default
                                </button>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Patient Name
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sboxit-1" name="PatientName" ng-model="manualPunch.attendanceObj.patientId" ng-options="employee.id as (employee.fName +' '+employee.lName  ) for employee in manualPunch.employeeList" data-validate="required"  data-message-required="Please select Patient Name.">
                                    <option value="">
                                        Select
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Employee Name
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sboxit-2" name="EmployeeName" ng-model="manualPunch.attendanceObj.employeeId" ng-options="employee.id as (employee.fName +' '+employee.lName  ) for employee in manualPunch.employeeList" data-validate="required"  data-message-required="Please select Employee Name.">
                                    <option value="">
                                        Select
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-65">
                                Punch In Time
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-minimal">
                                    <input class="form-control timepicker" data-default-time="11:25 AM" ng-model='manualPunch.attendanceObj.punchInTime' data-minute-step="5" data-second-step="5" data-show-meridian="true" data-show-seconds="true" data-template="dropdown" id="field-65" name="PunchInTime" type="text" data-validate='required' data-message-required='Please enter Punch In Time.'/>
                                    <div class="input-group-addon">
                                        <a href="#">
                                            <i class="linecons-clock">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-66">
                                Punch Out Time
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group input-group-minimal">
                                    <input class="form-control timepicker" data-default-time="11:25 AM" ng-model='manualPunch.attendanceObj.punchOutTime' data-minute-step="5" data-second-step="5" data-show-meridian="true" data-show-seconds="true" data-template="dropdown" id="field-66" name="PunchOutTime" type="text" data-validate='required' data-message-required='Please enter Punch Out Time.'/>
                                    <div class="input-group-addon">
                                        <a href="#">
                                            <i class="linecons-clock">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-67">
                                Date
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control datepicker" data-format="mm/dd/yyyy" id="field-67" ng-model='manualPunch.attendanceObj.punchInDate' name="Date" type="text" data-validate="required"  data-message-required="Please enter Date.">
                                    <div class="input-group-addon">
                                        <a href="#">
                                            <i class="linecons-calendar">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FORM WIZARD WITH VALIDATION END HERE-->
</div>

