
<div class="page-body"> 

    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">Patient Time Sheet</h1>
            <p class="description">Patient Time Sheet</p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal validate" role="form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4 pad_lf0" style="margin-top:-15px;" ng-show="patTimesheet.selectedPatient && patTimesheet.selectedPatient !== null" >                                    
                                    <div class="user_av_hd">
                                        <h1><a href="" ng-click="patTimesheet.viewPatient(patTimesheet.selectedPatient.id)">{{patTimesheet.selectedPatient.lName + ", " + patTimesheet.selectedPatient.fName + " " + patTimesheet.selectedPatient.middleInitial}}</a></h1>
                                        <!--<p>{{patTimesheet.selectedPatient.position}}</p>-->
                                    </div>
                                </div>

                                <div class="col-sm-8 pull-right pad0 wd_full">
                                    <div class="form-group" ng-class="{'validate-has-error':patTimesheet.searchParams.patientId == null && patTimesheet.formSubmitted}">
                                        <label class="col-sm-3 control-label">Patient Name</label>
                                        <div class="col-sm-9">
                                            <!--<input type="text" class="form-control" ng-model="patTimesheet.searchValue" ng-change="patTimesheet.filterTimesheet()">-->
                                            <script type="text/javascript">
                                                jQuery(document).ready(function($)
                                                {
                                                    setTimeout(function() {
                                                        $("#sboxit-2").select2({
//                                                        minimumResultsForSearch: -1,
                                                            placeholder: 'Select Patient...',
//                                                        minimumInputLength: 1,
//                                                        placeholder: 'Search',
                                                        }).on('select2-open', function()
                                                        {
                                                            // Adding Custom Scrollbar
                                                            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                                                        });
                                                    }, 200);

                                                });
                                            </script>
                                            <select class="form-control" name ="sboxit-2" id="sboxit-2" ng-model="patTimesheet.searchParams.patientId" ng-options='pat.id as (pat.lName+", "+pat.fName+" "+pat.middleInitial) for pat in patTimesheet.patientList track by pat.id'>
                                                <option value="" selected hidden />
                                            </select>
                                            <div ng-show='patTimesheet.searchParams.patientId == null && patTimesheet.formSubmitted'>
                                                <span style='color: #cc3f44;display: block;font-size: 12px;padding-top: 5px;'>Please select Patient Name.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pad0">
                                <div class="form-group col-sm-5 pull-left">
                                    <label class="col-sm-4 control-label pull-left" style="min-width:110px;"><span style="float:left;">Show Entries</span></label>
                                    <div style="width:70px; float:left">
                                        <select class="form-control input-sm" ng-model="patTimesheet.viewRecords" ng-change="patTimesheet.changeViewRecords()">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-7 pull-right wd_full">
                                    <div class="col-sm-6 pad0 wd_full">
                                        <div class="form-group">
                                            <label for="field-68" class="col-sm-3 control-label">From</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="field-68" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="patTimesheet.searchParams.startDate" max-date="patTimesheet.searchParams.endDate" name='fromDate' data-validate="required"  data-message-required="Please select From Date." required>
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pad0">
                                        <div class="form-group">
                                            <label for="field-69" class="col-sm-3 control-label">To</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <input type="text" id="field-69" class="form-control datepicker" data-format="mm/dd/yyyy" ng-model="patTimesheet.searchParams.endDate" min-date="patTimesheet.searchParams.startDate">
                                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 pad0">
                                <div class="col-sm-6 pull-right">

                                    <button type="submit" class="btn btn-info green_bt pull-right" style="width:auto;" ng-click="patTimesheet.selectPatient(patTimesheet.pat);
                                        patTimesheet.filterTimesheet();
                                        patTimesheet.formSubmitted = true">Review</button>
                                    <a href="#/app/manual_punch{{patTimesheet.searchParams.patientId==null?'':'/patient/'+patTimesheet.searchParams.patientId+'?from='+patTimesheet.searchParams.startDate+'&to='+patTimesheet.searchParams.endDate}}" class="btn btn-info btn-single process_bt pull-right mar_rg5">Manual Punch</a>
                                    <button class="btn btn-info btn-single gray_bt pull-right" type="button" ng-click="patTimesheet.resetFilters()">
                                        Reset Filters
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pad0">
                            <div class="table-responsive scroll border0 search_hide" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                                <table id="example-1" class="table table-striped table-bordered  table table-small-font table-bordered table-striped" ng-if="patTimesheet.timesheetList.length" datatable-setup cellspacing="0" datatable-obj="patTimesheet.datatableObj">
                                    <thead>
                                        <tr>
                                            <th width="15%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap>Date</th>
                                            <th width="12%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap>Time In</th>
                                            <th width="12%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap>Time Out</th>
                                            <th width="11%" colspan="1" rowspan="1" aria-controls="example-1" aria-label="Name: activate to sort column ascending"  aria-sort="ascending" tabindex="0" nowrap>Hours</th>

                                            <th width="20%" colspan="1" rowspan="1" aria-controls="example-1"  aria-label="Position: activate to sort column ascending" tabindex="0" nowrap>Employees Name</th>
                                            <th class='nosorting' width="10%" data-priority="6" nowrap>Actions</th>
                                            <th class='nosorting' width="20%" data-priority="6" nowrap>Signature</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="timesheet in patTimesheet.timesheetList">
                                            <th>
                                                {{timesheet.roundedPunchInTime|date :dateFormat}}
                                            </th>
                                            <td>
                                                <!--Display green dot for matched GPS location-->
                                                <!--<div class="green_dot"></div>-->
                                                <!--Display red dot for not matched GPS location-->
                                                <!--<div class="red_dot"></div>-->
                                                <div ng-class="{'black_dot':timesheet.punchInColorFlag == 'black','red_dot':timesheet.punchInColorFlag == 'red','green_dot':timesheet.punchInColorFlag == 'green'}"></div>
                                                {{timesheet.roundedPunchInTime|date :timeFormat}}
                                            </td>
                                            <td>
                                                <span ng-if='validNumber(timesheet.roundedPunchOutTime)'>
                                                    <div ng-class="{'black_dot':timesheet.punchOutColorFlag == 'black','red_dot':timesheet.punchOutColorFlag == 'red','green_dot':timesheet.punchOutColorFlag == 'green'}"></div>
                                                    {{timesheet.roundedPunchOutTime|date :timeFormat}}
                                                </span>
                                                <span ng-if='!validNumber(timesheet.roundedPunchOutTime)'>Not Punched</span>
                                            </td>
                                            <td>
                                                <span ng-if='validNumber(timesheet.roundedPunchOutTime)'>
                                                    {{timesheet.roundedPunchInTime|duration:timesheet.roundedPunchOutTime}}
                                                </span>
                                                <span ng-if='!validNumber(timesheet.roundedPunchOutTime)'>N/A</span>
                                            </td>

                                            <td>
                                                {{timesheet.employeeId.fName + " " + timesheet.employeeId.lName}}
                                            </td>
                                            <td>
                                                <div style="float:left; min-width:120px;">
                                                    <a ng-if="timesheet.isEdited == true && patTimesheet.selectedPatient.status != 'd'" class="btn icon-left fa fa-pencil edit_button" ng-href="#/app/{{timesheet.isMissedPunch===true?'edit_missed_punch':'edit_timesheet'}}/{{timesheet.id}}?patId={{patTimesheet.selectedPatient.id}}&from={{patTimesheet.searchParams.startDate}}&to={{patTimesheet.searchParams.endDate}}" tooltip="Edit"><span class="ed_b"></span></a> 
                                                    <a ng-if="timesheet.isEdited == true" class="btn icon-left fa fa-trash-o delete_button" href="" ng-click="patTimesheet.openDeleteModal(timesheet, 'deleteModel')" tooltip="Delete"><span class="ed_b"></span></a> 
                                                    <!--<a class="btn icon-left fa fa-search view_task_button" href="#"><span class="ed_b">Tasks </span></a>-->

                                                    <a class=" btn fa fa-search view_task_button" ng-click="patTimesheet.openTaskListModal('modal-3', 'lg', 'static', timesheet.tasks);" href="javascript:;" tooltip="View Tasks"><span class="ed_b"></span></a>
                                                </div>
                                            </td>
                                            <td><div ng-if="timesheet.isManualPunch === true">Admin Verified</div>
                                                <img ng-if="(!timesheet.isManualPunch || timesheet.isManualPunch === false) && timesheet.signature && timesheet.signature !== null" width="58" height="34" alt="Signature" ng-src="{{amazonSignatureUrl + patTimesheet.companyCode + '/' + timesheet.signature}}"></td>
                                        </tr>

                                        <!--                                        <tr>
                                                                                    <th>2008/11/28</th>
                                                                                    <td><div class="green_dot"></div>
                                                                                        09:20 AM</td>
                                                                                    <td><div class="red_dot"></div>
                                                                                        06:00 PM</td>
                                                                                    <td>09:00</td>
                                        
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;"><a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class=" btn fa fa-search view_task_button" onclick="showAjaxModal();" href="javascript:;"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                    <td><img width="58" height="34" alt="Signature" src="assets/images/Signature.png"></td>
                                                                                </tr>
                                        
                                                                                <tr>
                                                                                    <th>2008/11/28</th>
                                                                                    <td><div class="black_dot"></div>
                                                                                        09:00 AM</td>
                                                                                    <td><div class="black_dot"></div>
                                                                                        06:30 PM</td>
                                                                                    <td>09:00</td>
                                        
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;"><a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class=" btn fa fa-search view_task_button" onclick="showAjaxModal();" href="javascript:;"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                    <td><img width="58" height="34" alt="Signature" src="assets/images/Signature.png"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>2008/11/28</th>
                                                                                    <td><div class="green_dot"></div>
                                                                                        09:00 AM</td>
                                                                                    <td><div class="green_dot"></div>
                                                                                        06:00 PM</td>
                                                                                    <td>09:00</td>
                                        
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;"><a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class=" btn fa fa-search view_task_button" onclick="showAjaxModal();" href="javascript:;"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                    <td><img width="58" height="34" alt="Signature" src="assets/images/Signature.png"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>2008/11/28</th>
                                                                                    <td> 09:00 AM</td>
                                                                                    <td> 06:00 PM</td>
                                                                                    <td>09:00</td>
                                        
                                                                                    <td>Capoblanco Anne</td>
                                                                                    <td><div style="float:left; min-width:170px;"><a class="btn icon-left fa fa-pencil edit_button" href="#"><span class="ed_b">Edit</span></a> 
                                                                                            <a class="btn icon-left fa fa-trash-o delete_button" href="#"><span class="ed_b">Dlt</span></a> 
                                                                                            <a class=" btn fa fa-search view_task_button" onclick="showAjaxModal();" href="javascript:;"><span class="ed_b">Tasks </span></a>
                                                                                        </div></td>
                                                                                    <td><img width="58" height="34" alt="Signature" src="assets/images/Signature.png"></td>
                                                                                </tr>-->
                                    </tbody>
                                </table>
                                <div ng-if="(patTimesheet.timesheetList == null || patTimesheet.timesheetList.length == 0) && patTimesheet.dataRetrieved && patTimesheet.criteriaSelected === true">
                                    No timesheet available for selected patient.
                                </div>
                                <div ng-if="patTimesheet.criteriaSelected === false">
                                    Please select all filters to review timesheets.
                                </div>
                                <table width="100%"  class="table table-small-font table-bordered table-striped" cellspacing="0" ng-if="(patTimesheet.timesheetList.length > 0) && patTimesheet.dataRetrieved">
                                    <tbody>
                                        <tr style="border:0px !important;">
                                            <td width="25%"  class="border0 total" align="right">Total</td>
                                            <td width="25%"  class="border0 total" align="left"><span ng-bind="patTimesheet.timesheetList | durationtotal"></span> HRS</td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </form>
                </div>

                <!--                <div class="panel-body pad_top0">
                                    <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="time_sh_bt_buttons">
                                                    <button style="width:auto;" class="btn btn-info green_bt pull-left" type="button">&laquo; Previous</button>
                                                    <button style="width:auto;" class="btn btn-info green_bt pull-left" type="button">Next &raquo;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                <div class="panel-body pad_top0">
                    <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><script type="text/javascript">
                        // This JavaScript Will Replace Checkboxes in dropdown toggles
                        jQuery(document).ready(function($)
                        {
                            setTimeout(function()
                            {
                                $(".checkbox-row input").addClass('cbr');
                                cbr_replace();
                            }, 0);
                        });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



<!-- Modal 7 (Ajax Modal)-->
<!--<div class="modal fade" id="modal-7">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Completed Tasks</h4>
            </div>

            <div class="modal-body">


                <form class="form-horizontal" role="form">
                    <div class="row">


                        <div style="width:100%; float:left;">

                            <div class="col-sm-12">
                                <strong>Patient Name:</strong> Pierre, Karl<br>
                                <strong>Provider Name:</strong> Doe, John<br>
                                <strong>Title:</strong> HHA<br>
                                <strong>Date:</strong>  April 07 2015
                            </div>

                            <div class="col-sm-12 ">

                                <table width="100%"  style="margin-top:15px;"  class="table table-small-font table-bordered table-striped" cellspacing="0">
                                    <tbody>

                                        <tr>
                                            <td align="left">Batch Toilet</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Catheter Care</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Dressing Assistance</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Errands</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Feeding</td>
                                        </tr>

                                        <tr>
                                            <td align="left">House Keeping</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Incontient Care</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Laundry</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Maeal Preparations</td>
                                        </tr>

                                        <tr>
                                            <td align="left">Medication Reminder</td>
                                        </tr>



                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>-->

<!--<script type="text/javascript">
    function showAjaxModal()
    {
        jQuery('#modal-7').modal('show', {backdrop: 'static'});

        setTimeout(function()
        {
            jQuery.ajax({
                url: "data/ajax-content.txt",
                success: function(response)
                {
                    jQuery('#modal-7 .modal-body').html(response);
                }
            });
        }, 800); // just an example
    }
</script>-->
<!-- Modal 7 (Ajax Modal)-->
<script type="text/ng-template" id="modal-3">
    <div class="modal-header">
    <h4 class="modal-title">Task List</h4>
    </div>

    <div class="modal-body">
    <div class="row">

    <div class="col-sm-12" ng-repeat="task in taskListModal.taskList" ng-if="taskListModal.taskList!=null && taskListModal.taskList.length>0">
    <div>
    {{task.companyTasksId.task}}
    </div>
    </div>
    <div class="col-sm-12" ng-if="taskListModal.taskList==null || taskListModal.taskList.length==0">
    No tasks are available.

    </div>
    </div>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="taskListModal.close();">Close</button>
    </div>
</script>
<script type="text/ng-template" id="deleteModel">
    <div class="modal-header">		
    <h4 class="modal-title">{{deletePunchModal.punchObj.punchInTime|timesheetformat}} - {{deletePunchModal.punchObj.punchInTime|date :dateFormat}} - {{deletePunchModal.punchObj.punchInTime|date :timeFormat}} to {{deletePunchModal.punchObj.punchOutTime|date :timeFormat}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to delete this Punch record?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="deletePunchModal.delete(deletePunchModal.punchObj);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="deletePunchModal.dismiss();">No</button>
    </div>
</script>


<script type="text/ng-template" id="modal-5">



    <div class="modal-body">
    <div class="row">
    <div class="user_panel col-md-12">
    <div class="emp_user_hd">
    <div class="emp_user_name">{{selectPatientModel.patient.lName}}, {{selectPatientModel.patient.fName}} {{selectPatientModel.patient.middleInitial}}</div>
    <p>{{selectPatientModel.patient.insuranceProviderName}}</p>
    </div>
    <button type="button" class="close" ng-click="selectPatientModel.close();" aria-hidden="true">&times;</button>
    </div>

    </div>
    <hr/>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Gender</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.gender==='M'?'Male':'Female'}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Insurer</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.insuranceProviderName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Insurance ID</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.insuranceId}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Phone Number</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.phone | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Languages Spoken</strong></label>
    <div class="col-md-8">
    <span ng-if="selectPatientModel.patient.languagesSpoken== null || selectPatientModel.patient.languagesSpoken.length==0">N/A</span>
    <span ng-repeat="language in selectPatientModel.patient.languagesSpoken">{{languages[language]}}<label ng-if="$index<selectPatientModel.patient.languagesSpoken.length-1">, </label>
    </span>
    </div>
    </div>	

    </div>
    </div>

    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Address</strong></label>
    <div class="col-md-8" ng-show="selectPatientModel.patient.patientAddress">
    {{selectPatientModel.patient.patientAddress.address1}}
    <div ng-if="selectPatientModel.patient.patientAddress.address2 != null">
    {{selectPatientModel.patient.patientAddress.address2}}
    </div> 
    <div>{{selectPatientModel.patient.patientAddress.city}}, {{selectPatientModel.patient.patientAddress.state}}, {{selectPatientModel.patient.patientAddress.zipcode}}</div>
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Date Of Birth</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.dateOfBirth|date :dateFormat}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Coordinator</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.staffingCordinatorName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Nurse Case Manager</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.nurseCaseManagerName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Care Coordinator</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinator}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Phone</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorContact | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Email</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorEmail}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Fax</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorFax | tel}} 
    </div>
    </div>	

    </div>
    </div>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="selectPatientModel.close();">Close</button>
    </div>
</script>