<style>
    .main {width:1120px;
       margin:0 auto;}
/*body {font-size:10px;}*/
small {font-size:11px;}	
table th {text-align:center;}   
.border {border-top:black solid 1px;
         border-left:black solid 1px;
		 padding:5px;}
.border_2 {border-top:black solid 1px;
         border-left:black solid 1px;
		 border-right:black solid 1px;
		 padding:5px;}		 
.numbers {float:left;
          color:grey;
		  padding-right:5px;
         }
.width_100 {width:100%;}		 
.width_80 {width:80%;}
.width_50 {width:50%;}
.width_40 {width:40%;}
.width_30 {width:30%;}	
.width_20 {width:20%;}
.width_10 {width:10%;}
.width_35 {width:35%;}	 
.width_66 {width:66.5%;}
.width_70 {width:70%;}
.text_right {float:right;
             margin-left:10px;
             font-size:10px;}

.payor {width:99%;
        padding:5px;
		border:1px solid black;
		margin-bottom:10px;}		 
.first_sec {
            float:left;
			margin-right:3px;
			font-size:11px;}
.radio {width:69px;
        text-align:center;}	
.padding {padding-top:12px;}		
.width_33{width:33.29%;}
.width_85{width:85%;}			   
.width_15{width:15%;}
.width_25{width:25%;}
.border_bottom{
	border-bottom:black solid 1px;}
::-webkit-input-placeholder {
   color:black;
}
:-moz-placeholder { 
   color:black;  
}	
</style>
<div class="page-body"> 


    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">Manual Claim 1500</h1>
            <p class="description">Generates Bills And EDI For Each Insurance Provider</p>
        </div>
    </div>
    <form class="form-wizard validate" id="rootwizard" novalidate="" role="forl">
        <ul class="tabs">
            <li class="active">
                <a data-toggle="tab" href="#/app/billing_tab_1">
                    Patient Information
                    <span>
                        1
                    </span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#/app/billing_tab_2">
                    Insured Information
                    <span>
                        2
                    </span>
                </a>
            </li>
           
        </ul>
        <div class="progress-indicator">
            <span>
            </span>
        </div>
    </form>
    <!--PAGE TITLE END -->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body pad_top0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal" id="add_patient_tab_1_form" name="add_patient_tab_1_form" role="form">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-info btn-single  pull-right">Process</button>
                                                </div>
                                                <button class="btn btn-info green_bt pull-right" type="submit">
                                                    Save Changes
                                                </button>
                                                <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                                    Reset To Default
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Payor
                                            </label>

                                            <div class="col-sm-9">
                                                <select class="form-control" id="payor" name="payor">
                                                    <option value="">Select</option>

                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Group
                                            </label>

                                            <div class="col-sm-9">
                                                <select class="form-control" id="group" name="group">
                                                    <option value="">Select</option>
                                                    <option value="MEDICARE">MEDICARE</option>
                                                    <option value="MEDICARE">MEDICAID</option>
                                                    <option value="MEDICARE">TRICARE CHAMPUS</option>
                                                    <option value="MEDICARE">CHAMPVA</option>
                                                    <option value="MEDICARE">GROUP HEALTH PLAN</option>
                                                    <option value="MEDICARE">FECA BLK LUNG</option>
                                                    <option value="MEDICARE">BLUE CROSS</option>
                                                    <option value="MEDICARE">BLUE SHEILD</option>
                                                    <option value="MEDICARE">BCBS</option>
                                                    <option value="MEDICARE">OTHER</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-29">
                                                Patient's Name
                                            </label>
                                            <div class="col-sm-3">
                                                <input placeholder="First Name" class="form-control" id="field-29" name="FirstInitial" type="text">
                                            </div>
                                            <div class="col-sm-3">
                                                <input placeholder="Middle Name" class="form-control" id="field-29" name="MiddleInitial" type="text">
                                            </div>
                                            <div class="col-sm-3">
                                                <input placeholder="Last Name" class="form-control" id="field-29" name="LastInitial" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-32">
                                                Date of Birth
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="input-group" >
                                                    <input class="form-control datepicker" data-format="mm/dd/yyyy" id="field-32" name="DateofBirth" type="text" >
                                                    </input>
                                                    <div class="input-group-addon">
                                                        <a href="#">
                                                            <i class="linecons-calendar">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Gender
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <label class="cbr-inline">
                                                        <input checked="" class="cbr" name="radio-2" type="radio">
                                                        Male
                                                        </input>
                                                    </label>
                                                    <label class="cbr-inline">
                                                        <input class="cbr" name="radio-2" type="radio">
                                                        Female
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-28">
                                                Address
                                            </label>
                                            <div class="col-sm-9">
                                                <input placeholder="Street" class="form-control" id="streen" name="street" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-28">
                                                City
                                            </label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="city" name="city" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-28">
                                                State
                                            </label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="state" name="state">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-33">
                                                Zip
                                            </label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="zip" name="zip" type="text">
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-33">
                                                Phone
                                            </label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="field-33" name="Phone" type="text">
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">
                                                Patient Relationship To Insured 
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <label class="cbr-inline">
                                                        <input checked="" class="cbr" name="relation" type="radio">
                                                        Self
                                                        </input>
                                                    </label>
                                                    <label class="cbr-inline">
                                                        <input class="cbr" name="relation" type="radio">
                                                        Spouse
                                                        </input>
                                                    </label>
                                                    <label class="cbr-inline">
                                                        <input class="cbr" name="relation" type="radio">
                                                        Child
                                                        </input>
                                                    </label>
                                                    <label class="cbr-inline">
                                                        <input class="cbr" name="relation" type="radio">
                                                        Other
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group-separator">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-33">
                                                Is Patient's Condition Related To
                                            </label>
                                            <div class="col-sm-9">
                                                <label class="col-sm-3 form-control-static" for="field-33">
                                                    Employment?
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <label class="cbr-inline">
                                                            <input checked="" class="cbr" name="employment" type="radio">
                                                            Yes

                                                        </label>
                                                        <label class="cbr-inline">
                                                            <input class="cbr" name="employment" type="radio">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <label class="col-sm-3 form-control-static" for="field-33">
                                                    Auto Accident? 
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <label class="cbr-inline">
                                                                    <input checked="" class="cbr" name="employment" type="radio">
                                                                    Yes

                                                                </label>
                                                                <label class="cbr-inline">
                                                                    <input class="cbr" name="employment" type="radio">
                                                                    No
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" id="state" name="state">
                                                                <option value="">Select State</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <label class="col-sm-3 form-control-static" for="field-33">
                                                    Other Accident? 
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <label class="cbr-inline">
                                                            <input checked="" class="cbr" name="employment" type="radio">
                                                            Yes

                                                        </label>
                                                        <label class="cbr-inline">
                                                            <input class="cbr" name="employment" type="radio">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="form-group-separator">
                                        </div>
                                         <div class="form-group">
                                            <label class="col-sm-3 control-label" for="field-28">
                                                Claim Codes 
                                            </label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="claimCodes" name="claimCodes" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group-separator"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button class="btn btn-info green_bt pull-right" style="width:auto;" type="submit">
                                                    Next »
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
<div class="main">
 
   <!-- section 1 -->
   <form name="" action="" method="">
   
   <div class="first_sec payor">
    <font> PAYOR : &nbsp;</font>
    <select class="width_20">
       <option></option>
       <option></option>
    </select>
   </div>
 <table cellspacing="0" class="width_100">
  <tr>
    <td class="border width_40" rowspan="2"> 
       <font class="numbers" style="padding-top:8px;">1 </font>
         <div class="first_sec radio padding">
            <b>MEDICARE</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(Medicare #)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>MEDICAID</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(Medicaid #)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>TRICARE CHAMPUS</b><br /> 
            <center><input type="radio" name=""  /> <br /> </center>
            <small>(ID#/DOD#)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>CHAMPVA</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(Member id)</small> 
          </div>
          
          <div class="first_sec radio">
            <b>GROUP HEALTH PLAN</b><br /> 
            <center><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          
         <div class="first_sec radio padding">
            <b>FECA BLK LUNG</b><br /> 
            <center><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>BLUE CROSS</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>BLUE SHEILD</b><br /> 
            <center><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>BCBS</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          <div class="first_sec radio padding">
            <b>OTHER</b><br /> 
            <center style="margin-top:12px;"><input type="radio" name=""  /> <br /> </center>
            <small>(ID)</small> 
          </div>
          
          
    </td>
    
    <td class="border_2 width_20"> 
    <div class="first_sec">
      <font class="numbers">1A </font>
      <b>INSURED I.D. NUMBER </b><br /> 
       <p> <input type="text" class="form-control" /></p>
     </div>  
    </td>
  </tr>
 </table>
 
 <!-- section 1 end-->
 
 <!-- section 2 to 4 -->
 
  <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">2 </font>
      <b>PATIENT'S NAME </b><small>(Last,First, MI) </small><br /> 
     <p> 
      <input type="text"  class="width_30" class="form-control"/>&nbsp;
      <input type="text"  class="width_30" class="form-control"/>&nbsp;
      <input type="text" class="width_10" class="form-control"/>
     </p> 
     </div>  
   </td>
   <td class="border width_33">
   <div class="first_sec">
      <font class="numbers">3 </font>
       <b>PATIENT'S BIRTH DATE </b>
        <span class="text_right" style="margin-right:10px;"> <b>SEX </b> </span>
       <br /> 
      <p> 
      <input type="text" class="width_40" class="form-control"/>
      (MM/DD/YYYYY)
      <span class="text_right" style="margin-left:8px;">
      <select>
       <option>F</option>
       <option></option>
      </select>
      </span>
      </p>
     </div>  
   </td>
   <td class="border_2 width_33">
   <div class="first_sec">
      <font class="numbers">4 </font>
      <b>PATIENT'S NAME </b><small>(Last,First, MI) </small><br /> 
      <p>
      <input type="text"  class="width_30" class="form-control"/>&nbsp;
      <input type="text"  class="width_30" class="form-control"/>&nbsp;
      <input type="text" class="width_10" class="form-control"/>
      </p>
     </div>  
   </td>
  </tr>
  </table>
 
 <!-- section 2 to 4 end -->
 
 <!-- section 5 to 7 start -->
  <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33">
     <div class="first_sec">
       <font class="numbers">5 </font>
       <b>PATIENT'S ADDRESS </b><small>(Last,First, MI) </small><br />
       <p>
         STREET: 
         <input type="text"  class="width_85" /><br />
       </p>
       <p>
         CITY:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" class="width_30" />&nbsp;&nbsp;
         ST:
         <input type="text" class="width_15" />&nbsp;&nbsp;
         ZIP:
         <input type="text" class="width_25" /><br />
       </p>
       <p>
         PHONE:&nbsp;
         <input type="text" class="width_30" />&nbsp;&nbsp;
         (xxx-xxx-xxxx)
       </p> 
     </div>  
   </td>
   <td class="border width_33">
    <div class="first_sec">
      <font class="numbers">6 </font>
       <b>PATIENT RELATIONSHIP TO INSURED </b><br />  
        <p>  
          <input type="radio" name=""  />SELF
          <input type="radio" name=""  />SPOUSE
          <input type="radio" name=""  />CHILD
          <input type="radio" name=""  />OTHER
        </p><br />
          
      <font class="numbers">8 </font>
       <b>RESERVED FOR NUCC USE (NO DATA ENTRY) </b>
        <br />
        <br />
        <br /> 
     </div>  
   </td>
   <td class="border_2 width_33">
     <div class="first_sec">
      <font class="numbers">7 </font>
      <b>PATIENT'S ADDRESS </b><small>(Last,First, MI) </small><br />
      <p>
        STREET: 
        <input type="text" class="width_85" /><br />
      </p>
      <p>
        CITY:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="width_30" />&nbsp;&nbsp;
        ST:
        <input type="text"  class="width_15" />&nbsp;&nbsp;
        ZIP:
        <input type="text"  class="width_25" /><br />
      </p>
      <p>
        PHONE:&nbsp;
        <input type="text" class="width_30" />&nbsp;&nbsp;
        (xxx-xxx-xxxx)
      </p> 
     </div>  
   </td>
  </tr>
  </table>
 <!-- section 5 to 8 end -->
 
 <!-- section 9 to 11 -->
 <table class="width_100" cellspacing="0">
 <!--row 1-->
 <tr>
  <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">9 </font>
      <b>OTHER INSURED'S NAME </b><small>(Last,First, MI) </small><br /> 
      <p> 
       <input type="text"  class="width_40" />&nbsp;
       <input type="text"  class="width_40" />&nbsp;
       <input type="text" class="width_10" />
      </p> 
     </div>  
  </td>
  <td rowspan="4" class="border width_33">
     <div class="first_sec">
      <font class="numbers">10 </font>
       <b>IS PATIENT'S CONDITION RELATED TO: </b><br /> 
       <p> 
         &nbsp;&nbsp;A &nbsp;<b>EMPLOYMENT? </b><br />
       </p> 
       <p>  
          <input type="radio" name=""  />YES
          <input type="radio" name=""  />NO
       </p><br />
       <p> 
         &nbsp;&nbsp;B &nbsp;<b>AUTO ACCIDENT? </b><br />
       </p> 
       <p>  
          <input type="radio" name=""  />YES
          <input type="radio" name=""  />NO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          | STATE &nbsp;
          <select>
            <option></option>
          </select>
       </p><br />
       <p> 
         &nbsp;&nbsp;C &nbsp;<b>OTHER ACCIDENT? </b><br />
       </p> 
       <p>  
          <input type="radio" name=""  />YES
          <input type="radio" name=""  />NO
       </p><br />  
     </div>   
   </td>
    <td class="border_2 width_33" >
     <div class="first_sec">
      <font class="numbers">11 </font>
      <b>INSURED'S POLICY GROUP OR FECA # </b><br /> 
      <p> 
        <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>  
  </td>
 </tr>
 <!-- row2-->
  <tr>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">A </font>
      <b>OTHER INSURED'S POLICY OR GROUP # </b><br /> 
      <p> 
       <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>  
   </td>
   <td class="border_2 width_33" >
     <div class="first_sec">
      <font class="numbers">A </font>
       <b>INSURED'S DATE OF BIRTH </b>
       <span class="text_right" style="margin-right:10px;"><b>SEX </b></span>
       <br /> 
       <p> 
        <input type="text" class="width_40" />
        (MM/DD/YYYYY)
        <span class="text_right">
       <select>
         <option></option>
       </select>
       </span>
       </p>
      </div>    
   </td>
  </tr>
  <!--row3-->
  <tr>
    <td class="border width_33">
     <div class="first_sec">
       <font class="numbers">B </font>
       <b>RESERVED FOR NUCC USE </b><br /> 
       <br />
     </div>  
   </td>
    <td class="border_2 width_33" >
     <div class="first_sec">
      <font class="numbers">B </font>
      <b>OTHER CLAIM ID </b><br /> 
      <p> 
       <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>    
    </td>
  </tr>
  <!--row4-->
  <tr>
    <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">C </font>
      <b>RESERVED FOR NUCC USE </b><br /> 
     <br />
     </div>  
    </td> 
    <td class="border_2 width_33" >
     <div class="first_sec">
      <font class="numbers">C </font>
      <b>INSURANCE PLAN NAME OR PROGRAM NAME </b><br /> 
      <p> 
        <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>    
    </td>
  </tr>
  <tr>
    <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">D </font>
      <b>INSURANCE PLAN NAME OR PROGRAM NAME </b><br /> 
      <p> 
        <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>  
   </td>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">10D </font>
      <b>CLAIM CODES </b><br />
      <p> 
        <input type="text"  class="width_70" />&nbsp;
      </p> 
     </div>  
    </td>  
    <td class="border_2 width_33" >
     <div class="first_sec">
      <font class="numbers">D </font>
      <b>IS THERE ANOTHER HEALTH BENEFIT PLAN?<br />
      <p>  
          <input type="radio" name=""  />YES
          <input type="radio" name=""  />NO &nbsp;&nbsp;&nbsp;
          <b>If Yes,</b> Complete 9, 9A and 9D
      </p>
     </div>  
    </td>
  </tr>
 </table>
 
 <!-- section 9 to 11 end -->
 
 <!-- section 12 to 13 start -->
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_50 border_buttem">
     <div class="first_sec">
       <font class="numbers">12 </font>
       <b>PATIENT'S OR AUTHORIZED PERSON'S SIGNATURE </small><br />
       <a href="#">READ BEFORE COMPLETING AND SIGNING </a> <br />
        I authorize the release of any medical or other information necessary to process this claim. I also request
payment of government benefits either to myself or to the party who accepts assignment below.<br />
       <p>
         <input type="radio" name="id"  />YES
        <span class="text_right"> DATE:
         <input type="text" class="width_30" /><small>(MM/DD/YYYY)</small></span>
       </p>
     </div>  
   </td>
   <td class="border_2 width_50 border_buttem">
    <div class="first_sec">
       <font class="numbers">13 </font>
       <b>INSURED'S OR AUTHORIZED PERSON'S SIGNATURE <br />
       I authorize payment of medical benefits to the undersigned physician or supplier for services described
below.
      <p>
        <input type="radio" name=""  />YES &nbsp;
        <input type="radio" name=""  />NO &nbsp;
      </p>
     </div> 
   </td>
  </tr>
  </table>
 
 <!-- section 12 to 13 end -->
 
 <!-- section 14 to 16 start -->
 
 
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">14 </font>
      <b>DATE OF CURRENT:</b><br />
      Illness (First Symptom) or Injury (Accident) or Pregnancy (LMP) <br />
     <p> 
      <input type="text" class="width_50" />(MM/DD/YYYY)<br />
     </p>
      <p>
      <select class="width_100">
       <option></option>
      </select>
     </p> 
     </div>  
   </td>
   <td class="border width_33">
    <div class="first_sec">
      <font class="numbers">15 </font>
      <b>DATE OF CURRENT:</b><br />
       Give First Date <br />
     <p> 
      <input type="text"  class="width_50" /><small>(MM/DD/YYYY)</small><br />
     </p>
      <p>
      <select class="width_100">
       <option></option>
      </select>
     </p> 
    </div>  
   </td>
   <td class="border_2 width_33">
     <div class="first_sec">
      <font class="numbers">16 </font>
      <b>DATES PATIENT UNABLE TO WORK IN<br /><p>CURRENT OCCUPATION  <small>(MM/DD/YYYY)</small> </p>
     <p> 
     FROM: <input type="text" class="width_40" />&nbsp;
     TO: <input type="text" class="width_40" />&nbsp;
      
     </p> </br>
     </div>  
   </td>
  </tr>
  </table>
 
 <!-- section 14 to 16 end -->
 
 <!-- section 17 to 18 start -->
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">17 </font>
      <b> NAME OF REFERRING PHYSICIAN OR OTHER<br /> SOURCE </b><br />
     <p> 
      <input type="text"  class="width_50" />&nbsp;
      <input type="button" value="Clear" class="width_20" /><br />
     </p>
     <p>
      <input type="text"  class="width_50" />
     </p>
      
    </div>   
   </td>
   <td class="border width_33">
   <div class="first_sec">
      <font class="numbers">17A-B </font>
      <b> REFERRING/OTHER PHYSICIAN ID</b><br />
     <p> 
      17A. PIN:<input type="text"  class="width_30" />&nbsp;
      17B. PIN:<input type="text"  class="width_30" /><br />
     </p>
     <p>
      <input type="text"  class="width_50" />
     </p>
      
    </div>   
   </td>
   <td class="border_2 width_33">
   <div class="first_sec">
      <font class="numbers">18 </font>
      <b>HOSPITALIZATION DATES RELATED TO<br /> CURRENT SERVICES</b>  (MM/DD/YYYY) </p>
     <p> 
     FROM: <input type="text" class="width_40" />&nbsp;
     TO: <input type="text" class="width_40" />&nbsp;
      
     </p> </br>
     </div>  
   </td>
  </tr>
  </table>
 
 
 <!--section 17 to 18 end -->
 
 
 <!--section 19 to 23 end -->
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_66" rowspan="2" colspan="2">
     <div class="first_sec">
      <font class="numbers">19 </font>
      <b> RESERVED FOR LOCAL USE </b> 
      <textarea class="width_100" ></textarea>
      
     </div> 
     
     <div class="first_sec" style="margin-left:20px;">
      <b>REMARKS </b> 
      <textarea class="width_100" ></textarea>
      
     </div> <br>
     
     <p><div class="first_sec" style="margin-top:10px;width:100%;">
      <b>SELECT SPECIALTY OPTION IF APPLICABLE:</b> 
      <input type="text" class="width_40" > <input type="button" class="width_10" value="view" />
      
     </div></p>    
     
     
      
   </td>
   <td class="border_2 width_33">
   <div class="first_sec">
      <font class="numbers">20 </font>
       <b>OUTSIDE LAB? </b>
       
      <p>  
          <input type="radio" name="id"  />YES
          <input type="radio" name="id"  />NO 
          
      </p>
     </div>  
     
     <div class="text_right" style="font-size:10px;">
       <b>$ CHARGES </b>
      <p>  
          <input type="text" class="width_40" />
      </p>
     </div>  
   </td>
  </tr>
  <tr>
   <td class="border_2 width_33">
   <div class="first_sec">
      <font class="numbers">22 </font>
      <b> RESUBMISSION CODE </b><br>
      <input type="text" class="width_100" />
      
     </div>  
     
     <div class="text_right">
      
       <b>ORIGINAL REF. NO.</b><br>
      <input type="text" class="width_50" />
      
     </div>  
   </td>
  </tr>
  <tr>
   <td class="border width_66" rowspan="2" colspan="2">
     <div class="first_sec">
      <font class="numbers" style="padding-top:5px;">21</font>
      <b>DIAGNOSIS OR NATURE OF ILLNESS OR INJURY <small>(Relate Items A-L to Item 24E) </small>ICD-10-CM <input type="checkbox" /> <br /> <br>
      <div class="first_sec width_20">
        A. &nbsp;<input type="text"  class="width_50" /> <br><br> 
        E. &nbsp;<input type="text"  class="width_50" />  <br><br>
        I. &nbsp;<input type="text"  class="width_50" />  <br><br>
      </div>
      
    <div class="first_sec width_20">
        B. &nbsp;<input type="text"  class="width_50" /> <br><br> 
        F. &nbsp;<input type="text"  class="width_50" />  <br><br>
        J. &nbsp;<input type="text"  class="width_50" />  <br><br>
      </div>
      
      <div class="first_sec width_20">
        C. &nbsp;<input type="text"  class="width_50" /> <br><br> 
        G. &nbsp;<input type="text"  class="width_50" />  <br><br>
        K. &nbsp;<input type="text"  class="width_50" />  <br><br>
      </div>
      
      <div class="first_sec width_20">
        D. &nbsp;<input type="text"  class="width_50" /> <br><br> 
        H. &nbsp;<input type="text"  class="width_50" />  <br><br>
        L. &nbsp;<input type="text"  class="width_50" />  <br><br>
      </div>
      
     </div>  
   </td>
   <td class="border_2 width_33">
   <div class="first_sec">
      <font class="numbers">23 </font>
      <b>PRIORAUTHORIZATION #</b><br />
     <p> 
      <input type="text" class="width_70" /><br />
     </p>
      <p>
      <select>
       <option></option>
      </select>
     </p> 
    </div>  
   </td>
  </tr>
  </table>
 
 <!--section 19 to 23 end -->
 
 <!--section 24 start -->
 <table class="width_100" cellspacing="0">
  <table class="width_100" cellspacing="0">
  <tr>
   <th class="border width_1">
    <div class="first_sec">
    <font class="numbers">24 </font>
    </div>
   </th>
   <th class="border width_100" >
    
     A 
    
   </th>
   <th class="border" >
    
     B 
   </th>
   <th class="border width_10" >
     C 
   </th>
   <th class="border width_10" >
    D 
   </th>
   <th class="border width_10" >
     E 
   </th>
   <th class="border width_10" >
    F 
   </th>
   <th class="border width_10" >
     G 
   </th>
   <th class="border width_10" >
     H 
   </th>
   <th class="border width_10" >
     I 
   </th>
   <th class="border_2 width_10" >
     J 
   </th>
  </tr>
  <tr>
    <td class="border width_1">#</td>
    <td class="border">
      Date(s) of Service 
    </td>
    <td class="border width_1">
      Place of Service
    </td>
    <td class="border width_1">
      EMG
    </td>
    <td class="border width_1">
     Procedures,Services,or supplies CPT&reg;
    </td>
    <td class="border width_1">
      Diag. Pointers
    </td>
    <td class="border width_1">
      $ Charges
    </td>
    <td class="border width_1">
      Days or Units 
    </td>
    <td class="border width_1">
        EPSDT Family Plan
    </td>
    <td class="border width_1">
        ID. QUAL
    </td>
    <td class="border_2 width_1">
        Rendering #Provider ID.
    </td>
  </tr>
  <tr>
    <td class="border width_1" rowspan="2" >1</td>
    <td class="border" >
     <p> 
      <div class="first_sec"> FROM: <input type="text" class="width_30" />&nbsp;
       TO: <input type="text" class="width_35" />&nbsp; </div>
     </p>
    </td>
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
     
     <td class="border" >
    
       <input type="text" class="width_40"  />&nbsp; |
       
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100"/>
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border_2" >
    
       <p> PIN </p>
       
    </td>
    
    <td class="border_2" >
    
       <input type="text" class="width_100" />
       
    </td>
     
  </tr>
  <tr>
     <td colspan="8" class="border">
       <p>Comment: </p>
     </td>
     
     <td class="border" >
    
       <p> NPI </p>
       
    </td>
    
    <td class="border_2" >
    
       <input type="text" class="width_100" />
       
    </td>
     
  </tr>
  
  
  <tr>
    <td class="border width_1" rowspan="2" >2</td>
    <td class="border" >
     <p> 
      <div class="first_sec"> FROM: <input type="text" class="width_30" />&nbsp;
       TO: <input type="text" class="width_35" />&nbsp; </div>
     </p>
    </td>
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
     
     <td class="border" >
    
       <input type="text" class="width_40" />&nbsp; |
       
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       <input type="text" class="width_10" />
       
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <input type="text" class="width_100" />
       
    </td>
    
    <td class="border" >
    
       <p> PIN </p>
       
    </td>
    
    <td class="border_2" >
    
       <input type="text" class="width_100" />
       
    </td>
     
  </tr>
  <tr>
     <td colspan="8" class="border">
       <p>Comment: </p>
     </td>
     
     <td class="border" >
    
       <p> NPI </p>
       
    </td>
    
    <td class="border_2" >
    
       <input type="text" class="width_100" />
       
    </td>
     
  </tr>
  </table>
 <!--section 24 end -->
 
 <!--section 25 to 30 start -->
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33">
     <div class="first_sec">
      <font class="numbers">25 </font>
      <b>FEDERAL TAX ID NUMBER</b><br /> 
      <p>
       <input type="text" class="width_60" />&nbsp;
       <input type="radio" name=""  />SSN &nbsp;
        <input type="radio" name=""  />EIN &nbsp;
      </p>
      
     </div>  
   </td>
   <td class="border width_33">
   <div class="first_sec">
      <font class="numbers">26 </font>
       <b> PATIENTACCOUNT# </b>
       <br />
     <p>   
      <input type="text"  class="width_50" />
     </p> 
     </div>  
     
     <div class="first_sec">
      <font class="numbers">27 </font> 
      <b>ACCEPTASSIGNMENT </b>
       <br />
     <p>   
      <input type="radio" name=""  />YES &nbsp;
        <input type="radio" name=""  />NO &nbsp;
     </p> 
     </div>  
   </td>
   <td class="border_2 width_33">
    <div class="first_sec">
      <font class="numbers">28 </font>
      <b>TOTALCHARGES </b>&nbsp;
      29 <b>AMOUNTPAID </b>&nbsp;&nbsp;&nbsp;
      30 <b><small>RESERVED FOR</small></b>
      <br /> 
      <p>
        $<input type="text" class="width_30" />&nbsp;
        $<input type="text" class="width_30" /> &nbsp;&nbsp;&nbsp;&nbsp;
        NUCCUSE
      </p>
    </div>  
   </td>
  </tr>
  </table>
 
 
 
 
 <!--section 25 to 30 end -->
 
 <!--section 31 to 33 start -->
 <table class="width_100" cellspacing="0">
  <tr>
   <td class="border width_33 border_bottom" style="vertical-align:text-top;">
     <div class="first_sec">
      <font class="numbers">31 </font>
      <b>SIGNATURE OF PHYSICIAN OR SUPPLIER </b><br/>
      <p>
      <small>(LAST, FIRST, MIDDLE) - INCLUDING DEGREES OR CREDENTIALS </small><br /> 
      </p>
      <input type="text" class="width_40" />&nbsp;
      <input type="text" class="width_40" />&nbsp;
      <input type="text" class="width_10" />
      <p> 
        TITLE:<input type="text"  class="width_60" /><br />
      </p>
      <p>  
        DATE:&nbsp;<input type="text" class="width_40" /><br />
      </p>
     </div>  
   </td>
   <td class="border width_33 border_bottom">
   <div class="first_sec">
      <font class="numbers">32 </font>
      <b>SERVICE FACILITY LOCATION INFO </b><br /> 
      <p> 
        NAME: &nbsp;&nbsp;<input type="text"  class="width_60" /><br />
      </p>
      <p>  
        STREET:<input type="text"  class="width_70" /><br />
      </p>
      <p>
        CITY:&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="text"  class="width_30" />&nbsp;&nbsp;
       ST:
       <select
         <option></option>
       </select>
       ZIP:
       <input type="text"  class="width_25" /><br />
      </p>
      <p> 
      32A.NPI:<input type="text"  class="width_30" />
      32B.LEGACY:<input type="text"  class="width_30" />
     </p>
     <p>
     LEGACY ID QUALIFIER:<br/>
     <input type="text"  class="width_70" />
     </p>
     </div>  
   </td>
   <td class="border_2 width_33 border_bottom">
   <div class="first_sec">
      <font class="numbers">33 </font>
      <b> BILLING PROVIDER INFO & PHONE # </b><br /> 
      <p> 
        NAME: &nbsp;&nbsp;<input type="text"  class="width_60" /><br />
      </p>
      <p>  
        STREET:<input type="text"  class="width_70" /><br />
      </p>
      <p>
        CITY:&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text"  class="width_30" />&nbsp;&nbsp;
        ST:
        <select>
         <option></option>
         <option></option>
        </select>
        ZIP:
        <input type="text"  class="width_25" /><br />
       </p>
       <p>
        PHONE:
        <input type="text" class="width_30" />&nbsp;&nbsp;
       (xxx-xxx-xxxx)
      </p>
      <p> 
       33A.NPI:<input type="text" class="width_30" />
       33B.LEGACY:<input type="text"  class="width_30" />
      </p>
      <p>
       <input type="text"  class="width_70" />
      </p>
    
     </div>  
    </td>
   </tr>
  </table>
 <!--section 31 to 33 end -->
 
 <div style="margin-top:10px;"> 
  <input type="submit"  />
 </div>
 </form>
 <!--form end -->
 
 </div>


</div>
