<style>
    input[type=radio] {
        opacity: 1;
        z-index: 9999;
        height: 13px;
        width: 13px;
    }
    .radio-label{
        position: relative;
        padding-left: 15px;
    }
    .radio-label input[type=radio]{
        position: absolute;
        left: 0px;
        bottom: 3px;
    }
</style>
<div class="page-body">
    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">
                Place Of Service
            </h1>
            <p class="description">
                Find a place of service
            </p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="border0 scroll">
                        <table id="example-1" class="table table-striped table-bordered  table table-small-font table-bordered table-striped" cellspacing="0" ng-if="locationLookup.locations.length" datatable-setup display-print="{{billingSession.processdMode?'true':'false'}}" datatable-obj="billingSession.datatableObj">
                            <thead>
                                <tr>
                                    <th class="text-center" nowrap><span class="">Select</span></th>
                                    <th class="" nowrap><span class="">Place Code</span></th>
                                    <th class="" nowrap><span class="">Place Of Service</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="location in locationLookup.locations">
                                    <td class="text-center">
                                        <input type="radio" value="{{location.code}}" name="locationselection" ng-model="locationLookup.selectedLocation"  />
                                    </td>
                                    <td class="">{{location.code}}</td>
                                    <td class="">{{location.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger btn-single" ng-click="locationLookup.close();">Cancel</button>
                        <button ng-disabled="!locationLookup.selectedLocation" type="button" class="btn btn-info btn-single" ng-click="locationLookup.submit();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

