<div class="page-title full-width" title="Native Elements"
     description="Plain text boxes, select dropdowns and other basic form elements">
    <div class="title-env" style="width:80%">
        <h1 class="title ng-binding">Document Library</h1>
        <p class="description ng-binding">List of Documents used in across the app</p>
    </div>
    <div class="title-env" style="width:20%">
        <a class="btn btn-secondary pull-right" ng-click="viewDocuments.addEditPopup()" style="margin-top: 10px;">Add
            New Document</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-striped" id="example-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="20%">Type</th>
                    <th width="15%">Actions</th>
                </tr>
            </thead>

            <tbody class="middle-align">
                <tr role="row" class="odd" ng-repeat="document in viewDocuments.companyDocuments"
                    total-items="totalRecords">
                    <td>{{document.name}}</td>
                    <td>{{document.type}}</td>
                    <td>
                        <div class="center">
                            <a class="btn icon-left fa fa-pencil edit_button ng-scope"
                               ng-click="viewDocuments.addEditPopup(document);" tooltip="Edit"><span
                                    class="ed_b"></span></a>
                            <a class="btn icon-left fa fa-trash-o delete_button" 
                               href="" ng-click="viewDocuments.deleteDocumentModal(document);" tooltip="Delete"><span class="ed_b"></span></a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="documentDeleteModal">
    <div class="modal-header">
        <h4 class="modal-title">Delete Document</h4>
    </div>

    <div class="modal-body">

        Are you sure you want to delete this document?

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success"
                ng-click="documentDeleteModal.confirm(documentDeleteModal.document);">Yes
        </button>
        <button type="button" class="btn btn-red" ng-click="documentDeleteModal.dismiss();">No</button>
    </div>
</script>