<style type="text/css">
    .eventstoload {
        display: none;
    }
</style>
<div class="events-list" ng-if="day.events.length > 0" style="padding-top:35px">
    <!-- Employee View -->
    <div 
        ng-repeat="temp_event in day.events | calendarLimitTo: 2 : 0"
        ng-if="type == 'employee'"
        ng-click="onEventClick({calendarEvent: event}, temp_event, false, $event)" 
        ng-style="{'width': temp_event.daySpan == 1 ? (96 * temp_event.daySpan) + '%' : (100 * temp_event.daySpan) + '%', position:'relative', 'margin-left': '2' + 'px', 'color':'white','background': temp_event.eventType == 'S' ? temp_event.colorCode: temp_event.eventType == 'A' ? '#7D7D7D':'#000' }">

        <i class="glyphicon glyphicon-list-alt" ng-if="temp_event.note != undefined" tooltip-html-unsafe="<div>Note:<br>{{temp_event.note}}" style="margin-right:5px;"></i>
        <span 
            ng-if="temp_event.eventType == 'S'" 
            class="event-pointer"
            tooltip-html-unsafe="<div>Name: {{temp_event.patient.lName}}, {{temp_event.patient.fName}} <br> Phone Number: {{temp_event.patient.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.patient.patientAddress.address1}} <br> {{temp_event.patient.patientAddress.city + ', ' + temp_event.patient.patientAddress.state + '- ' + temp_event.patient.patientAddress.zipcode}}" 
            style="display:inline-block;margin-bottom:2px;text-align:center;">    
            {{temp_event.patient.lName| limitTo: 10}}
        </span>

        <span ng-if="temp_event.eventType == 'A'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">    
               {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
        </span>

        <span ng-if="temp_event.eventType == 'U'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">
               {{temp_event.reason}}
        </span>                
    </div>
    <div ng-if="day.events.length - 2 > 0 && type == 'employee'" ng-click="toggleEvent($event)" data-placement="bottom">+ {{day.events.length - 2}} more</div>

    <div class="eventstoload" ng-if="type == 'employee'">
        <div 
            ng-repeat="temp_event in day.events| calendarLimitTo: day.events.length - 1 : 2" 
            ng-if="day.events.length" 
            ng-click="onEventClick({calendarEvent: event}, temp_event, false, $event)"
            ng-style="{'width': temp_event.daySpan == 1 ? (96 * temp_event.daySpan) + '%' : (100 * temp_event.daySpan) + '%', position:'relative', 'margin-left': '2' + 'px', 'color':'white','background': temp_event.eventType == 'S' ? temp_event.colorCode: temp_event.eventType == 'A' ? '#7D7D7D':'#000' }">

            <span 
                ng-if="temp_event.eventType == 'S'" 
                class="event-pointer" 
                tooltip-html-unsafe="<div>Name: {{temp_event.patient.lName}}, {{temp_event.patient.fName}} <br> Phone Number: {{temp_event.patient.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.patient.patientAddress.address1}} <br> {{temp_event.patient.patientAddress.city + ', ' + temp_event.patient.patientAddress.state + '- ' + temp_event.patient.patientAddress.zipcode}}" 
                style="display:inline-block;margin-bottom:2px;">    
                {{temp_event.patient.lName| limitTo: 10}}
            </span>

            <span ng-if="temp_event.eventType == 'A'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">    
                {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
            </span>

            <span ng-if="temp_event.eventType == 'U'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">
                {{temp_event.reason}}
            </span>                
        </div>
    </div>


    <!-- Patient View -->
    <div 
        ng-repeat="temp_event in day.events | calendarLimitTo: 0 : 2"
        ng-if="type == 'patient'"
        ng-click="onEventClick({calendarEvent: event}, temp_event, false, $event)" 
        ng-style="{'width': temp_event.daySpan == 1 ? (96 * temp_event.daySpan) + '%' : (100 * temp_event.daySpan) + '%', position:'relative', 'margin-left': '2' + 'px', 'color':'white','background': temp_event.eventType == 'S' ? temp_event.colorCode: temp_event.eventType == 'A' ? '#7D7D7D':'#000' }">

        <span 
            ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? false: true && temp_event.employee.address2 == undefined ? false: true" 
            class="event-pointer" 
            tooltip-html-unsafe="<div>Name: {{temp_event.employee.lName}}, {{temp_event.employee.fName}} <br> Phone Number: {{temp_event.employee.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.employee.address1}} <br> {{temp_event.employee.address2}} <br> {{temp_event.employee.city + ', ' + temp_event.employee.state + '- ' + temp_event.employee.zipcode}}"
            style="display:inline-block;margin-bottom:2px;text-align:center;">    
            {{temp_event.employee.lName| limitTo: 10}}
        </span>

        <span 
            ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? false: true && temp_event.employee.address2 == undefined ? true: false" 
            class="event-pointer" 
            tooltip-html-unsafe="<div>Name: {{temp_event.employee.lName}}, {{temp_event.employee.fName}} <br> Phone Number: {{temp_event.employee.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.employee.address1}} <br> {{temp_event.employee.city + ', ' + temp_event.employee.state + '- ' + temp_event.employee.zipcode}}"
            style="display:inline-block;margin-bottom:2px;text-align:center;">    
            {{temp_event.employee.lName| limitTo: 10}}
        </span>

        <span 
            ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? true: false" 
            class="event-pointer"
            style="display:inline-block;margin-bottom:2px;text-align:center;">    
            {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
        </span>

        <span ng-if="temp_event.eventType == 'A'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">    
            {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
        </span>

        <span ng-if="temp_event.eventType == 'U'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">
            {{temp_event.reason}}
        </span>                
    </div>
    <div ng-if="day.events.length - 2 > 0 && type == 'patient'" ng-click="toggleEvent($event)" data-placement="bottom">+ {{day.events.length - 2}} more</div>

    <div class="eventstoload" ng-if="type == 'patient'">
        <div 
            ng-repeat="temp_event in day.events| calendarLimitTo: day.events.length - 1 : 2" 
            ng-if="day.events.length" 
            ng-click="onEventClick({calendarEvent: event}, temp_event, false, $event)"
            ng-style="{'width': temp_event.daySpan == 1 ? (96 * temp_event.daySpan) + '%' : (100 * temp_event.daySpan) + '%', position:'relative', 'margin-left': '2' + 'px', 'color':'white','background': temp_event.eventType == 'S' ? temp_event.colorCode: temp_event.eventType == 'A' ? '#7D7D7D':'#000' }">

            <i class="glyphicon glyphicon-list-alt" ng-if="temp_event.note != undefined" tooltip-html-unsafe="<div>Note:<br>{{temp_event.note}}" style="margin-right:5px;"></i>
            <span 
                ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? false: true && temp_event.employee.address2 == undefined ? false: true" 
                class="event-pointer" 
                tooltip-html-unsafe="<div>Name: {{temp_event.employee.lName}}, {{temp_event.employee.fName}} <br> Phone Number: {{temp_event.employee.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.employee.address1}} <br> {{temp_event.employee.address2}} <br> {{temp_event.employee.city + ', ' + temp_event.employee.state + '- ' + temp_event.employee.zipcode}}"
                style="display:inline-block;margin-bottom:2px;text-align:center;">    
                {{temp_event.employee.lName| limitTo: 10}}
            </span>

            <span 
                ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? false: true && temp_event.employee.address2 == undefined ? true: false" 
                class="event-pointer" 
                tooltip-html-unsafe="<div>Name: {{temp_event.employee.lName}}, {{temp_event.employee.fName}} <br> Phone Number: {{temp_event.employee.phone|tel}} <br> Schedule Time: {{temp_event.startTime|ampm}} - {{temp_event.endTime|ampm}} <br> Address: {{temp_event.employee.address1}} <br> {{temp_event.employee.city + ', ' + temp_event.employee.state + '- ' + temp_event.employee.zipcode}}"
                style="display:inline-block;margin-bottom:2px;text-align:center;">    
                {{temp_event.employee.lName| limitTo: 10}}
            </span>

            <span 
                ng-if="temp_event.eventType == 'S' && temp_event.employeeId == undefined ? true: false" 
                class="event-pointer"
                style="display:inline-block;margin-bottom:2px;text-align:center;">    
                {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
            </span>

            <span ng-if="temp_event.eventType == 'A'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">    
                {{temp_event.startTime}}{{" - "}}{{temp_event.endTime}}
            </span>

            <span ng-if="temp_event.eventType == 'U'" class="event-pointer" style="display:inline-block;margin-bottom:2px;text-align:center;">
                {{temp_event.reason}}
            </span>                
        </div>
    </div>
</div>
