<div class="cal-context" ng-switch="view">
    <div class="alert alert-danger" ng-switch-default>The value passed to the view attribute of the calendar is not set</div>

    <div class="alert alert-danger" ng-hide="currentDay">The value passed to current-day attribute of the calendar is not set</div>

    <mwl-calendar-month
        events="events"
        current-day="currentDay"
        on-event-click="onEventClick"
        cell-template-url="{{ monthCellTemplateUrl}}"
        cell-events-template-url="{{ monthCellEventsTemplateUrl}}"
        ng-switch-when="month"
        ></mwl-calendar-month>

    <mwl-calendar-week
        events="events"
        current-day="currentDay"
        on-event-click="onEventClick"
        on-list-click="onListClick"
        on-timespan-click="onTimespanClick"
        ng-switch-when="week"
        list="list"
        total-items="totalItems"
        current-page="currentPage">
        ></mwl-calendar-week>
</div>
