<div class="cal-week-box" ng-class="{'cal-day-box': showTimes}">
  <div class="cal-row-fluid cal-row-head-week row-heading">
    <div class="cal-cell1weekempl col-heading">Employees</div>
    <div
      class="cal-cell1week"
      ng-repeat="day in view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
      mwl-element-dimensions="dayColumnDimensions">

      <span ng-bind="day.weekDayLabel" class="col-heading"></span>
      <br>
    </div>
  </div>

  <div class="cal-row-fluid cal-row-head-week row-data" ng-repeat="hour in hours track by $index">
    <div class="cal-cell1weekempl col-data col-data-empl">{{hour.name}}</div>
    <div
      class="cal-cell1week col-data"
      ng-repeat="day in view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
      mwl-element-dimensions="dayColumnDimensions">

      <span class="col-data">test</span>
      <span class="col-data">test</span>
      <span class="col-data">test</span>
      <br>
    </div>

  </div>

</div>
