<div class="page-body">

    <div>

        <!-- COMPLAINTS TITLE START -->
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">Complaints</h1>
                <p class="description">View All Complaints</p>
            </div>
        </div>
        <!-- COMPLAINTS TITLE END -->

        <!-- ADD BUTTON -->
        <div class="row justify-content-end">
            <div class="col-md-12">
                <button ui-sref="app.add-complaint" class="btn btn-primary btn-single btn-sm pull-right">Add New
                    Complaint</button>
            </div>
        </div>


        <!-- TABLE START -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li ui-sref="app.complaints({status:'open'})"
                        class="{{compCtrl.complaintType=='open'?'active':''}}">
                        <a href="" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-feed">+</i></span> <span class="hidden-xs">Open
                                Complaints</span>
                        </a>
                    </li>
                    <li ui-sref="app.complaints({status:'close'})"
                        class="{{compCtrl.complaintType=='close'?'active':''}}">
                        <a href="" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-feed">x</i></span> <span class="hidden-xs">Closed
                                Complaints</span>
                        </a>
                    </li>
                </ul>


                <div class="tab-content" style="padding-bottom:0px;">
                    <div id="home" class="tab-pane active">
                        <form class="form-horizontal">

                            <div class="panel-body">
                                <div class="panel-body pad_top0 pad0">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group col-sm-6 pull-left">
                                                <label class="col-sm-3 control-label pull-left"
                                                    style="min-width:110px;"><span style="float:left;">Show
                                                        Entries</span></label>
                                                <div style="width:70px; float:left;">
                                                    <select class="form-control input-sm"
                                                        ng-model="compCtrl.searchParams.limit">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 pull-right">
                                                <input type="search" class="form-control input-sm"
                                                    ng-model="viewPatient.searchParams.name" placeholder="Search by [Complaint Type, Complaint Method, Contact Type]"
                                                    ng-change="viewPatient.applySearch()">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row"> </div>

                                    <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div class="table-responsive scroll">
                                            <table id="example-4" ng-if="compCtrl.complaintsList.length"
                                                class="table table-striped table-bordered  table-small-font"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th ng-class="compCtrl.applySortingClass('lName')">Name of
                                                            Complainant</th>
                                                        <th>Type</th>
                                                        <th>Method</th>
                                                        <th>Contact Info</th>
                                                        <th>Received Date</th>
                                                        <th>Received By</th>
                                                        <th ng-if="compCtrl.complaintType == 'open'">Remaining Days</th>
                                                        <th ng-if="compCtrl.complaintType == 'open'">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr pagination-id="viewComplaintPagination"
                                                        dir-paginate="complaint in compCtrl.complaintsList| itemsPerPage: compCtrl.searchParams.limit"
                                                        total-items="totalRecords"
                                                        current-page="viewPatient.searchParams.pageNo">
                                                        <td>
                                                            <div ng-click="compCtrl.openEditModal(complaint, 'modal-5')"
                                                                style="cursor: pointer">
                                                                <div class="emp_user_hd">
                                                                    <div class="emp_user_name">
                                                                        {{complaint.complainantName}}</div>
                                                                    <!-- <p>{{viewPatient.insuranceProviderMap[patient.insuranceProviderId]}}</p> -->
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{complaint.complaintType}}</td>
                                                        <td>{{complaint.complaintMethod == 1 ? 'Phone': complaint.complaintMethod == 2? 'Writing': complaint.complaintMethod == 3? 'Email': 'In Person'}}</td>
                                                        <td>{{complaint.complainantContact}}</td>
                                                        <td>{{complaint.complaintDate | date}}</td>
                                                        <!-- <td>{{complaint.resolutionDate}}</td> -->
                                                        <td>{{complaint.complaintReceiverName}}</td>
                                                        <td ng-if="compCtrl.complaintType == 'open'"><span>{{compCtrl.getRemainingDaysForClosing(complaint.dateInserted)}}</span></td>
                                                        <td ng-if="compCtrl.complaintType == 'open'">
                                                            <div class="center">
                                                                <a ui-sref="app.add-complaint({id: complaint.id})" ng-click="compCtrl.setComplaint(complaint)"
                                                                    class="btn icon-left fa fa-pencil edit_button"
                                                                    href="" tooltip="Edit"><span
                                                                        class="ed_b"></span></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div ng-show="compCtrl.complaintsList.length">
                                        <div id="paginationButtons" class="text-right">
                                            <dir-pagination-controls boundary-links="true" max-size="9"
                                                template-url="app/tpls/dirPagination.tpl.html"
                                                pagination-id="viewComplaintPagination"
                                                on-page-change="compCtrl.pageChanged(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE END -->

    </div>
</div>