<style>
    h4 span {
        font-size: 12px;
        padding-left: 5px;
        color: #979898;
    }            
</style>
<div>    
    <div class="modal-header">		
        <h4 class="modal-title">{{confirmModal.title}}<span ng-if="confirmModal.subtitle">  {{confirmModal.subtitle}}</span></h4>        
    </div>

    <div class="modal-body">
        {{confirmModal.message}}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="confirmModal.ok();">Yes</button>
        <button type="button" class="btn btn-red" ng-click="confirmModal.cancel();">No</button>
    </div>
</div>
