<div class="row" ng-if="hasRetrieve">
    <form role="form" name="EmployeeNotesData" id="EmployeeNotesData"  novalidate>
        <div class="col-sm-10" >
            <textarea ng-model="data.note" class="form-control" name="note" placeholder="Write new note..." required rows="2"></textarea>
        </div>
        <div class="col-sm-2" style="margin-top: 1%;">
            <button type="button" class="btn btn-success" ng-click="addNote();" ng-if="!(data && data.id)">Add Note</button>
            <button type="button" class="btn btn-success" ng-click="saveNote();" ng-if="data && data.id">Save Note</button>
        </div>
    </form>                
</div>    
<div class="row" ng-if="hasCreate">                        
    <div class="col-md-12" ng-if="notes && notes.length > 0">
        <hr>
        <table class="table table-striped responsive" style="margin-top: -10px;margin-bottom: 0px">
            <thead>
                <tr>
                    <th width="15%">Created By</th>
                    <th width="15%" >Created On</th>
                    <th width="60%">Notes</th>
                    <th width="10%">Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in notes|orderBy: 'id':true">                                                   
                    <td width="15%">{{note.createdByName}}</td>
                    <td width="15%">{{note.dateInserted|date:dateFormat}}</td>
                    <td width="60%">{{note.note}}</td>
                    <td width="10%">
                        <a class="btn icon-left fa fa-pencil edit_button" ng-if="canEdit"  
                           href="" ng-click="editNote(note)" tooltip="Edit"><span class="ed_b"></span></a> 
                        <a class="btn icon-left fa fa-trash-o delete_button" ng-if="canEdit"
                           href="" ng-click="deleteNote(note.id)" tooltip="Delete"><span class="ed_b"></span></a>   
                    </td>
                </tr>
            </tbody>
        </table>
    </div>                
    <div class="col-md-12" ng-if="!(notes && notes.length > 0)">
        <hr>
        No Notes Found
    </div>
</div>
