    <div class="modal-header">
        <button type="button" class="close" ng-click="task.closePopup();" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > {{ task.title }}</h4>
    </div>
	
    
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <!-- <form role="form" class="form-horizontal ng-pristine ng-valid col-md-12"> -->
                <form class="form-horizontal validate col-md-12" id="task_form" name="taskModel.task_form" role="form"  ng-submit="taskModel.save()">
                	<div class="form-group">
						<label class="col-sm-2 control-label" for="tagsinput-1">Company position</label>
						<div class="col-sm-10">
							<select class="form-control" name="companyPositionId" multiple="multiple" id="companyPositionId" ng-model="task.companyPositionId" onblur="setSelectValidationMessage(this)" ng-options="cp.id as cp.position for cp in task.positions" itemid="Company Position">
					      	</select>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">

						<div class="col-sm-12">
							<accordion close-others="true" ng-repeat="language in task.languages" total-items="totalRecords">

								<accordion-group is-open="status1.open" ng-class="{'expanded': status1.open}">
									<accordion-heading>{{language.language}}</accordion-heading>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="field-1">Title</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model="language.task">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Options</label>
										
										<div class="col-sm-10">
											<chips ng-model="language.options">
											    <chip-tmpl>
											        <div class="default-chip">
											            {{chip}}
											            <span class="glyphicon glyphicon-remove" remove-chip></span>
											        </div>
											    </chip-tmpl>
											    <input chip-control></input>
											</chips>
										</div>
									</div>
								</accordion-group>
							</accordion>
						</div>
					</div>	

                	<div class="modal-footer">
                        <button type="button" class="btn btn-white" ng-click="task.closePopup();">Close</button>
                        <button type="submit" class="btn btn-info" ng-click="task.save();">Save changes</button>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    	function setSelectValidationMessage(element) {
    	    var elementName = element.getAttribute("name") + "-error";
    	    var itemId = element.getAttribute("itemid");
    	    $("#" + elementName).text('Please select ' + itemId + '.');
    	}
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($)
        {
            $("#companyPositionId").multiSelect({
                afterInit: function()
                {
                    // Add alternative scrollbar to list
                    this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                },
                afterSelect: function()
                {
                    // Update scrollbar size
                    this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                }
            });
        });
    </script>