<div class="page-title full-width" ng-if="layoutOptions.pageTitles" title="Native Elements" description="Plain text boxes, select dropdowns and other basic form elements">
	<div class="title-env" style="width:80%">
		<h1 class="title ng-binding">Tasks</h1>
		<p class="description ng-binding">Listing of Tasks</p>
	</div>
	<div class="title-env" style="width:20%">
		<a class="btn btn-secondary pull-right" ng-click="viewTask.addEditPopup();" ng-if="hasAccess('CREATE_TASK')" style="margin-top: 10px;">Add New Task</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>Title</th>
					<th>Options</th>
					<th>Company Position</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody class="middle-align">
				<tr role="row" class="odd" ng-repeat="task in viewTask.taskList" 
                                                    total-items="totalRecords">
					<td>{{task.task}}</td>
					<td>{{task.options}}</td>
					<td>{{task.companyPositionsString}}</td>
					<td>
						<div class="center">
							<a class="btn icon-left fa fa-pencil edit_button ng-scope" ng-if="hasAccess('UPDATE_TASK')" ng-click="viewTask.addEditPopup(task);" tooltip="Edit"><span class="ed_b"></span></a> 
							<a class="btn icon-left fa fa-ban deactivate_bt" href="" ng-if="task.status == 'a'" ng-click="viewTask.activateDeactivatePopup(task, 'taskActivateModal', 'deactivate')" tooltip="Deactivate"><span class="ed_b"></span></a>
                            <a class="btn icon-left fa fa-check edit_button" href="" ng-if="task.status == 'i'" ng-click="viewTask.activateDeactivatePopup(task, 'taskActivateModal', 'activate')" tooltip="Activate"><span class="ed_b"></span></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<script type="text/ng-template" id="taskModel">
    <div class="modal-header">
        <button type="button" class="close" ng-click="taskModel.closePopup();" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > {{ taskModel.title }}</h4>
    </div>
	
    
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <!-- <form role="form" class="form-horizontal ng-pristine ng-valid col-md-12"> -->
                <form class="form-horizontal validate col-md-12" id="task_form" name="taskModel.task_form" role="form"  ng-submit="taskModel.save()">

                	<div class="form-group">
						<label class="col-sm-2 control-label" for="tagsinput-1">Company position</label>
						
						<div class="col-sm-10">
							<select class="form-control" name="companyPositionId" multiple="multiple" id="companyPositionId"
						      ng-model="taskModel.task.companyPositionId" data-validate="required" data-message-required="Please select the company position." ng-options="position.id as position.position for position in taskModel.positions">						        
					      		<option value="">Select Company Position</option>
					      	</select>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">

						<div class="col-sm-12">
							<accordion close-others="true" ng-repeat="language in taskModel.languages" 
                                                    total-items="totalRecords">

								<accordion-group is-open="status1.open" ng-class="{'expanded': status1.open}">
									<accordion-heading>{{language.language}}</accordion-heading>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="field-1">Title</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" id="title" placeholder="Enter Title">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Options</label>
										
										<div class="col-sm-10">
											<select class="form-control" id="options" multiple>
												<option></option>
												<optgroup label="">
													<option>Good</option>
													<option>No</option>
													<option>Poor</option>
												</optgroup>
											</select>
										</div>
									</div>
								</accordion-group>
							</accordion>
						</div>
					</div>	

                	<div class="modal-footer">
                        <button type="button" class="btn btn-white" ng-click="taskModel.closePopup();">Close</button>
                        <button type="submit" class="btn btn-info" >Save changes</button>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="taskActivateModal">
    <div class="modal-header">      
    <h4 class="modal-title"> {{ taskActivateModal.title }}</h4>
    </div>

    <div class="modal-body">

    	Are you sure you want to {{taskActivateModal.action}} this Task?
    
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="taskActivateModal.confirm(taskActivateModal.task);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="taskActivateModal.dismiss();">No</button>
    </div>
</script>


