<div class="page-body">
    <!--PAGE TITLE START -->
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">
                {{addInsurer.editMode?'Update Insurance Provider':'Add Insurance Provider'}}
            </h1>
            <p class="description">
                {{addInsurer.editMode?'Edit A Insurance Provider Record By Following Information':'Create A Insurance Provider Record By Following Information'}}
            </p>
        </div>
    </div>
    <!--PAGE TITLE END -->
    <!-- FORM WIZARD WITH VALIDATION START HERE-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal validate" novalidate="" id="add_inusrer_form" name="add_inusrer_form" role="form" ng-submit="addInsurer.saveInsurer()" ng-init="addInsurer.initForm()">
                        <div class="row">
                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-info green_bt pull-right" type="submit" ng-disabled="addInsurer.disableSaveButton">
                                    Save Changes
                                </button>
                                <button class="btn btn-info btn-single gray_bt pull-right" type="reset" ng-click="addInsurer.resetInsurer()">
                                    Reset To Default
                                </button>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-12">
                                Insurance Name
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="field-12" name="InsuranceName" type="text" ng-model="addInsurer.insurerObj.insuranceName"
                                       data-validate="required"  data-message-required="Please enter Insurance Name." maxlength="100">
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-13">
                                Billing ID
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="field-13" name="BillingId" type="text"  ng-model="addInsurer.insurerObj.billingId"
                                       data-validate="required"  data-message-required="Please enter Billing ID." maxlength="100">

                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                EDI Processor 
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sboxit-1" name="ediProcessor" ng-model="addInsurer.insurerObj.mdol"
                                        data-validate="required"  data-message-required="Please select EDI Processor." maxlength="100">
                                    <option value="">
                                        Select
                                    </option>
                                    <option value="MD Online">
                                        MD Online
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Plan Type
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="sboxit-1" name="PlanType" ng-model="addInsurer.insurerObj.planType"
                                        data-validate="required"  data-message-required="Please select Plan Type." ng-options="planType.value as planType.label for planType in addInsurer.planTypes">
                                    <option value="">
                                        Select
                                    </option>
                                    <!--                                    <option value="mcd">
                                                                            Medicaid
                                                                        </option>
                                                                        <option value="mcr">
                                                                            Medicare
                                                                        </option>
                                                                        <option value="tc">
                                                                            Tricare Champus
                                                                        </option>
                                                                        <option value="cva">
                                                                            ChampVA
                                                                        </option>
                                                                        <option value="gh">
                                                                            Group Healthplan
                                                                        </option>
                                                                        <option value="fbl">
                                                                            Feca Black Lung
                                                                        </option>
                                                                        <option value="bc">
                                                                            Blue Cross
                                                                        </option>
                                                                        <option value="bs">
                                                                            Blue Shield
                                                                        </option>
                                                                        <option value="bcb">
                                                                            Blue Cross/Blue Sheild (BCBS)
                                                                        </option>
                                                                        <option value="oth">
                                                                            Other
                                                                        </option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-14">
                                Contact Name
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="field-14" name="ContactName" type="text" ng-model="addInsurer.insurerObj.contactName"
                                       data-validate="required" charactersonly data-message-required="Please enter Contact Name." maxlength="100">
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-15">
                                Contact Number
                            </label>
                            <div class="col-sm-9">
                                <input numbers-only="true" maxlength="10" class="form-control" id="field-15" name="ContactNumber" type="text" ng-model="addInsurer.insurerObj.contactNumber"
                                       data-validate="required,number,minlength[10],maxlength[10]"  data-message-required="Please enter Contact Number." data-message-maxlength="Phone Number must contain 10 digits"
                                       data-message-minlength="Phone Number must contain 10 digits">
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-16" >
                                Contact Address
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="field-16" name="ContactAddress" type="text" ng-model="addInsurer.insurerObj.contactAddress"
                                       data-validate="required"  data-message-required="Please enter Contact Address." maxlength="255">
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-17">
                                Contact Email
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="field-17" name="ContactEmail" type="text" ng-model="addInsurer.insurerObj.contactEmail"
                                       data-validate="email"  data-message-email="Please enter valid Contact Email." maxlength="100">
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-18">
                                Contract File
                            </label>
                            <div class="col-sm-9">
                                <!--                                <input class="form-control" id="field-18" name="ContractFile" type="file" ng-model="addInsurer.insurerObj.contractFile"
                                                                       data-validate="required"  data-message-required="Please upload Contract File." >-->
                                <div flow-init="addInsurer.uploadFile" flow-file-added="addInsurer.fileAdded($file, $flow)" flow-file-success="addInsurer.fileUploaded($message,$file,$flow)" flow-files-submitted="addInsurer.fileSelected($file,$flow)" flow-file-error="addInsurer.fileError( $file, $message, $flow )">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button type='button' class='btn btn-single gray_bt' style="margin-bottom:0px !important" id="contract_file" ng-model="addInsurer.insurerObj.contractFile" flow-btn name="contract_file" ng-disabled="addInsurer.disableUploadButton">Choose File</button>
                                        </div>
                                        <div class="col-sm-9">
                                            <label class="control-label">
                                            <a style="color: blue;text-decoration: underline" ng-href="{{addInsurer.baseUrl}}file/download/{{addInsurer.companyCode}}/i/{{addInsurer.insurerObj.contractFile}}">
                                                contract file{{addInsurer.insurerObj.contractFile|extension}}</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-show="addInsurer.fileObj.errorMsg != null && addInsurer.fileObj.errorMsg != ''">
                                            <span class="red">{{addInsurer.fileObj.errorMsg}}</span>
                                        </div> 
                                    </div>
                                    <div flow-transfers class="form-control-static" ng-show="transfers != null && transfers.length > 0 && transfers[0].progress()<1">
                                        <div ng-repeat="file in transfers">
                                            <div id="docFileprogress" class="progress" ng-show="file.progress() < 1 && addInsurer.showfileProgress">
                                                <div  class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress() * 100}}%;">
                                                    <!--{{file.progress() * 100 | number : 0}} %-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-19">
                                Contract Start Date
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group" ng-if='addInsurer.insurerObj.contractEndDate != null'>
                                    <input class="form-control datepicker" ng-model="addInsurer.insurerObj.contractStartDate" data-format="mm/dd/yyyy" id="field-19" name="ContractStartDate" type="text" data-validate="required"  data-message-required="Please enter Contract Start Date." max-date="addInsurer.insurerObj.contractEndDate">
                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                </div>
                                <div class="input-group" ng-if='addInsurer.insurerObj.contractEndDate == null'>
                                    <input class="form-control datepicker" ng-model="addInsurer.insurerObj.contractStartDate" data-format="mm/dd/yyyy" id="field-19" name="ContractStartDate" type="text" data-validate="required"  data-message-required="Please enter Contract Start Date." max-date="todayDate">
                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="field-20">
                                Contract End Date
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control datepicker" ng-model="addInsurer.insurerObj.contractEndDate" data-format="mm/dd/yyyy" id="field-20" name="ContractEndDate" type="text" data-validate="required"  data-message-required="Please enter Contract End Date." min-date="addInsurer.insurerObj.contractStartDate">
                                    <div class="input-group-addon">
                                        <a href="#">
                                            <i class="linecons-calendar">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-separator">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Care Type
                            </label>
                            <div class="col-sm-9">
                                <script type="text/javascript">
                                    jQuery(document).ready(function($)
                                    {
                                        $("#multi-select").multiSelect({
                                            afterInit: function()
                                            {
                                                // Add alternative scrollbar to list
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                                            },
                                            afterSelect: function()
                                            {
                                                // Update scrollbar size
                                                this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                                            }
                                        });
                                    });
                                </script>
                                <select class="form-control" ng-model='addInsurer.selectedCareTypes' ng-options="careType.id as careType.careTypeTitle for careType in addInsurer.careTypeList"  id="multi-select" multiple="multiple" name="CareType" data-validate="required"  data-message-required="Please select Care Type." ng-change="addInsurer.displayCareTypeModal = true">
                                    <!--                                    <option value="1" >
                                                                            Personal Care HHA Hourly       
                                                                        </option>
                                                                        <option value="2">
                                                                            Personal Care HHA Mutual     
                                                                        </option>
                                                                        <option value="3">
                                                                            Personal Care HHA Live In       
                                                                        </option>
                                                                        <option value="4">
                                                                            Personal Care HHA Live In-Mutual     
                                                                        </option>
                                                                        <option value="5">
                                                                            Nursing Care Initial Assessment          
                                                                        </option>
                                                                        <option value="6">
                                                                            Nursing Care Scheduled Visit  
                                                                        </option>
                                                                        <option value="7">
                                                                            Nursing Care Hourly                 
                                                                        </option>
                                                                        <option value="8">
                                                                            PT  Initial Assessment
                                                                        </option>
                                                                        <option value="9">
                                                                            PT Scheduled Visit  
                                                                        </option>
                                                                        <option value="10">
                                                                            OT  Initial Assessment                
                                                                        </option>
                                                                        <option value="11">
                                                                            OT Scheduled Visit  
                                                                        </option>
                                                                        <option value="12">
                                                                            NUT  Initial Assessment
                                                                        </option>
                                                                        <option value="13">
                                                                            NUT Scheduled Visit 
                                                                        </option>-->
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FORM WIZARD WITH VALIDATION END HERE-->
</div>
<script type="text/ng-template" id="modal-5">
    <form class="validate form-horizontal" name="careTypeForm" id="care_type_form" >
    <div class="modal-header">
    <button type="button" class="close" ng-click="careTypeModel.cancel();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{careTypeModel.title}}</h4>
    </div>

    <div class="modal-body">

    <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label add-padding-modal" for="rate">
    Rate
    </label>
    <div class="col-sm-3 add-padding-modal">
    <input class="form-control" name="radioRate" maxlength="10" numbers-only="true" decimalallowed type="text" ng-model="careTypeModel.careTypeObj.rate"> 

    </div>
    <div class="col-sm-1 add-padding-modal">
    <label class="control-label">Per</label>
    </div>
    <div class="col-sm-5 add-padding-modal">
    <div class="input-group">
    <label class="cbr-inline">
    <input class="cbr cbr-primary" value="unit" name="radioRate" type="radio" ng-model="careTypeModel.careTypeObj.unit" >
    Unit
    </label>
    <label class="cbr-inline">
    <input class="cbr cbr-primary" name="radioRate" value="visit" type="radio" ng-model="careTypeModel.careTypeObj.unit">
    Visit
    </label>
    <label class="cbr-inline">
    <input name="radioRate" class="cbr cbr-primary" value="day" type="radio" ng-model="careTypeModel.careTypeObj.unit">
    Day
    </label>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label add-padding-modal" for="billingCode">
    Billing Code 
    </label>
    <div class="col-sm-5 add-padding-modal">
    <input class="form-control" id="billingCode" name="billingCode" type="text" ng-model="careTypeModel.careTypeObj.billingCode" data-validate="required"  data-message-required="Please enter Billing Code.">
    </div>
    <div class="col-sm-4">

    </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label add-padding-modal" for="modifires1">
    Modifiers
    </label>
    <div class="col-sm-9">
    <div class="row">
    
    <div class="col-sm-6 input-group input-group-sm input-group-minimal custom-input-group-modal add-padding-modal">
        <span class="input-group-addon">
            1
        </span>
        <input class="form-control" id="modifires1" name="modifires1" type="text" ng-model="careTypeModel.careTypeObj.modifiers.modifier1"/>
    </div>

    <div class="col-sm-6 input-group input-group-sm input-group-minimal custom-input-group-modal add-padding-modal">
        <span class="input-group-addon">
            2
        </span>
        <input class="form-control" id="modifires2" name="modifires2" type="text" ng-model="careTypeModel.careTypeObj.modifiers.modifier2"/>
    </div>
    </div>
    </div>

    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="modifires1">

    </label>
    <div class="col-sm-9">
    <div class="row">
    
    <div class="col-sm-6 input-group input-group-sm input-group-minimal custom-input-group-modal add-padding-modal">
        <span class="input-group-addon">
            3
        </span>
        <input class="form-control" id="modifires3" name="modifires3" type="text" ng-model="careTypeModel.careTypeObj.modifiers.modifier3"/>
    </div>

    <div class="col-sm-6 input-group input-group-sm input-group-minimal custom-input-group-modal add-padding-modal">
        <span class="input-group-addon">
            4
        </span>
        <input class="form-control" id="modifires4" name="modifires4" type="text" ng-model="careTypeModel.careTypeObj.modifiers.modifier4"/>
    </div>
    </div>

    </div>

    </div>
    </div>




    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="careTypeModel.cancel();">Close</button>
    <button type="button" class="btn btn-red" ng-show="careTypeModel.showRemove" ng-click="careTypeModel.remove();">Remove</button>
    <button type="submit" class="btn btn-success" ng-click="careTypeModel.save();">Save changes</button>
    </div>
    </form>
</script>