<div class="row"  ng-init="addPatient.tab3DataInit()">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal validate" id="add_patient_form" novalidate="" name="add_patient_form" role="form" ng-submit="addPatient.savePatient()">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" type="submit">
                                Save Changes
                            </button>
                            <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                Reset To Default
                            </button>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Insurance Provider
                        </label>
                        <div class="col-sm-9">
                            <script type="text/javascript">
                                // jQuery(document).ready(function($)
                                // 	{
                                // 		$("#sboxit-1").selectBoxIt().on('open', function()
                                // 		{
                                // 			// Adding Custom Scrollbar
                                // 			$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                                // 		});
                                // 	});
                            </script>
                            <select class="form-control" id="sboxit-1" name="InsuranceProvider"
                                    data-validate="required" data-message-required="Please select Insurance Provider." ng-model="addPatient.patient.insuranceProviderId">
                                <option value="">
                                    Select
                                </option>
                                <option value="1">
                                    Company Name
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-41">
                            Plan Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-41" name="PlanName" type="text" ng-model="addPatient.patient.planName"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-42">
                            Policy Number
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-42" name="PolicyNumber" type="text" ng-model="addPatient.patient.policyNumber"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-43">
                            Insurance ID
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-43" name="InsuranceID" type="text" ng-model="addPatient.patient.insuranceId"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-44">
                            MRN Number
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-44" name="MRNNumber" type="text" ng-model="addPatient.patient.mrnNumber"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Is Patient The Subscriber
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <label class="cbr-inline">
                                    <input class="cbr" name="IsSubscriber" type="radio" ng-value="true" ng-model="addPatient.patient.isSubscriber">
                                    Yes
                                    </input>
                                </label>
                                <label class="cbr-inline">
                                    <input class="cbr" name="IsSubscriber" type="radio" ng-value="false" ng-model="addPatient.patient.isSubscriber">
                                    No
                                    </input>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" type="submit" ng-click="addPatient.navigateToTab($event, 'tab4')">
                                Next »
                            </button>
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" type="button" ng-click="addPatient.navigateToTab($event, 'tab2')">
                                « Previous
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FORM WIZARD WITH VALIDATION END HERE-->
<script type="text/javascript">
    // validate
    customJqueryValidation();
    jQuery(document).ready(function($) {
        setTimeout(function() {
            $(".fade-in-effect").addClass('in');
        }, 1);


//        // Validation
//        $("#add_patient_tab_3_form").validate({
//            rules: {//PlanName: {required: true},
//// PolicyNumber: {required: true},
//                InsuranceProvider: {required: true},
//// MRNNumber: {required: true},
//// InsuranceID: {required: true},
//            },
//            messages: {PlanName: {required: 'Please enter Plan Name.'},
//                PolicyNumber: {required: 'Please enter Policy Number.'},
//                InsuranceProvider: {required: 'Please select Insurance Provider.'},
//                MRNNumber: {required: 'Please enter MRN Number.'},
//                InsuranceID: {required: 'Please enter Insurance ID.'},
//            },
//        });
    });
</script>
