<div class="row" ng-init="addPatient.tab1DataInit()">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal validate" id="add_patient_form" novalidate="" name="add_patient_form" role="form" ng-submit="addPatient.savePatient()">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info green_bt pull-right" type="submit" ng-disabled="addPatient.disableSaveButton" ng-click="addPatient.setFromNext('tab1')">
                                Save Changes
                            </button>
                            <button class="btn btn-info btn-single gray_bt pull-right" type="reset">
                                Reset To Default
                            </button>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-28">
                            First Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-28" name="FirstName" type="text" maxlength="50"
                                   ng-model="addPatient.patient.fName" data-validate="required" data-message-required="Please enter First Name." />
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-29">
                            Middle Initial
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-29" name="MiddleInitial" type="text" maxlength="50"
                                   ng-model="addPatient.patient.middleInitial"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-30">
                            Last Name
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-30" name="LastName" type="text" maxlength="50"
                                   ng-model="addPatient.patient.lName" data-validate="required" data-message-required='Please enter Last Name.'/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-31">
                            Name Suffix
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-31" name="NameSuffix" type="text" maxlength="50"
                                   ng-model="addPatient.patient.nameSuffix"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-32">
                            Date of Birth
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group" >
                                <input class="form-control datepicker" max-date="addPatient.currentDate" data-format="mm/dd/yyyy" id="field-32" name="DateofBirth" type="text" ng-model="addPatient.patient.dateOfBirth" 
                                       data-validate="required,date" data-message-required="Please enter Date of Birth."/>
                                <div class="input-group-addon">
                                    <a href="#">
                                        <i class="linecons-calendar">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Gender
                        </label>
                        <div class="col-sm-9 form-control-static">
                            <div>
                                <label>
                                    <input value="M" name="Gender" type="radio" class="cbr" ng-model="addPatient.patient.gender" />
                                    Male
                                </label>
                                <label>
                                    <input name="Gender" value="F" type="radio" class="cbr" ng-model="addPatient.patient.gender"/>
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-33">
                            Phone
                        </label>
                        <div class="col-sm-9">
                            <input numbers-only="true" maxlength="10" class="form-control" id="field-33" name="Phone" type="text" ng-model="addPatient.patient.phone" 
                                   data-validate="required,number,minlength[10],maxlength[10]"
                                   data-message-required="Please enter Phone Number." data-message-minlength="Phone Number must contain 10 digits" data-message-maxlength="Phone Number must contain 10 digits"/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Languages Spoken
                        </label>
                        <div class="col-sm-9">
                            <div class="form-block">
                                <label class="checkbox col-sm-3" ng-repeat="language in addPatient.languagesKeyValue">
                                    <input checked="true" class="cbr" id="language{{$index}}" name="language{{$index}}" type="checkbox" ng-model="language.value"/>
                                    {{languages[language.key]}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Staffing Coordinator
                        </label>
                        <div class="col-sm-9">
                            <script type="text/javascript">
//                                jQuery(document).ready(function($)
//                                {
//                                    $("#StaffingCoordinator").selectBoxIt().on('open', function()
//                                    {
//                                        // Adding Custom Scrollbar
//                                        $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
//                                    });
//                                });
                            </script>
                            <select class="form-control" id="StaffingCoordinator"  ng-model='addPatient.patient.staffingCordinatorId' name="StaffingCoordinator"
                                    data-validate="required" data-message-required="Please select Staffing Coordinator."
                                    ng-options='emp.id as (emp.label) for emp in addPatient.staffCoordinatorList'>
                                <option value="">Select</option>
                                <!--<option ng-repeat="emp in addPatient.staffCoordinatorList" ng-value="{{emp.id}}">{{emp.fName}} {{emp.lName}}</option>-->
                                <!--<option value="1">1</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Nurse Case Manager
                        </label>
                        <div class="col-sm-9">
                            <script type="text/javascript">
//                                jQuery(document).ready(function($)
//                                {
//                                    $("#sboxit-2").selectBoxIt().on('open', function()
//                                    {
//                                        // Adding Custom Scrollbar
//                                        $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
//                                    });
//                                });
                            </script>
                            <select class="form-control" id="sboxit-2" name="NurseCaseManager" ng-model='addPatient.patient.nurseCaseManagerId'
                                    data-validate="required" data-message-required="Please select Nurse Case Manager."
                                    ng-options='emp.id as (emp.label) for emp in addPatient.nursingCareList'>
                                <option value="">
                                    Select
                                </option>
                                <!--<option ng-repeat="emp in " ng-value="{{emp.id}}">{{emp.fName}} {{emp.lName}}</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Care Coordinator
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-34" name="CareCoordinator" type="text" maxlength="255"
                                   ng-model='addPatient.patient.careCordinator'
                                   data-validate="required" data-message-required="Please enter Care Coordinator or Emergency Contact Name."/>
                        </div>
                    </div>
                    <div class="form-group-separator">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="field-34">
                            Care Coordinator Contact
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="field-35" name="Care4CoordinatorContact" type="text" maxlength="45"
                                   ng-model='addPatient.patient.careCordinatorContact' 
                                   data-validate="required" data-message-required="Please enter Care Coordinator or Emergency Contact Phone Number or Email Address."/>
                        </div>
                    </div>
                    <div class="form-group-separator" ng-if="addPatient.editMode">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!--                            <button ng-if="addPatient.editMode" class="btn btn-info green_bt pull-right" style="width:auto;" type="button" ng-click="addPatient.navigateToTab($event, 'tab2')">
                                                            Next »
                                                        </button>-->
                            <button class="btn btn-info green_bt pull-right" style="width:auto;" type="submit" ng-click="addPatient.setFromNext('tab2')">
                                Next »
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // validate
    customJqueryValidation();

    jQuery(document).ready(function($) {
        setTimeout(function() {
            $(".fade-in-effect").addClass('in');
        }, 1);
    }); // ready

</script>
