<style>
    .pad_top5 {
        padding: 5px 0px 0px 0px !important;
    }

    .pad_bt0 {
        padding-bottom: 0px !important;
    }

    .pad_top7 {
        padding-top: 7px !important;
    }

    .pad_lt0 {
        padding-left: 0;
    }

    .mar_bt12 {
        margin-bottom: 12px;
    }

    .array_input_item {
        display: grid;
        margin-top: 0.5em;
        padding-left: 0;
    }

    input[type="radio"],
    input[type="checkbox"] {
        opacity: 1;
        width: 15px;
        height: 15px;
        accent-color: #2c2e2f;
        margin: 0;
        cursor: pointer;
    }

    .option {
        display: flex;
        align-items: center;
        gap: 0.4em;
    }

    .checkbox_option {
        align-items: unset;
    }


    .checkbox_option input {
        margin: 1px 0 0 0;
    }

    .radio_option label {
        line-height: 1;
        margin: 0;
    }

    .checkbox_group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1em;
    }

    .subfield {
        margin-block: 0.5em;
        border: none;
        border-bottom: thin solid #B0B0B0;
        outline: none;
        width: min(100%, 250px);
    }

    .subfield:focus {
        border-color: #68b828;
    }

    .heading {
        text-align: center;
        border-bottom: thin solid;
        padding-block: 1em 0.25em;
        margin-bottom: 1em;
    }

    .list-item,
    .total-score {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .listing-details {
        padding: 2em;
        background: #2c2e2f;
        color: white;
    }

    .one-selector {
        padding-top: 7px;
    }


    .error-div {
        color: #cc3f44;
        font-size: 12px;
        margin-top: 1em;
    }

    .list_radio_options {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .list_radio_option {
        display: flex;
        align-items: center;
        gap: 0.3em;
    }

    .list_radio_option label {
        margin: 0;
        line-height: 1;
    }

    .tags {
        display: flex;
        gap: 0.5em;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    .tags span {
        padding: 0.25em 1em;
        background: #80808047;
        border-radius: 100px;
    }

    @media (max-width: 768px) {
        .control-label {
            text-align: left;
        }
    }
</style>

<!--================== HEADER ====================-->
<div class="page-title pad_bt0">
    <div class="title-env">
        <h1 class="title">{{editPatient.patientName + ' - ' + editPatient.recordTypesObj[editPatient.recordType]}}</h1>
        <span class="description">
            <ol class="breadcrumb bc-1 pad_top5" xe-breadcrumb>
                <li>
                    <a href="#/app/patient_records"><i class="fa-home"></i>Patient Records</a>
                </li>
                <li class="active">
                    <strong>Edit Patient</strong>
                </li>
            </ol>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <form name="myForm" class="form-horizontal validate" ng-submit="editPatient.submitForm()"
                id="edit_patient_form">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-info btn-single gray_bt pull-right" ng-click="editPatient.resetForm()"
                            type="button">
                            Reset To Default
                        </button>
                    </div>
                </div>
                <!-- track by field.id -->
                <div ng-repeat="field in editPatient.formDefinition " class="form-group">

                    <div class="form-group-separator"></div>

                    <!-- MULTIGROUP -->
                    <div class="multigroup" ng-if="field.multigroup">
                        <div ng-repeat="multifield in field.fields">
                            <div class="form-group">
                                <label for="{{'field' + multifield.id}}"
                                    class="control-label col-sm-3">{{multifield.label}}</label>
                                <div class="col-sm-9" ng-switch="multifield.type">
                                    <select class="form-control" name="{{multifield.name}}" id="{{'field' + multifield.id}}" ng-switch-when="select"
                                        ng-model="editPatient.formData[multifield.name]"
                                        itemid="Payroll Company Code A">
                                        <option value="" selected hidden>Please Select</option>
                                        <option value="{{option.value}}" ng-repeat="option in multifield.options">
                                            {{option.title}}
                                        </option>
                                    </select>

                                    <input class="form-control" type="{{ multifield.type }}"
                                        placeholder="{{multifield.placeholder}}" ng-switch-default
                                        ng-model="editPatient.formData[multifield.name]" name="{{multifield.name}}"
                                        ng-required="multifield.required">
                                </div>
                            </div>
                            <div class="form-group-separator"></div>
                        </div>


                    </div>

                    <!-- NOT MULTIGROUP -->
                    <div class="not-multigroup" ng-if="!field.multigroup">
                        <h3 ng-if="field.heading" class="heading">{{field.heading}}</h3>
                        <label class="col-sm-3 control-label" for="{{'field' + field.id}}">{{ field.label }}</label>
                        <div class="col-sm-9">
                            <div ng-switch="field.type">
                                <!--================== SELECT BOX ====================-->
                                <select class="form-control" name="{{field.name}}" id="" ng-switch-when="select"
                                    ng-model="editPatient.formData[field.name]" onblur="setValidationMessage(this)"
                                    itemid="Payroll Company Code A"
                                    ng-required="field.required">
                                    <option value="" selected hidden>Please Select</option>
                                    <option value="{{option.value}}" ng-repeat="option in field.options">
                                        {{option.title}}
                                    </option>
                                </select>
                                <!--================== DATE ====================-->
                                <!-- <input ng-switch-when="date" class="form-control"
                                    max="{{field.date_limit ? editPatient.setMaxDate(field.date_limit) : ''}}"
                                    type="{{ field.type }}" placeholder="{{field.placeholder}}"
                                    ng-model="editPatient.formData[field.name]" name="{{field.name}}"
                                    ng-required="field.required"> -->
                                <div class="input-group" ng-switch-when="date">
                                    <input type="text" class="form-control datepicker" enabled='M'
                                        data-format="mm/dd/yyyy" ng-model="editPatient.formData[field.name]"
                                        ng-required="field.required" />
                                    <div class="input-group-addon"> <a href="#"><i class="linecons-calendar"></i></a>
                                    </div>
                                </div>
                                <!--================== INPUT DEFAULT ====================-->
                                <input class="form-control" type="{{ field.type }}" placeholder="{{field.placeholder}}"
                                    ng-switch-default ng-model="editPatient.formData[field.name]" name="{{field.name}}"
                                    ng-required="field.required">
                                <!--================== TEXT AREA ====================-->
                                <textarea ng-switch-when="textarea" ng-model="editPatient.formData[field.name]"
                                    name="{{field.name}}" placeholder="{{field.placeholder}}" data-validate="required"
                                    data-message-required="Please enter note" class="form-control"
                                    id="{{'field' + field.id}}" cols="30" rows="10"
                                    ng-required="field.required"></textarea>
                                <!--================== RADIO CHECK ====================-->
                                <div ng-switch-when="radiocheck">
                                    <!-- oneselector -->
                                    <div class="row">
                                        <div class="col-sm-12 pad_top7" ng-if="field.oneSelector">
                                            <input type="{{field.oneSelector.type}}" name="{{field.name}}"
                                                id="{{field.oneSelector.id}}"
                                                placeholder="{{field.oneSelector.placeholder}}"
                                                ng-value="{{field.oneSelector.value}}"
                                                ng-model="editPatient.oneSelectors[field.oneSelector.id]"
                                                ng-change="editPatient.oneSelectorChanged(field.oneSelector.id, editPatient.oneSelectors[field.oneSelector.id], field)">
                                            <label for="{{field.oneSelector.id}}">{{field.oneSelector.label}}</label>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="pad_top7 ">
                                        <div ng-repeat="option in field.options" class="mar_bt12 pad_lt0"
                                            ng-class="{'col-md-4 col-lg-3 col-sm-6': field.options.length > 1, 'col-12': field.options.length === 1}"
                                            ng-if="(!option.showwhen || editPatient.showSibs[option.id] == option.id) ">
                                            <!-- radio -->
                                            <div class="option radio_option" ng-if="field.subtype == 'radio'">
                                                <input type="radio" class="cbr cbr-primary" checked
                                                    ng-model="editPatient.selectedRadios[field.name]" id="{{option.id}}"
                                                    ng-change="editPatient.radioChanged(field.name, option, editPatient.selectedRadios[field.name]);option.group ? editPatient.groupCaller(option.group_member):''"
                                                    ng-value="option.value" name="{{field.label}}">
                                                <label for="{{option.id}}">{{option.title}}</label>
                                            </div>
                                            <!-- checkbox -->
                                            <div class="option checkbox_option" ng-if="field.subtype == 'checkbox'">
                                                <input type="checkbox" ng-checked="option.checked"
                                                    ng-value="option.checked" name="{{field.name}}"
                                                    ng-disabled="editPatient.oneSelectors[field.oneSelector.id]"
                                                    id="{{option.id}}" ng-model="editPatient.checkBoxes[option.id]"
                                                    ng-change="editPatient.handleCheckboxChange(editPatient.checkBoxes[option.id], field.dbType, field.name, option); option.subfield ? editPatient.showSubField(option):''">
                                                <label for="{{option.id}}">{{option.title}}</label>
                                            </div>
                                            <!-- subfield -->
                                            <div
                                                ng-if="field.subtype == 'radio'? editPatient.selectedRadios[field.name] == option.value && option.subfield : editPatient.checkBoxSubs[option.id] === option.id && option.subfield">
                                                <div
                                                    ng-if="option.subfield.type != 'select' && option.subfield.type != 'date'">
                                                    <input class="subfield" type="{{option.subfield.type}}"
                                                        name="{{option.subfield.name}}"
                                                        ng-required="option.subfield.required"
                                                        ng-model="editPatient.subFields[option.subfield.name]"
                                                        ng-chang="field.subtype == 'radio' ? editPatient.subFieldChanged(option.subfield.name, editPatient.subFields[option.subfield.name]) : editPatient.subFieldChanged(option.subfield.name, editPatient.subFields[option.subfield.name])"
                                                        placeholder="{{option.subfield.placeholder}}">
                                                </div>
                                                <div ng-if="option.subfield.type == 'date'">
                                                    <input class="subfield" type="{{option.subfield.type}}"
                                                        name="{{option.subfield.name}}"
                                                        max="{{option.subfield.date_limit ? editPatient.setMaxDate(option.subfield.date_limit) : ''}}"
                                                        ng-required="option.subfield.required"
                                                        ng-model="editPatient.subFields[option.subfield.name]"
                                                        ng-chang="field.subtype == 'radio' ? editPatient.subFieldChanged(option.subfield.name, editPatient.subFields[option.subfield.name]) : editPatient.subFieldChanged(option.subfield.name, editPatient.subFields[option.subfield.name])"
                                                        placeholder="{{option.subfield.placeholder}}">
                                                </div>
                                                <div ng-if="option.subfield.type == 'select'">
                                                    <select name="{{field.name}}" id="" class="subfield"
                                                        ng-required="option.subfield.required"
                                                        ng-model="editPatient.subFields[option.subfield.name]"
                                                        ng-change="editPatient.subFieldChanged(option.subfield.name, editPatient.subFields[option.subfield.name])">
                                                        <option value="">Select</option>
                                                        <option ng-repeat="opt in option.subfield.options"
                                                            ng-value="opt.value">
                                                            {{opt.title}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--================== MULTI ARRAY ====================-->
                                <div ng-switch-when="nestedarray" class="">
                                    <div class="nested_array_item"
                                        ng-repeat="(itemIndex, item) in editPatient.formData[field.name]">
                                        <div class="array-item" ng-repeat="option in field.options">
                                            <div ng-if="option.type == 'select'">
                                                <select class="form-control" name="{{option.value}}"
                                                    ng-required="option.required"
                                                    ng-model="editPatient.formData[field.name][itemIndex][option.value]"
                                                    id="">
                                                    <option value="">Please Select</option>
                                                    <option value="{{selectoption.value}}"
                                                        ng-repeat="selectoption in option.select_options">
                                                        {{selectoption.title}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-12 array_input_item"
                                                ng-if="option.type == 'text' || option.type == 'date' || option.type == 'number'">
                                                <label for="{{option.id}}">{{option.title}}</label>
                                                <input class="subfield" name="{{option.value}}"
                                                    ng-required="option.required"
                                                    ng-model="editPatient.formData[field.name][itemIndex][option.value]"
                                                    type="{{option.type}}" id="{{option.id}}"
                                                    placeholder="{{option.placeholder}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-info pull-right green_bt" type="button"
                                                ng-click="editPatient.createNestedArray(field)">Add
                                                {{field.label}}</button>
                                            <button class="btn btn-info btn-single delet_bt pull-right" type="button"
                                                ng-click="editPatient.createNestedArray(field, true)"
                                                ng-if="editPatient.formData[field.name].length">Remove</button>
                                        </div>
                                    </div>
                                </div>

                                <!--================== TAGS ====================-->
                                <!-- <div ng-switch-when="tags">
                                    <input class="form-control" type="text" ng-model="editPatient.tagsObj[field.name]"
                                        ng-keypress="editPatient.tagsCreated($event, field.name)">
                                    <div class="tags">
                                        <span ng-repeat="item in editPatient.formData[field.name]">{{item}}</span>
                                    </div>
                                </div> -->
                                <div ng-switch-when="tags">
                                    <input class="form-control" type="text" ng-model="editPatient.tagsObj[field.name]"
                                        ng-keypress="editPatient.tagsCreated($event, field.name)">
                                    <div class="tags">
                                        <span ng-repeat="item in editPatient.formData[field.name]">{{item}}</span>
                                    </div>
                                </div>

                                <!--================== LISTING ====================-->
                                <div ng-switch-when="listing" class="listing">
                                    <div class="list-item" ng-repeat="(optionIndex, option) in field.options">
                                        <label ng-if="field.subtype == 'score'" for="{{option.id}}">{{option.title}} ({{
                                            option.points}} {{option.points <= 1 ? 'point' :'points'}})</label>
                                                <label for="{{option.id}}"
                                                    ng-if="field.subtype == 'radioselector'">{{option.title}}</label>
                                                <div ng-if="field.subtype == 'score'" class="check-box"><input
                                                        type="checkbox" ng-model="editPatient.listChecks[option.id]"
                                                        ng-change="editPatient.listCheckChanged(editPatient.listChecks[option.id], option, field)"
                                                        id="{{option.id}}">
                                                </div>
                                                <div ng-if="field.subtype == 'radioselector'"
                                                    class="list_radio_options">
                                                    <div ng-repeat="subOpt in option.suboptions"
                                                        class="list_radio_option">
                                                        <input type="radio" value="{{subOpt.value}}"
                                                            ng-checked="subOpt.selected"
                                                            ng-model="editPatient.formData[field.name][option.value]"
                                                            id="{{subOpt.id}}" name="{{option.id}}">
                                                        <label for="{{subOpt.id}}">{{subOpt.title}}</label>
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="total-score" ng-if="field.subtype == 'score'">
                                        <p>Total Score</p>
                                        <div class="total-score">{{editPatient.formData[field.name][field.total]}}</div>
                                    </div>
                                    <div class="listing-details" ng-if="field.subtype == 'score'">
                                        <div ng-bind-html="editPatient.sanitizeHtml(field.details)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-info green_bt pull-right" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BOTTOM SCRIPT START -->
<script type="text/javascript">
    function setValidationMessage(element) {
        var elementName = element.getAttribute("name") + "-error";
        var itemId = element.getAttribute("itemid");
        $("#" + elementName).text('Please enter ' + itemId + '.');
        console.error(elementName, itemId);
        console.info($('#' + elementName));

        //var errorMessage = 'Please enter ' + itemId + '.';
        // Remove any existing error message
        //$("#" + elementName).remove();
        // Add the error message element below the field
        //$(element).after('<div id="' + elementName + '" style="color: red;">' + errorMessage + '</div>');

    }
</script>