<style>
    .form-controls-group {
        display: grid;
        grid-template-columns: 1fr 75px;
    }

    .frequency-group {
        display: flex;
        /* grid-template-columns: ; */
    }

    .frequency-group input {
        width: auto;
    }

    textarea {
        resize: vertical;
    }

    .mt-7 {
        margin-top: 7px;
    }

    .sign-pad-border {
        border: 1px solid #B0B0B0;
    }

    .sign-pad-border-required {
        border: 1px solid #cc3f44;
    }

    .signError {
        padding-left: 24px;
        color: #cc3f44;
        font-size: 12px;
    }

    .unit-input {
        display: block;
        width: 100%;
        height: 32px;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #B0B0B0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .unit-input:focus {
        border-color: rgba(104, 184, 40, .5);
        outline: 0;
        /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(104, 184, 40, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(104, 184, 40, .6); */
    }

    input[type="checkbox"] {
        accent-color: black;
        width: 15px;
        height: 15px;
        opacity: 1;
        margin-top: 0;
    }
</style>

<!--================== HEADER ====================-->
<div class="row" ng-init="medOrder.dataInit()">
    <div class="col-sm-12">
        <div class="page-title pad_bt0">
            <div class="title-env">
                <h1 class="title"> {{medOrder.patientName + ' - Medical Orders'}} </h1>
                <span class="description">
                    <ol class="breadcrumb bc-1 pad_top5" xe-breadcrumb>
                        <li>
                            <a href="#/app/patient_records"><i class="fa-home"></i>Patient Records</a>
                        </li>
                        <li>
                            <a href="#/app/patient_records/{{medOrder.patientId}}/list">Records List</a>
                        </li>
                        <li class="active">
                            <strong>Medical Orders</strong>
                        </li>
                    </ol>
                </span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">




                <form class="form-horizontal validate" id="med_Order_form" novalidate=""
                name="med_Order_form" role="form"  ng-submit="medOrder.submitForm()" >
                <div class="row hidden-print">
                    <div class="col-sm-12">
                        <button class="btn btn-info btn-single gray_bt pull-right"
                            ng-click="clear(); medOrder.resetForm()" type="button">
                            Reset To Default
                        </button>
                    </div>
                </div>

              <!-- Patient Information Section -->
              <div class="form-group">
                <label class="control-label col-sm-3">Patient’s HI Claim No.</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="medOrder.patientHIClaimNo" disabled>
                </div>
             </div>

             <div class="form-group-separator"></div>

              <!-- Certification Period -->
              <div class="form-group">
                <label class="control-label col-sm-3">Certification Period</label>
                <div class="col-sm-9">
                    <!-- From Date -->
                    <label for="certificationPeriodFrom" for=" " class="col-sm-6" style="padding-left: 0px;">From Date:
                       <div class="input-group">
                        <input class="form-control datepicker"  placeholder="mm/dd/yyyy"
                            data-format="mm/dd/yyyy" id="certificationPeriodFrom" name="certificationPeriodFrom" type="text"
                            ng-model="medOrder.medicalOrderForm.certificationPeriodFrom" 
                            required
                            data-validate="required,date"
                            data-message-required="Please Enter Date From" />
                        <div class="input-group-addon">
                            <a href="#">
                                <i class="linecons-calendar">
                                </i>
                            </a>
                        </div>
                    </div>
                    </label>
                    <!-- To Date -->
                    <label for="certificationPeriodTo" class="col-sm-6" style="padding-right: 0px;">To Date:
                        <div class="input-group">
                            <input class="form-control datepicker"  placeholder="mm/dd/yyyy"
                                data-format="mm/dd/yyyy" id="certificationPeriodTo" name="certificationPeriodTo" type="text"
                                ng-model="medOrder.medicalOrderForm.certificationPeriodTo" 
                                required
                                data-validate="required,date"
                                data-message-required="Please Enter Date To" />
                            <div class="input-group-addon">
                                <a href="#">
                                    <i class="linecons-calendar">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Activities Permitted
                    </label>
                    <div class="col-sm-9">
                        <div style="padding-left: 5px;">
                            <label class=" checkbox col-sm-3" ng-repeat="activity in medOrder.activityOptionsKeyValue">
                                <input class="" id="activity{{$index}}" name="activity{{$index}}" type="checkbox" ng-model="activity.value" value="true"/>
                                <!-- {{activitys[activity.key]}} -->
                                {{activity.key}}
                            </label>
                            <label class=" checkbox col-sm-3">
                                <input class="" id="activityOther" name="activityOther" type="checkbox" ng-model="medOrder.otheractivityCheckbox" ng-change="medOrder.refreshactivitys()" />
                                Others
                            </label>
                            <label class=" col-sm-6 other-activity" ng-if="medOrder.otheractivityCheckbox">
                                <input id="activityOtherText" name="activityOtherText" class="form-control" data-role="tagsinput" type="text" ng-model="medOrder.medicalOrderForm.otheractivitys" tagsinput/>
                            </label>
                        </div>
                    </div>
                </div>

              <div class="form-group-separator"></div>

              <!-- Mental Status -->
            <div class="form-group">
                <label for="mentalStatus" class="control-label col-sm-3">Mental Status</label>
                <div class="col-sm-9">
                    <div style="padding-left: 5px;">
                        <label class="checkbox col-sm-3" ng-repeat="status in medOrder.mentalStatusKeyValue">
                            <input class="" id="mentalStatus{{$index}}" name="mentalStatus{{$index}}" type="checkbox" ng-model="status.value" value="true"/>
                            {{status.key}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Others input field -->
            <div class="form-group" ng-if="medOrder.mentalStatusKeyValue[7].value== true">
                <label for="otherMentalStatus" class="control-label col-sm-3">Other Mental Status</label>
                <div class="col-sm-9">
                    <input id="otherMentalStatus" name="otherMentalStatus" type="text" class="form-control" ng-model="medOrder.medicalOrderForm.otherMentalStatus" data-role="tagsinput" tagsinput/>
                </div>
            </div>


              <div class="form-group-separator"></div>

              <!-- Prognosis -->
              <div class="form-group">
                  <label for="prognosis" class="control-label col-sm-3">Prognosis</label>
                  <div class="col-sm-9">
                      <select name="prognosis" id="prognosis" class="form-control" ng-model="medOrder.medicalOrderForm.prognosis" data-validate="required,prognosis">
                        <option value="" selected disabled>-- Select One --</option>
                        <option value="Poor">Poor</option>
                        <option value="Guarded">Guarded</option>
                        <option value="Fair">Fair</option>
                        <option value="Good">Good</option>
                        <option value="Excellent">Excellent</option>
                      </select>
                  </div>
              </div>

            <div class="form-group-separator"></div>

              <!-- Orders for Discipline and Treatments -->
            <div ng-repeat="order in medOrder.medicalOrderForm.orders track by $index" ng-form="orderForm">
                <div class="form-group">
                    <label for="discipline" class="control-label col-sm-3">Discipline and Treatment</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="order.discipline" name="discipline{{$index}}" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="frequency" class="control-label col-sm-3 mt-7">Specify Frequency</label>
                    <div class="col-sm-9 mt-7">
                        <input type="text" class="form-control" ng-model="order.frequency" name="frequency{{$index}}" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <label for="duration" class="control-label col-sm-3 mt-7">Duration</label>
                    <div class="col-sm-9 mt-7">
                        <input type="number" class="form-control" ng-model="order.duration" name="duration{{$index}}" required>
                    </div>
                </div>
            
                <div class="col-sm-9 col-sm-offset-3 mt-7">
                    <input type="button" style="color: #fff;" value="Remove" class="btn btn-info green_bt"
                           ng-click="medOrder.removeOrder($index)">
                </div>
   
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <input type="button" value="Add More" class="btn btn-info green_bt pull-right" ng-click="medOrder.addMoreOrders()">
                </div>
            </div>

                <div class="form-group-separator"></div>

              <!-- Goals/Rehabilitation/Discharge Plans (Textarea) -->
              <div class="form-group">
                  <label for="goals" class="control-label col-sm-3">Goals/Rehabilitation/Discharge Plans</label>
                  <div class="col-sm-9">
                      <textarea name="goals" id="goals" class="form-control" rows="5" maxlength="1001" ng-model="medOrder.medicalOrderForm.goals" 
                      required
                      data-validate="required,text,maxlength[1000]"
                      data-message-required="Please enter Goals."
                      data-message-maxlength="Not More Then 1000 character"
                      
                      ></textarea>
                  </div>
              </div>



              <div class="form-group-separator"></div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Signature</label>
                <div class="col-sm-9">
                    <signature-pad width="550" height="175" style="border:1px solid #B0B0B0"
                        dataurl="medOrder.medicalOrderForm.signature" accept="medOrder.accept"
                        clear="clear"></signature-pad>
                    <button type="button" class="btn btn-default mt-7 btn-default-bootstrap"
                        ng-click="clear(); medOrder.clearSignatureCall()">Clear signature</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="medOrder.currentDateWithFormat" disabled
                        class="form-control">
                </div>
            </div>

            <div class="form-group-separator"></div>





              <!-- Physician Name and Address -->
              <div class="form-group">
                  <label for="physicianNameAndAddress" class="control-label col-sm-3">Physician Name and Address</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="physicianNameAndAddress" ng-model="medOrder.medicalOrderForm.physicianNameAndAddress" required disabled>
                  </div>
              </div>

              <div class="form-group-separator"></div>

<!-- Date of HHA Received Signed POT -->
<div class="form-group">
    <label for="dateOfHHASignedPOT" class="control-label col-sm-3">Date of HHA Received Signed POT</label>
    <div class="col-sm-9 mt-7">
        <hr  class="col-sm-4">
    </div>
</div>

<div class="form-group-separator"></div>


<!-- Attending Physician’s Signature and Date Signed -->
<div class="form-group">
    <label for="physicianSignatureDate" class="control-label col-sm-3">Physician’s Signature and Date</label>
    <div class="col-sm-9 mt-7">
        <hr  class="col-sm-4">
        <!-- <input type="text" class="form-control" id="physicianSignatureDate" ng-model="physicianSignatureDate"> -->
    </div>
</div>

<div class="form-group-separator"></div>



              <!-- Save Button -->
              <div class="row">
                  <div class="col-sm-12">
                      <button class="btn btn-info green_bt pull-right" type="submit">Save</button>
                  </div>
              </div>
          </form>



            </div>
        </div>
    </div>
</div>