
<div class="page-body"> 

    <div> 
        <!--PAGE TITLE START -->
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">View Patient Information</h1>
                <p class="description">View All Patient Information</p>
            </div>
        </div>
        <!--PAGE TITLE END --> 

        <!--TABLE START -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li ui-sref="app.patient-list({status:'active'})" class="{{viewPatient.viewType=='active'?'active':''}}">
                        <a href="" data-toggle="tab"> 
                            <span class="visible-xs"><i class="fa-user">+</i></span> <span class="hidden-xs">Active Patients</span>
                        </a> 
                    </li>
                    <li ui-sref="app.patient-list({status:'discharged'})" class="{{viewPatient.viewType=='discharged'?'active':''}}">
                        <a href="" data-toggle="tab">
                            <span class="visible-xs"><i class="fa-user">x</i></span> <span class="hidden-xs">Discharged Patients</span> 
                        </a> 
                    </li>
                    <li ui-sref="app.patient-list({status:'all'})" class="{{viewPatient.viewType=='all'?'active':''}}">
                        <a href="" data-toggle="tab"> 
                            <span class="visible-xs"><i class="fa fa-users"></i></span> <span class="hidden-xs">All Patients</span> 
                        </a> 
                    </li>
                </ul>
                <div class="tab-content" style="padding-bottom:0px;">
                    <div id="home" class="tab-pane active">


                        <div class="panel-body">
                            <div class="panel-body pad_top0 pad0">
                                <div id="example-1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="table-responsive scroll" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                                        <script type="text/javascript">
//                                             jQuery(document).ready(function($)
//                                             {
//                                             	$("#example-4").dataTable({
//                                             		aLengthMenu: [
//                                             			[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
//                                             		]
//                                             	});
//                                             });
                                        </script>
                                        <table id="example-4" ng-if="viewPatient.patientList.length" datatable-setup class="table table-striped table-bordered  table table-small-font table-bordered table-striped" cellspacing="0" datatable-obj="viewPatient.datatableObj">
                                            <thead>
                                                <tr>
                                                    <th width="23%" colspan="1" rowspan="1" tabindex="0">Name & Insurance Provider</th>
                                                    <th width="12%" colspan="1" rowspan="1" tabindex="0">Date Of Birth</th>
                                                    <th width="15%" colspan="1" rowspan="1" tabindex="0" class='nosorting'>Phone</th>
                                                    <th width="18%" colspan="1" rowspan="1" class='nosorting' tabindex="0">Address</th>
                                                    <th width="15%" colspan="1" rowspan="1" tabindex="0">Languages Spoken</th>
                                                    <th width="17%" data-priority="6" class='nosorting'>Actions</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="patient in viewPatient.patientList">
                                                    <td> <div ng-click="viewPatient.openEditModal(patient, 'modal-5')" style="cursor: pointer">
                                                            <!--<div class="user_img"> <img alt="user" class="img-cirlce img-responsive" src="assets/images/user-5.png"> </div>-->
                                                            <div class="emp_user_hd">
                                                                <div class="emp_user_name">{{patient.lName}}, {{patient.fName}} {{patient.middleInitial}}</div>
                                                                <p>{{viewPatient.insuranceProviderMap[patient.insuranceProviderId]}}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{patient.dateOfBirth|date :dateFormat}}</td>
                                                    <td>{{patient.phone| tel }}</td>

                                                    <td>
                                                        <div ng-show="patient.patientAddress">
                                                            <div>{{patient.patientAddress.address1}}</div>
                                                            <div ng-if="patient.patientAddress.address2 !== null">{{patient.patientAddress.address2}}</div>
                                                            {{patient.patientAddress.city}}, {{patient.patientAddress.state}}, {{patient.patientAddress.zipcode}}
                                                        </div>
                                                    </td>
                                                    <td>{{viewPatient.getLanguagesFromCode(patient.languagesSpoken)}}</td>
                                                    <td>
                                                        <div class="center">
                                                            <a class="btn icon-left fa fa-pencil edit_button" ng-click="viewPatient.edit(patient);" tooltip="Edit"><span class="ed_b"></span></a> 
                                                            <a class="btn icon-left fa fa-trash-o delete_button" ng-click="viewPatient.openDeleteModal(patient, 'deleteModel');" tooltip="Delete"><span class="ed_b" ></span></a>
                                                            <a class="btn icon-left fa fa-ban deactivate_bt" ng-if="patient.status == 'a'" ng-click="viewPatient.openDischargeModal(patient, 'dischargeModel');" tooltip="Discharge"><span class="ed_b"></span></a>
                                                            <a class="btn icon-left fa fa-check edit_button" ng-if="patient.status == 'd'" ng-click="viewPatient.openReadmitModal(patient, 'readmitModal');" tooltip="Readmit"><span class="ed_b"></span></a>
                                                            <a ng-if="patient.authorization" class="btn icon-left fa fa-download download_bt"  ng-href="{{viewPatient.baseUrl}}file/download/{{viewPatient.companyCode}}/p/{{patient.authorization}}?viewDownload=true" target="_blank" tooltip="Download Authorization"><span class="ed_b"></span></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table> 
                                    </div>
                                    <script type="text/javascript">

                                        // This JavaScript Will Replace Checkboxes in dropdown toggles
                                        jQuery(document).ready(function($)
                                        {
                                            setTimeout(function()
                                            {
                                                $(".checkbox-row input").addClass('cbr');
                                                cbr_replace();
                                            }, 0);
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TABLE END --> 
    </div>
</div>
<!--
<script>
function viewPatientTab1Ctrl($scope, $rootScope, $http) {

    $http({
      url: "/OnTime/api/patient/getActivePatients",
      method: 'POST',
      data: {},
      // headers: {
      //   // 'Content-Type': 'application/json',
      //   'requestToken': appData.authResult.token,
      //   'userName': appData.authResult.un,
      // },
    }).success(function(data, status, headers, config) {
      showLoadingBar({
        delay: .5,
        pct: 100,
        finish: function() {
          if (data) {
            $scope.patients = data;
          }
        }
      }); // showLoadingBar

    }).error(function(data, status, headers, config) {
      ontimetest.getPatients($scope, $rootScope, $http);

    }); // http


    $scope.edit = function(patient) {
      $rootScope.patient = {
        mode: 'edit',
        patientInfo: patient,
      };
      
      window.location.hash = '#/app/add_patient_tab_1';
    }; // edit

    $scope.delete = function(patientId) {
      alert("Are you sure you want to delete this patients Record?");

      var jsonObject = {
        id: patientId
      };
      var jsonStr = JSON.stringify(jsonObject);
      $http({
        url: "/OnTime/api/patient/deletePatient",
        method: 'POST',
        data: {},
        // headers: {
        //   // 'Content-Type': 'application/json',
        //   'payload': jsonStr,
        //   'requestToken': appData.authResult.token,
        //   'userName': appData.authResult.un,
        // },
      }).success(function(data, status, headers, config) {
        showLoadingBar({
          delay: .5,
          pct: 100,
          finish: function() {
            if (data) {
              // $scope.patients = data;
            }
          }
        }); // showLoadingBar
      }).error(function(data, status, headers, config) {
        //ontimetest.getPatients($scope, $rootScope, $http);
      }); // http
    }; // delete

    $scope.download = function(patientId) {
      window.open();
    }; // download

    $scope.discharge = function(patientId) {
      alert("Are you sure you want to discharge this patients Record?");

      var jsonObject = {
        id: patientId
      };
      var jsonStr = JSON.stringify(jsonObject);
      $http({
        url: "/OnTime/api/patient/dischargePatient",
        method: 'POST',
        data: {},
        // headers: {
        //   // 'Content-Type': 'application/json',
        //   'payload': jsonStr,
        //   'requestToken': appData.authResult.token,
        //   'userName': appData.authResult.un,
        // },
      }).success(function(data, status, headers, config) {
        showLoadingBar({
          delay: .5,
          pct: 100,
          finish: function() {
            if (data) {
              // $scope.patients = data;
            }
          }
        }); // showLoadingBar
      }).error(function(data, status, headers, config) {
        ontimetest.getPatients($scope, $rootScope, $http);
      }); // http
    }; // discharge

  } // viewPatientTab1Ctrl
</script>-->
<script type="text/ng-template" id="modal-5">



    <div class="modal-body">
    <div class="row">
    <div class="user_panel col-md-12">
    <div class="emp_user_hd">
    <div class="emp_user_name">{{selectPatientModel.patient.lName}}, {{selectPatientModel.patient.fName}} {{selectPatientModel.patient.middleInitial}}</div>
    <p>{{selectPatientModel.patient.insuranceProviderName}}</p>
    </div>
    <button type="button" class="close" ng-click="selectPatientModel.close();" aria-hidden="true">&times;</button>
    </div>

    </div>
    <hr/>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Gender</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.gender==='M'?'Male':'Female'}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Insurer</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.insuranceProviderName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Insurance ID</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.insuranceId}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Phone Number</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.phone | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Languages Spoken</strong></label>
    <div class="col-md-8">
    <span ng-if="selectPatientModel.patient.languagesSpoken== null || selectPatientModel.patient.languagesSpoken.length==0">N/A</span>
    <span ng-repeat="language in selectPatientModel.patient.languagesSpoken">{{languages[language]}}<label ng-if="$index<selectPatientModel.patient.languagesSpoken.length-1">, </label>
    </span>
    </div>
    </div>	

    </div>
    </div>

    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Address</strong></label>
    <div class="col-md-8" ng-show="selectPatientModel.patient.patientAddress">
    {{selectPatientModel.patient.patientAddress.address1}}
    <div ng-if="selectPatientModel.patient.patientAddress.address2 != null">
    {{selectPatientModel.patient.patientAddress.address2}}
    </div> 
    <div>{{selectPatientModel.patient.patientAddress.city}}, {{selectPatientModel.patient.patientAddress.state}}, {{selectPatientModel.patient.patientAddress.zipcode}}</div>
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Date Of Birth</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.dateOfBirth|date :dateFormat}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Coordinator</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.staffingCordinatorName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Nurse Case Manager</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.nurseCaseManagerName}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>Care Coordinator</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinator}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">

    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Phone</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorContact | tel}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    
    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Email</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorEmail}} 
    </div>
    </div>	

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    
    <div class="form-group">
    <label for="field-1" class="control-label col-md-4"><strong>C.C. Fax</strong></label>
    <div class="col-md-8">
    {{selectPatientModel.patient.careCordinatorFax | tel}} 
    </div>
    </div>	

    </div>
    </div>
    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="selectPatientModel.close();">Close</button>
    </div>
</script>
<script type="text/ng-template" id="deleteModel">
    <div class="modal-header">
    <h4 class="modal-title">{{deletePatientModel.patient.lName}}, {{deletePatientModel.patient.fName}} {{deletePatientModel.patient.middleInitial}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to delete this Patient?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="deletePatientModel.delete(deletePatientModel.patient);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="deletePatientModel.dismiss();">No</button>
    </div>
</script>
<script type="text/ng-template" id="dischargeModel">
    <div class="modal-header">
    <h4 class="modal-title">{{dischargePatientModel.patient.lName}}, {{dischargePatientModel.patient.fName}} {{dischargePatientModel.patient.middleInitial}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to discharge this Patient?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="dischargePatientModel.discharge(dischargePatientModel.patient);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="dischargePatientModel.dismiss();">No</button>
    </div>
</script>
<script type="text/ng-template" id="readmitModal">
    <div class="modal-header">
    <h4 class="modal-title">{{readmitPatientModal.patient.lName}}, {{readmitPatientModal.patient.fName}} {{readmitPatientModal.patient.middleInitial}}</h4>
    </div>

    <div class="modal-body">

    Are you sure you want to readmit this Patient?

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="readmitPatientModal.readmit(readmitPatientModal.patient);">Yes</button>
    <button type="button" class="btn btn-red" ng-click="readmitPatientModal.dismiss();">No</button>
    </div>
</script>

